<div class="general-info-container" *ngIf="customerId && customerTypeId">
  <h2 class="mb-3">ข้อมูลทั่วไป</h2>
  <form [formGroup]="form">
    <div class="row g-4">
      <!-- <div class="col-12 col-sm-4">
        <h3 class="mb-3">รายละเอียดผู้ใช้งาน</h3>
        <div class="general-info-wrapper">

          <div class="user-image-wrapper">
            <img src="assets/images/icons/user_image.svg" alt="User Image">
          </div>

          <div class="upload-image-wrapper">
            <button
              class="custom-btn btn-type-3"
              data-testid="uploadImageButton"
              id="uploadImageButton"
              title="อัพโหลด"
              (click)="onUpload()"
            >
              <icon-svg
                [color]="'#2255CE'"
                [size]="'m'"
                [path]="'assets/images/icons/upload.svg'"
              />
              Browse - Upload
            </button>
          </div>

          <h3 class="mb-3">ข้อมูลการรับใบกำกับภาษีแบบอัตโนมัติ</h3>

          <div class="form-group">
            <label class="label-input" for="emailInput">
              อีเมลที่ต้องการรับใบกำกับภาษี
            </label>
            <input
              class="form-control"
              data-testid="emailInput"
              formControlName="email"
              id="emailInput"
              type="text"
              [readonly]="true"
            >
          </div>

          <div class="form-group">
            <button
              class="custom-btn btn-type-4"
              data-testid="changeEmailButton"
              id="changeEmailButton"
              title="เพิ่ม / เปลี่ยน อีเมลรับใบกำกับภาษี"
              (click)="onChangeEmail()"
            >
              เพิ่ม / เปลี่ยน อีเมลรับใบกำกับภาษี
            </button>
          </div>

          <div class="form-group">
            <label class="label-input required-field" for="autoSelect">
              การรับเอกสารใบกำกับภาษีอัตโนมัติ
            </label>
            <ng-select
              class="form-control"
              [clearable]="false"
              data-testid="autoSelect"
              id="autoSelect"
              [items]="settingEmailList"
              [searchable]="false"
              [readonly]="!form.controls['email'].value"
            ></ng-select>
          </div>

        </div>
      </div> -->
      <div class="col-sm-12 col-lg-4">
        <ng-container [ngSwitch]="customerTypeId">
          <ng-container *ngSwitchCase="'1'">
            <h3 class="mb-3">ข้อมูลตามบัตรประชาชน</h3>
          </ng-container>
          <ng-container *ngSwitchCase="'2'">
            <h3 class="mb-3">ข้อมูลตามหนังสือเดินทาง</h3>
          </ng-container>
          <ng-container *ngSwitchCase="'3'">
            <h3 class="mb-3">ข้อมูลรายละเอียด</h3>
          </ng-container>
        </ng-container>
        <div class="general-info-wrapper">
          <ng-container [ngSwitch]="customerTypeId">
            <ng-container *ngSwitchCase="'1'">

              <div class="form-group">
                <label class="label-input" for="identificationInput">
                  หมายเลขบัตรประชาชน
                </label>
                <input
                  mask="0 0000 00000 00 0"
                  class="form-control"
                  data-testid="identificationInput"
                  formControlName="citizenId"
                  id="identificationInput"
                  type="text"
                >
              </div>

              <div class="form-group">
                <label
                  class="label-input"
                  for="expiredDateDatePicker"
                >
                  วันหมดอายุบัตร (วัน/เดือน/ปี)
                </label>
                <date-picker
                  class="datepicker-input"
                  [clearable]="false"
                  format="D MMMM YYYY"
                  formControlName="cardExpDate"
                  [id]="'expiredDateDatePicker'"
                  [invalid]="submitted && form.controls['cardExpDate'].errors ? true : false"
                  locale="th"
                  [placeholder]="'วันที่ เดือน ปี'"
                  [placement]="'bottom'"
                  [minDate]="minDate"
                ></date-picker>
              </div>

              <div class="form-group">
                <label class="label-input">เพศ</label>
                <div class="gender-selector">
                  <div class="gender-wrapper">
                    <input
                      data-testid="maleRadio"
                      formControlName="gender"
                      id="maleRadio"
                      value="M"
                      type="radio"
                    >
                    <label for="maleRadio">ชาย</label>
                  </div>
                  <div class="gender-wrapper">
                    <input
                      data-testid="femaleRadio"
                      formControlName="gender"
                      id="femaleRadio"
                      value="F"
                      type="radio"
                    >
                    <label for="femaleRadio">หญิง</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label
                  class="label-input"
                  for="firstNameInput"
                >
                  ชื่อ
                </label>
                <input
                  class="form-control"
                  data-testid="firstNameInput"
                  formControlName="firstName"
                  id="firstNameInput"
                  placeholder="ชื่อ"
                  type="text"
                >
              </div>

              <div class="form-group">
                <label
                  class="label-input"
                  for="lastNameInput"
                >
                  นามสกุล
                </label>
                <input
                  class="form-control"
                  data-testid="lastNameInput"
                  formControlName="lastName"
                  id="lastNameInput"
                  placeholder="ชื่อ"
                  type="text"
                >
              </div>

              <div class="form-group">
                <label
                  class="label-input"
                  for="birthDateDatePicker"
                >
                  วันเกิด (วัน/เดือน/ปี)
                </label>
                <date-picker
                  class="datepicker-input"
                  [clearable]="false"
                  format="D MMMM YYYY"
                  formControlName="birthdate"
                  [id]="'birthDateDatePicke'"
                  [invalid]="submitted && form.controls['birthdate'].errors ? true : false"
                  locale="th"
                  [placeholder]="'วันที่ เดือน ปี'"
                  [placement]="'bottom'"
                ></date-picker>
              </div>

              <div class="form-group">
                <label
                  class="label-input"
                  for="phoneInput"
                >
                  เบอร์ติดต่อ
                </label>
                <input
                  class="form-control"
                  data-testid="phoneInput"
                  formControlName="mobilePhone"
                  id="phoneInput"
                  mask="000 000 0000"
                  placeholder="081 000 0000"
                  type="text"
                >
              </div>

            </ng-container>
            <ng-container *ngSwitchCase="'2'">

              <div class="form-group">
                <label class="label-input" for="identificationInput">
                  หมายเลขหนังสือเดินทาง
                </label>
                <input
                  class="form-control"
                  data-testid="identificationInput"
                  formControlName="citizenId"
                  id="identificationInput"
                  type="text"
                >
              </div>

              <div class="form-group">
                <label
                  class="label-input"
                  for="expiredDateDatePicker"
                >
                  วันหมดอายุหนังสือเดินทาง (วัน/เดือน/ปี)
                </label>
                <date-picker
                  class="datepicker-input"
                  [clearable]="false"
                  format="D MMMM YYYY"
                  formControlName="cardExpDate"
                  [id]="'expiredDateDatePicker'"
                  [invalid]="submitted && form.controls['cardExpDate'].errors ? true : false"
                  locale="th"
                  [placeholder]="'วันที่ เดือน ปี'"
                  [placement]="'bottom'"
                  [minDate]="minDate"
                ></date-picker>
              </div>

              <div class="form-group">
                <label class="label-input">เพศ</label>
                <div class="gender-selector">
                  <div class="gender-wrapper">
                    <input
                      type="radio"
                      formControlName="gender"
                      id="male"
                      value="M"
                    >
                    <label for="male">ชาย</label>
                  </div>
                  <div class="gender-wrapper">
                    <input
                      type="radio"
                      formControlName="gender"
                      id="female"
                      value="F"
                    >
                    <label for="female">หญิง</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label
                  class="label-input"
                  for="firstNameInput"
                >
                  ชื่อ
                </label>
                <input
                  class="form-control"
                  data-testid="firstNameInput"
                  formControlName="firstName"
                  id="firstNameInput"
                  placeholder="ชื่อ"
                  type="text"
                >
              </div>

              <div class="form-group">
                <label
                  class="label-input"
                  for="lastNameInput"
                >
                  นามสกุล
                </label>
                <input
                  class="form-control"
                  data-testid="lastNameInput"
                  formControlName="lastName"
                  id="lastNameInput"
                  placeholder="ชื่อ"
                  type="text"
                >
              </div>

              <div class="form-group">
                <label
                  class="label-input"
                  for="birthDateDatePicker"
                >
                  วันเกิด (วัน/เดือน/ปี)
                </label>
                <date-picker
                  class="datepicker-input"
                  [clearable]="false"
                  format="D MMMM YYYY"
                  formControlName="birthdate"
                  [id]="'birthDateDatePicke'"
                  [invalid]="submitted && form.controls['birthdate'].errors ? true : false"
                  locale="th"
                  [placeholder]="'วันที่ เดือน ปี'"
                  [placement]="'bottom'"
                ></date-picker>
              </div>

              <div class="form-group">
                <label
                  class="label-input"
                  for="phoneInput"
                >
                  เบอร์ติดต่อ
                </label>
                <input
                  class="form-control"
                  data-testid="phoneInput"
                  formControlName="mobilePhone"
                  id="phoneInput"
                  placeholder="XXX XXX XXXX"
                  type="text"
                >
              </div>

            </ng-container>
            <ng-container *ngSwitchCase="'3'">
              <div class="navs-container">
                <ul
                  ngbNav
                  #nav="ngbNav"
                  [(activeId)]="activeDetailTab"
                  class="nav-tabs nav-tabs-content mb-3"
                >
                <li [ngbNavItem]="'company-detail'">
                  <button ngbNavLink>รายละเอียดบริษัท</button>
                  <ng-template ngbNavContent>
                    <div class="form-group">
                      <label class="label-input" for="taxIdInput">
                        หมายเลขผู้เสียภาษี
                      </label>
                      <input
                        idCard
                        class="form-control"
                        data-testid="taxInput"
                        formControlName="taxId"
                        id="taxIdInput"
                        type="text"
                      >
                    </div>

                    <div class="form-group">
                      <label class="label-input" for="corporateNameInput">
                        ชื่อบริษัท
                      </label>
                      <input
                        idCard
                        class="form-control"
                        data-testid="corporateNameInput"
                        formControlName="corporateName"
                        id="corporateNameInput"
                        type="text"
                      >
                    </div>

                    <div class="form-group">
                      <label class="label-input" for="branchTypeSelect">
                        ประเภทสาขา
                      </label>
                      <ng-select
                        bindLabel="name"
                        bindValue="id"
                        class="form-control"
                        [clearable]="false"
                        data-testid="branchTypeSelect"
                        formControlName="branchType"
                        id="branchTypeSelect"
                        [items]="branchTypeList"
                        [searchable]="false"
                      ></ng-select>
                    </div>

                    <div class="form-group">
                      <label class="label-input" for="branchNameInput">
                        ชื่อสาขา
                      </label>
                      <input
                        idCard
                        class="form-control"
                        data-testid="branchNameInput"
                        formControlName="branchName"
                        id="branchNameInput"
                        type="text"
                        [readonly]="!form.controls['branchType'].value || form.controls['branchType'].value === 1"
                      >
                    </div>

                    <div class="form-group">
                      <label class="label-input" for="branchCodeInput">
                        หมายเลขสาขาย่อย
                      </label>
                      <input
                        idCard
                        class="form-control"
                        data-testid="branchCodeInput"
                        formControlName="branchCode"
                        id="branchCodeInput"
                        type="text"
                        [readonly]="!form.controls['branchType'].value || form.controls['branchType'].value === 1"
                      >
                    </div>

                    <!-- <div class="form-group">
                      <label
                        class="label-input"
                        for="corporatePhone"
                      >
                        เบอร์ติดต่อ
                      </label>
                      <input
                        class="form-control"
                        data-testid="corporatePhoneInput"
                        formControlName="corporatePhone"
                        id="corporatePhoneInput"
                        placeholder="XXX XXX XXXX"
                        type="text"
                      >
                    </div> -->


                  </ng-template>
                </li>
                  <li [ngbNavItem]="'contact-detail'">
                    <button ngbNavLink>รายละเอียดผู้มาติดต่อ</button>
                    <ng-template ngbNavContent>
                      <div class="form-group">
                        <label class="label-input" for="identificationInput">
                          หมายเลขบัตรประชาชน
                        </label>
                        <input
                          mask="0 0000 00000 00 0"
                          class="form-control"
                          data-testid="identificationInput"
                          formControlName="citizenId"
                          id="identificationInput"
                          type="text"
                        >
                      </div>

                      <div class="form-group">
                        <label
                          class="label-input"
                          for="expiredDateDatePicker"
                        >
                          วันหมดอายุบัตร (วัน/เดือน/ปี)
                        </label>
                        <date-picker
                          class="datepicker-input"
                          [clearable]="false"
                          format="D MMMM YYYY"
                          formControlName="cardExpDate"
                          [id]="'expiredDateDatePicker'"
                          [invalid]="submitted && form.controls['cardExpDate'].errors ? true : false"
                          locale="th"
                          [placeholder]="'วันที่ เดือน ปี'"
                          [placement]="'bottom'"
                          [minDate]="minDate"
                        ></date-picker>
                      </div>

                      <div class="form-group">
                        <label class="label-input">เพศ</label>
                        <div class="gender-selector">
                          <div class="gender-wrapper">
                            <input
                              type="radio"
                              formControlName="gender"
                              id="male"
                              value="M"
                            >
                            <label for="male">ชาย</label>
                          </div>
                          <div class="gender-wrapper">
                            <input
                              type="radio"
                              formControlName="gender"
                              id="female"
                              value="F"
                            >
                            <label for="female">หญิง</label>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label
                          class="label-input"
                          for="firstNameInput"
                        >
                          ชื่อ
                        </label>
                        <input
                          class="form-control"
                          data-testid="firstNameInput"
                          formControlName="firstName"
                          id="firstNameInput"
                          placeholder="ชื่อ"
                          type="text"
                        >
                      </div>

                      <div class="form-group">
                        <label
                          class="label-input"
                          for="lastNameInput"
                        >
                          นามสกุล
                        </label>
                        <input
                          class="form-control"
                          data-testid="lastNameInput"
                          formControlName="lastName"
                          id="lastNameInput"
                          placeholder="ชื่อ"
                          type="text"
                        >
                      </div>

                      <div class="form-group">
                        <label
                          class="label-input"
                          for="birthDateDatePicker"
                        >
                          วันเกิด (วัน/เดือน/ปี)
                        </label>
                        <date-picker
                          class="datepicker-input"
                          [clearable]="false"
                          format="D MMMM YYYY"
                          formControlName="birthdate"
                          [id]="'birthDateDatePicke'"
                          [invalid]="submitted && form.controls['birthdate'].errors ? true : false"
                          locale="th"
                          [placeholder]="'วันที่ เดือน ปี'"
                          [placement]="'bottom'"
                        ></date-picker>
                      </div>

                      <div class="form-group">
                        <label
                          class="label-input"
                          for="phoneInput"
                        >
                          เบอร์ติดต่อ
                        </label>
                        <input
                          class="form-control"
                          data-testid="phoneInput"
                          formControlName="mobilePhone"
                          id="phoneInput"
                          placeholder="XXX XXX XXXX"
                          type="text"
                        >
                      </div>
                    </ng-template>
                  </li>

                </ul>
                <div [ngbNavOutlet]="nav" class="navs-content-container"></div>
              </div>
            </ng-container>
          </ng-container>

        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <ng-container [ngSwitch]="customerTypeId">
          <ng-container *ngSwitchCase="'3'">
            <h3 class="mb-3">ข้อมูลที่อยู่บริษัท</h3>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <h3 class="mb-3">ข้อมูลที่อยู่</h3>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="activeAddressTab">
          <div class="general-info-wrapper">
            <div class="navs-container">
              <ul
                ngbNav
                #nav="ngbNav"
                [(activeId)]="activeAddressTab"
                class="nav-tabs nav-tabs-content mb-3"
                [ngClass]="customerTypeId === '3' ? 'd-none' : null"
              >
                <ng-container *ngIf="customerTypeId === '1'">
                  <li [ngbNavItem]="'address-on-the-card'">
                    <button ngbNavLink>ที่อยู่ตามบัตร</button>
                    <ng-template ngbNavContent>
                      <address
                        [form]="form.controls['registration_address'] | formControlToFormGroup"
                        [submitted]="submitted"
                      ></address>
                    </ng-template>
                  </li>
                </ng-container>
                <ng-container *ngIf="customerTypeId === '1' || customerTypeId === '2'">
                  <li [ngbNavItem]="'current-address'">
                    <button ngbNavLink>ที่อยู่ปัจจุบัน</button>
                    <ng-template ngbNavContent>
                      <address
                        [form]="form.controls['current_address'] | formControlToFormGroup"
                        [submitted]="submitted"
                      ></address>
                    </ng-template>
                  </li>
                </ng-container>
                <ng-container *ngIf="customerTypeId === '1' || customerTypeId === '2' || customerTypeId === '3'">
                  <li [ngbNavItem]="'work-address'">
                    <button ngbNavLink>ที่อยู่ที่ทำงาน</button>
                    <ng-template ngbNavContent>
                      <address
                        [form]="form.controls['work_address'] | formControlToFormGroup"
                        [submitted]="submitted"
                      ></address>
                    </ng-template>
                  </li>
                </ng-container>
              </ul>
              <div [ngbNavOutlet]="nav" class="navs-content-container"></div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-sm-12 col-lg-4">
        <h3 class="mb-3">ข้อมูลการรับใบกำกับภาษีแบบอัตโนมัติ</h3>
        <div class="etax-item mb-3">
          <h4 class="fw-bold mb-3">การเติมเงินเข้าระบบ (ETC)</h4>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" id="1">
            <label class="form-check-label" for="1">เปิดใช้งาน - รับใบกับกับภาษี E-Tax อัตโนมัติ</label>
          </div>
          <div class="form-group">
            <label class="label-input" for="emailInput">
              อีเมล
            </label>
            <input
              class="form-control"
              data-testid="emailInput"
              placeholder="example@mail.com"
              id="emailInput"
              type="text"
              [readonly]="true"
            >
          </div>
          <div class="label-input mb-3">ระบุอีเมลเพื่อใช้รับใบกำกับภาษี E-Tax</div>
          <div class="text-center"><a>เปลี่ยนอีเมล</a></div>
        </div>
        <div class="etax-item mb-3">
          <h4 class="fw-bold mb-3">การเติมเงินเข้าระบบ (ETC)</h4>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" id="1">
            <label class="form-check-label" for="1">เปิดใช้งาน - รับใบกับกับภาษี E-Tax อัตโนมัติ</label>
          </div>
          <div class="form-group">
            <label class="label-input" for="emailInput">
              อีเมล
            </label>
            <input
              class="form-control"
              data-testid="emailInput"
              placeholder="example@mail.com"
              id="emailInput"
              type="text"
              [readonly]="true"
            >
          </div>
          <div class="label-input mb-3">ระบุอีเมลเพื่อใช้รับใบกำกับภาษี E-Tax</div>
          <div class="text-center"><a>เปลี่ยนอีเมล</a></div>
        </div>
        <div class="etax-item mb-3">
          <h4 class="fw-bold mb-3">การเช่าใช้งาน</h4>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" id="1">
            <label class="form-check-label" for="1">เปิดใช้งาน - รับใบกับกับภาษี E-Tax อัตโนมัติ</label>
          </div>
          <div class="form-group">
            <label class="label-input" for="emailInput">
              อีเมล
            </label>
            <input
              class="form-control"
              data-testid="emailInput"
              placeholder="example@mail.com"
              id="emailInput"
              type="text"
              [readonly]="true"
            >
          </div>
          <div class="label-input mb-3">ระบุอีเมลเพื่อใช้รับใบกำกับภาษี E-Tax</div>
          <div class="text-center"><a>เปลี่ยนอีเมล</a></div>
        </div>
        <div class="etax-item mb-3">
          <h4 class="fw-bold mb-3">การชำระค่าผ่านทาง (MTC)</h4>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" id="1">
            <label class="form-check-label" for="1">เปิดใช้งาน - รับใบกับกับภาษี E-Tax อัตโนมัติ</label>
          </div>
          <div class="form-group">
            <label class="label-input" for="emailInput">
              อีเมล
            </label>
            <input
              class="form-control"
              data-testid="emailInput"
              placeholder="example@mail.com"
              id="emailInput"
              type="text"
              [readonly]="true"
            >
          </div>
          <div class="label-input mb-3">ระบุอีเมลเพื่อใช้รับใบกำกับภาษี E-Tax</div>
          <div class="text-center"><a>เปลี่ยนอีเมล</a></div>
        </div>
        <div class="etax-item mb-3">
          <h4 class="fw-bold mb-3">อื่นๆ</h4>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" id="1">
            <label class="form-check-label" for="1">เปิดใช้งาน - รับใบกับกับภาษีอัตโนมัติ</label>
          </div>
          <div class="form-group">
            <label class="label-input" for="emailInput">
              อีเมล
            </label>
            <input
              class="form-control"
              data-testid="emailInput"
              placeholder="example@mail.com"
              id="emailInput"
              type="text"
              [readonly]="true"
            >
          </div>
          <div class="label-input mb-3">ระบุอีเมลเพื่อใช้รับใบกำกับภาษี E-Tax</div>
          <div class="text-center"><a>เปลี่ยนอีเมล</a></div>
        </div>
      </div>
    </div>
    <div class="form-button general-info-button-wrapper">
      <button
        class="custom-btn btn-fixed-size-1 btn-type-3"
        data-testid="cancelButton"
        id="cancelButton"
        title="แก้ไข"
        (click)="onCancel()"
      >
        ยกเลิก
      </button>
      <button
        class="custom-btn btn-fixed-size-1 btn-type-1"
        data-testid="editButton"
        id="editButton"
        title="แก้ไข"
        (click)="onUpdate()"
      >
        แก้ไข
      </button>
    </div>
  </form>
</div>


