<ng-container *ngIf="tempSearch && !isLoading">
    <div class="datatable-container">
      <datatable
        [columns]="columns1"
        [collectionSize]="collectionSize"
        [customDatatableContentClass]="'datatable-no-box-shadow datatable-border-solid'"
        [externalPaging]="true"
        [id]="'transactionDatatable'"
        [isLoading]="isLoading"
        [limitRow]="limitRow"
        [pages]="pages"
        [rows]="rows1"
        emptyMessage="ไม่มีข้อมูล"
      ></datatable>
    </div>
  </ng-container>
  