<div class="content-container-header">
    <h1 class="content-title">ระบบการให้คะแนน</h1>
</div>
<hr class="hr-custom mb-3" />
<button class="custom-btn btn-type-1 mb-3" data-testid="backButton" id="backButton" title="กลับ" type="button"
    (click)="onBack()">
    กลับ
</button>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3 class="content-title mb-3">
        รายละเอียด
    </h3>
    <div class="row">
        <div class="col-sm-12 col-md-6 mb-3">
            <div class="col-12">
                <label class="label-input required-field" for="campaignEventsSelect">
                    รูปแบบการให้คะแนน
                </label>
                <ng-select class="form-control" [clearable]="false" bindLabel="name" bindValue="key"
                    data-testid="campaignEventsSelect" id="campaignEventsSelect" placeholder="กรุณาระบุ"
                    formControlName="campaignEvent" [loading]="isCampaignEventsLoading" [items]="campaignEventsList">
                </ng-select>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-3" *ngIf="form.get('campaignEvent')?.value">
            <div class="col-12">
                <label class="label-input required-field" for="campaignNameInput">
                    ชื่อกิจกรรม
                </label>
                <input class="form-control" data-testid="campaignNameInput" formControlName="campaignName"
                    id="campaignNameInput" placeholder="กรุณาระบุ" type="text">
            </div>
        </div>
    </div>
    <h3 class="content-title mb-3" *ngIf="form.get('campaignEvent')?.value">
        รายละเอียดคะแนน
    </h3>
    <div class="row"
        *ngIf="form.get('campaignEvent')?.value && isVisibilityForm(['TOLL', 'SALE', 'UPDATE_INFO', 'TOP_UP', 'OPEN_AOI', 'OPEN_CCH_APP'])">
        <div class="col-12 col-lg-6 mb-3">
            <div class="col-12 mb-3">
                <label class="label-input mb-2 required-field">ตัวแปรการคำนวนคะแนน</label>
                <ng-select class="form-control mb-2" [clearable]="false" bindLabel="name" bindValue="key"
                    id="operationSelect" data-testid="operationSelect" formControlName="operation"
                    [items]="campaignCalOperationList" [loading]="isCampaignCalOperationLoading"
                    placeholder="กรุณาระบุ">
                </ng-select>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-3">
            <div class="col-12 mb-3">
                <label class="label-input mb-2 required-field" for="calculateValueInput">
                    ตัวเลขการคำนวนคะแนน
                </label>
                <input class="form-control" data-testid="calculateValueInput" formControlName="calculateValue"
                    id="calculateValueInput" type="number" placeholder="กรุณาระบุ">
            </div>
        </div>
        <h3 class="pb-3">
            รายละเอียดการคำนวน:
            <span class="label-input">กรุณาระบุ ตัวแปรการคำนวนคะแนน และ ตัวเลขการคำนวนคะแนน</span>
        </h3>
    </div>
    <h3 class="content-title mb-3" *ngIf="form.get('campaignEvent')?.value">
        ประเภทที่ร่วมรายการ
    </h3>
    <div class="row" *ngIf="form.get('campaignEvent')?.value">
        <div class="col-12 col-lg-6 mb-3" *ngIf="isVisibilityForm(['TOLL'])">
            <div class="col-12 mb-3">
                <label class="label-input mb-2 required-field" for="selectisCarType">ประเภทรถ</label>
                <ng-select class="form-control mb-2" [items]="carTypeList" [multiple]="true" bindLabel="name"
                    bindValue="key" id="selectisCarType" data-testid="selectisCarType" placeholder="กรุณาระบุ"
                    [closeOnSelect]="false" [searchable]="false" formControlName="carTypes">
                    <ng-template ng-header-tmp>
                        <div style="margin: 3px 3px;">
                            <input (click)="selectAll('carTypes')" [checked]="getStatusSelectAll('carTypes')"
                                id="selectAllCarType" type="checkbox">
                            <label style="margin-left: 3px;" for="selectAllCarType">เลือกทั้งหมด</label>
                        </div>
                    </ng-template>
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value">
                            <span>เลือก ({{items.length}})</span>
                        </div>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                            [ngModelOptions]="{ standalone : true }">
                        {{item.name}}
                    </ng-template>
                </ng-select>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-3">
            <div class="col-12 mb-3">
                <label class="label-input required-field" for="customerGroupsSelect">
                    ประเภทผู้ใช้
                </label>
                <ng-select class="form-control mb-2" [items]="customerGroupList" [multiple]="true" bindLabel="name"
                    bindValue="key" id="customerGroupsSelect" data-testid="customerGroupsSelect" placeholder="กรุณาระบุ"
                    [closeOnSelect]="false" [searchable]="false" formControlName="customerGroups"
                    [loading]="isCustomerGropLoading">
                    <ng-template ng-header-tmp>
                        <div style="margin: 3px 3px;">
                            <input (click)="selectAll('customerGroups')"
                                [checked]="getStatusSelectAll('customerGroups')" id="selectAllCustomerGroups"
                                type="checkbox">
                            <label style="margin-left: 3px;" for="selectAllCustomerGroups">เลือกทั้งหมด</label>
                        </div>
                    </ng-template>
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value">
                            <span>เลือก ({{items.length}})</span>
                        </div>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                            [ngModelOptions]="{ standalone : true }">
                        {{item.name}}
                    </ng-template>
                </ng-select>
                <!-- <ng-select class="form-control mb-2" [items]="customerGroupList" [multiple]="true" bindLabel="name"
                    bindValue="key" id="selectRoute" data-testid="selectRoute" placeholder="กรุณาระบุ"
                    [closeOnSelect]="false" [searchable]="false" formControlName="customerCategory">
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value">
                            <span>เลือก ({{items.length}})</span>
                        </div>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                            [ngModelOptions]="{ standalone : true }">
                        {{item.name}}
                    </ng-template>
                </ng-select> -->
            </div>
        </div>
    </div>
    <h3 class="content-title mb-3" *ngIf="form.get('campaignEvent')?.value && isVisibilityForm(['TOLL'])">
        รายละเอียดการจำกัด
    </h3>
    <div class="row" *ngIf="form.get('campaignEvent')?.value && isVisibilityForm(['TOLL'])">
        <div class="col-12 col-lg-6 mb-3">
            <div class="col-12 mb-3">
                <label class="label-input mb-2 required-field" for="routeSelect">สายทาง</label>
                <ng-select class="form-control mb-2" [items]="tempTollStationList" [loading]="isTollStation"
                    [multiple]="true" bindLabel="name" bindValue="key" id="selectRoute" data-testid="routeSelect"
                    placeholder="กรุณาระบุ" [closeOnSelect]="false" [searchable]="false" formControlName="route"
                    (ngModelChange)="onSelectRoute($event)">
                    <ng-template ng-header-tmp>
                        <div style="margin: 3px 3px;">
                            <input (click)="selectAll('route')" [checked]="getStatusSelectAll('route')"
                                id="allRouteCheck" type="checkbox">
                            <label style="margin-left: 3px;" for="allRouteCheck">เลือกทั้งหมด</label>
                        </div>
                    </ng-template>
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value">
                            <span>เลือก ({{items.length}})</span>
                        </div>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                            [ngModelOptions]="{ standalone : true }">
                        {{item.name}}
                    </ng-template>
                </ng-select>
                <!-- <ng-select class="form-control mb-2" [clearable]="false" bindLabel="name" bindValue="key"
                    id="selectisEtaxActive" data-testid="selectisEtaxActive" formControlName="isEtaxActive"
                    [items]="tollStationList" [loading]="isTollStation" placeholder="กรุณาระบุ">
                </ng-select> -->
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-3">
            <div class="col-12 mb-3">
                <label class="label-input mb-2 required-field" for="tollStationsSelect">
                    อาคารด่าน(ที่เก็บเงินได้)
                </label>
                <ng-select class="form-control mb-2" [items]="tollStationList" [multiple]="true" bindLabel="name"
                    bindValue="key" groupBy="children" id="tollStationsSelect" data-testid="tollStationsSelect"
                    placeholder="กรุณาระบุ" [searchable]="false" [selectableGroup]="true"
                    [selectableGroupAsModel]="false" [closeOnSelect]="false" formControlName="tollStations">
                    <!-- <ng-template ng-header-tmp>
                        <div style="margin: 3px 3px;">
                            <input (click)="selectAll('tollBuilding')" [checked]="getStatusSelectAll('tollBuilding')"
                                id="selectAllRoute" type="checkbox">
                            <label style="margin-left: 3px;" for="selectAllRoute">เลือกทั้งหมด</label>
                        </div>
                    </ng-template> -->
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value">
                            <span>เลือก ({{items.length}})</span>
                        </div>
                    </ng-template>
                    <!-- <ng-template ng-optgroup-tmp let-item="item">
                        {{ item.name }}
                    </ng-template> -->
                    <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                            [ngModelOptions]="{ standalone : true }" /> {{item.name}}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                            [ngModelOptions]="{ standalone : true }" /> {{item.name}}
                    </ng-template>
                </ng-select>
                <!-- <ng-select class="form-control mb-2" [clearable]="false" bindLabel="name" bindValue="key"
                    id="selectisEtaxActive" data-testid="selectisEtaxActive" formControlName="isEtaxActive"
                    [items]="routeList" [loading]="isAllTollStation" placeholder="กรุณาระบุ">
                </ng-select> -->
            </div>
        </div>
    </div>
    <h3 class="content-title mb-3" *ngIf="form.get('campaignEvent')?.value">
        ตั้งเวลาแคมเปญ
    </h3>
    <div class="row" *ngIf="form.get('campaignEvent')?.value">
        <div class="col-12 col-lg-6 mb-3">
            <div class="col-12 mb-3">
                <label class="label-input required-field" for="fromDatePicker">
                    เวลาเริ่มต้นแคมเปญ
                </label>
                <date-picker class="datepicker-input" [clearable]="true" format="D MMMM YYYY" formControlName="fromDate"
                    [id]="'fromDatePicker'" locale="th" [placeholder]="'กรุณาระบุ'"
                    [placement]="'bottom'"></date-picker>
            </div>
            <div class="col-12 mb-3">
                <label class="label-input required-field" for="fromPeriodInput">
                    ช่วงเวลาที่ให้คะแนนพิเศษ ที่เริ่ม
                </label>
                <div class="input-with-icon-wrapper">
                    <icon-svg class="svg-search-icon" [color]="'#2255CE'" [size]="'l'" [path]="'time' | icon" />
                    <input class="form-control input-with-icon-right-border" data-testid="fromPeriodInput"
                        formControlName="fromPeriod" id="fromPeriodInput" mask="00:00" [dropSpecialCharacters]="false"
                        placeholder="กรุณาระบุ" type="text">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-3">
            <div class="col-12 mb-3">
                <label class="label-input required-field" for="toDatePicker">
                    เวลาสิ้นสุดแคมเปญ
                </label>
                <date-picker class="datepicker-input" [clearable]="true" format="D MMMM YYYY" formControlName="toDate"
                    [id]="'toDatePicker'" locale="th" [placeholder]="'กรุณาระบุ'" [placement]="'bottom'"></date-picker>
            </div>
            <div class="col-12 mb-3">
                <label class="label-input required-field" for="toPeriodInput">
                    ช่วงเวลาที่ให้คะแนนพิเศษ สิ้นสุด
                </label>
                <div class="input-with-icon-wrapper">
                    <icon-svg class="svg-search-icon" [color]="'#2255CE'" [size]="'l'" [path]="'time' | icon" />
                    <input class="form-control input-with-icon-right-border" data-testid="toPeriodInput"
                        formControlName="toPeriod" id="toPeriodInput" mask="00:00" [dropSpecialCharacters]="false"
                        placeholder="กรุณาระบุ" type="text">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-3" *ngIf="isVisibilityForm(['TOLL'])">
            <label class="label-input mb-2 required-field" for="daysOfWeekSelect">วันที่ร่วมแคมเปญ</label>
            <ng-select class="form-control mb-2" [items]="dayOfWeekList" [loading]="isDayOfWeekLoading"
                [multiple]="true" bindLabel="name" bindValue="key" id="selectRoute" data-testid="daysOfWeekSelect"
                placeholder="กรุณาระบุ" [closeOnSelect]="false" [searchable]="false" formControlName="daysOfWeek">
                <ng-template ng-header-tmp>
                    <div style="margin: 3px 3px;">
                        <input (click)="selectAll('daysOfWeek')" [checked]="getStatusSelectAll('daysOfWeek')"
                            id="allDaysOfWeekCheck" type="checkbox">
                        <label style="margin-left: 3px;" for="allDaysOfWeekCheck">เลือกทั้งหมด</label>
                    </div>
                </ng-template>
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <div class="ng-value">
                        <span>เลือก ({{items.length}})</span>
                    </div>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                        [ngModelOptions]="{ standalone : true }">
                    {{item.name}}
                </ng-template>
            </ng-select>
        </div>
    </div>
    <h3 class="content-title mb-3" *ngIf="form.get('campaignEvent')?.value">
        การเผยแพร่ และ ทำแบบร่าง
    </h3>
    <div class="row" *ngIf="form.get('campaignEvent')?.value">
        <div class="col-12 mb-3">
            <div class="form-check mb-4">
                <input class="form-check-input" data-testid="draftRadio" id="draftRadio" formControlName="publishing"
                    type="radio" [value]="false">
                <label class="form-check-label" for="draftRadio">
                    บันทึกแบบร่าง
                </label>
            </div>
            <div class="form-check mb-4">
                <input class="form-check-input" data-testid="publishRadio" id="publishRadio"
                    formControlName="publishing" type="radio" [value]="true">
                <label class="form-check-label" for="publishRadio">
                    เผยแพร่ทันที / เผยแพร่แบบอัตโนมัติเมื่อถึงเวลา
                </label>
            </div>
        </div>
    </div>
    <hr class="hr-custom mb-3" *ngIf="form.get('campaignEvent')?.value" />
    <div class="footer d-flex justify-content-center gap-3" *ngIf="form.get('campaignEvent')?.value">
        <button class="custom-btn btn-fixed-size-1 btn-type-3" type="button" (click)="onBack()"
            data-testid="cancelButton" id="cancelButton" title="ยกเลิก">
            ยกเลิก
        </button>
        <button class="custom-btn btn-fixed-size-1 btn-type-1" type="submit" data-testid="submitButton"
            id="submitButton" title="บันทึก" [disabled]="form.invalid">
            <span *ngIf="!this.campaignEvent && !this.id">บันทึก</span>
            <span *ngIf="this.campaignEvent && this.id">แก้ไข</span>
        </button>
        <!-- <button class="custom-btn btn-fixed-size-1 btn-type-1" type="button"
            (click)="onEdit()" data-testid="editButton" id="editButton" title="แก้ไข"
            [disabled]="form.invalid">
            แก้ไข
        </button> -->
    </div>
</form>