<ng-container *ngIf="isShowDescription">
    <div class="mb-4">
        <button class="custom-btn btn-type-1" data-testid="backButton" id="backButton" title="กลับ" type="button"
            (click)="onBack()">
            กลับ
        </button>
    </div>

    <h2 class="mb-3">รายละเอียดผู้ใช้</h2>
    <h3 class="mb-5">รายละเอียด</h3>

    <div class="table-description mb-5">
        <table class="table-description">
            <tr class="header">
                <th>วันที่ และ เวลา ที่สร้าง</th>
                <th>ชื่อผู้ใช้งาน</th>
                <th>ชื่อสาขา</th>
                <th>หมายเลขสาขาย่อย</th>
                <th>สถานะ</th>
                <th>ชื่อพนักงานทำรายการ</th>
            </tr>
            <tr>
                <td>{{ rowDescription?.createDate | transformDate : 'DD/MM/YYYY HH:mm:ss' : 'th' }}</td>
                <td>{{ rowDescription?.eventValue?.customer?.corporateName }}</td>
                <td>{{ rowDescription?.eventValue?.customer?.corporateBranch }}</td>
                <td>{{ rowDescription?.eventValue?.customer?.branchId }}</td>
                <td>{{ rowDescription?.status | approveStatus }}</td>
                <td>{{ rowDescription?.eventValue?.customer?.fullName }}</td>
            </tr>
        </table>
    </div>

    <h2 class="mb-5">ข้อมูลทั่วไป</h2>
    <form [formGroup]="form">
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <h3 class="mb-3">ข้อมูลรายละเอียด</h3>
                <div class="general-info-wrapper">
                    <div class="navs-container">
                        <ul ngbNav #nav="ngbNav" [(activeId)]="detailInformationTab"
                            class="nav-tabs nav-tabs-content mb-3">
                            <li [ngbNavItem]="'information-company'">
                                <button ngbNavLink>รายละเอียดบริษัท</button>
                                <ng-template ngbNavContent>
                                    <div class="col-12 mb-3">
                                        <label class="label-input required-field" for="taxIdInput">
                                            หมายเลขผู้เสียภาษี
                                        </label>
                                        <input class="form-control" data-testid="taxIdInput" formControlName="taxId"
                                            id="taxIdInput" type="text" mask="0 0000 00000 00 0">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="label-input required-field" for="companyNameInput">
                                            ชื่อบริษัท
                                        </label>
                                        <input class="form-control" data-testid="companyNameInput"
                                            formControlName="companyName" id="companyNameInput" type="text">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="label-input required-field" for="branchSelect">
                                            สาขา
                                        </label>
                                        <ng-select class="form-control" [clearable]="false" bindLabel="label"
                                            bindValue="id" data-testid="branchSelect" (change)="onChangeBranch($event)"
                                            formControlName="branch" id="branchSelect" [items]="branchList"></ng-select>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="label-input required-field" for="branchNameInput">
                                            ชื่อสาขา
                                        </label>
                                        <input class="form-control" data-testid="branchNameInput"
                                            formControlName="branchName" id="branchNameInput" type="text">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="label-input required-field" for="branchNoInput">
                                            หมายเลขสาขาย่อย
                                        </label>
                                        <input class="form-control" data-testid="branchNoInput" maxlength="5"
                                            formControlName="branchNo" id="branchNoInput" type="text">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="label-input required-field" for="phoneInput">
                                            เบอร์ติดต่อบริษัท
                                        </label>
                                        <input class="form-control" data-testid="phoneInput" formControlName="mobilePhone" id="phoneInput"
                                            mask="000 000 0000" placeholder="XXX XXX XXXX" type="text">
                                      </div>
                                      <div class="col-12 mb-3">
                                        <label class="label-input" for="emailInput">
                                          อีเมล
                                        </label>
                                        <input class="form-control" data-testid="emailInput" formControlName="email"
                                          placeholder="example@mail.com" id="emailInput" type="text">
                                      </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="'information-visitor'">
                                <button ngbNavLink>รายละเอียดผู้มาติดต่อ</button>
                                <ng-template ngbNavContent>
                                    <div class="col-12 mb-3">
                                        <label class="label-input required-field" for="identificationInput">
                                            หมายเลขบัตรประชาชน
                                        </label>
                                        <input class="form-control" data-testid="identificationInput"
                                            formControlName="citizenId" id="identificationInput" type="text"
                                            mask="0 0000 00000 00 0">
                                    </div>
                                    <!-- <div class="col-12 mb-3">
                                        <label class="label-input required-field" for="expiredDateDatePicker">
                                            วันหมดอายุบัตร
                                        </label>
                                        <date-picker class="datepicker-input" [clearable]="false" format="DD/MM/YYYY"
                                            formControlName="cardExpDate" [id]="'expiredDateDatePicker'" locale="th"
                                            [placeholder]="'วันที่ เดือน ปี'" [placement]="'bottom'"
                                            [minDate]="minDate"></date-picker>
                                    </div> -->
                                    <div class="col-12 mb-3">
                                        <label class="label-input" for="gender">
                                            เพศ
                                        </label>
                                        <div class="gender-selector">
                                            <div class="gender-wrapper">
                                                <input type="radio" formControlName="gender" id="male" value="M">
                                                <label for="male">ชาย</label>
                                            </div>
                                            <div class="gender-wrapper">
                                                <input type="radio" formControlName="gender" id="female" value="F">
                                                <label for="female">หญิง</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="label-input required-field" for="prefixInput">
                                          คำนำหน้า
                                      </label>
                                      <ng-select
                                          class="form-control"
                                          [items]="prefixList$ | async" 
                                          [addTag]="addTagPrefixPromise"
                                          id="prefixInput"
                                          data-testid="prefixInput"
                                          bindLabel="label" 
                                          bindValue="value"
                                          formControlName="prefix">
                                      </ng-select>
                                      </div>
                                    <div class="col-12 mb-3">
                                        <label class="label-input required-field" for="firstName">
                                            ชื่อ
                                        </label>
                                        <input class="form-control" data-testid="firstName" formControlName="firstName"
                                            id="firstName" type="text">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="label-input required-field" for="lastName">
                                            นามสกุล
                                        </label>
                                        <input class="form-control" data-testid="lastName" formControlName="lastName"
                                            id="lastName" type="text">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="label-input required-field" for="birthdateDatePicker">
                                            วันเกิด (วัน/เดือน/ปี)
                                        </label>
                                        <date-picker class="datepicker-input" [clearable]="false" format="DD/MM/YYYY"
                                            formControlName="birthdate" [id]="'birthdateDatePicker'" locale="th"
                                            [placeholder]="'วันที่ เดือน ปี'" [placement]="'bottom'" [isDisabled]="true" ></date-picker>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="label-input required-field" for="contactPhoneInput">
                                            เบอร์ติดต่อ
                                        </label>
                                        <input class="form-control" data-testid="contactPhoneInput" formControlName="contactPhone" id="contactPhoneInput"
                                            mask="000 000 0000" placeholder="XXX XXX XXXX" type="text">
                                      </div>
                                    <!-- <div class="col-12 mb-3">
                                        <h3>เอกสารแนบ</h3>
                                        <label class="label-input">
                                          หนังสือรับรองบริษัท
                                        </label>
                                        <button style="width: 100%" class="custom-btn btn-type-3"
                                            data-testid="downloadImageButton" id="downloadImageButton" title="ดาวน์โหลด" (click)="onDownloadAttachment()">
                                            <icon-svg [color]="'#2255CE'" [size]="'m'"
                                                [path]="'download' | icon" />
                                            ดาวน์โหลดเอกสาร
                                        </button>
                                    </div> -->
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav" class="navs-content-container"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-8">
                <h3 class="mb-3">ข้อมูลที่อยู่</h3>
                <div class="navs-container">
                    <ul ngbNav #navAddress="ngbNav" [(activeId)]="activeAddressTab" class="nav-tabs nav-tabs-content mb-3">
                      <ng-container>
                        <li [ngbNavItem]="'work-address'">
                          <button ngbNavLink>ที่อยู่ที่ทำงาน</button>
                          <ng-template ngbNavContent>
                            <address [form]="form.controls['work_address'] | formControlToFormGroup">
                            </address>
                          </ng-template>
                        </li>
                      </ng-container>
                      <ng-container>
                        <li [ngbNavItem]="'etax-address'">
                          <button ngbNavLink>ที่อยู่ใบกำกับภาษี</button>
                          <ng-template ngbNavContent>
                            <address [form]="form.controls['etax_address'] | formControlToFormGroup">
                            </address>
                          </ng-template>
                        </li>
                      </ng-container>
                    </ul>
                    <div [ngbNavOutlet]="navAddress" class="navs-content-container"></div>
                </div>
                <!-- <div class="col-12 mb-3">
                    <label class="label-input required-field" for="addressNoInput">
                        เลขที่
                    </label>
                    <input class="form-control" data-testid="addressNoInput" formControlName="addressNo"
                        id="addressNoInput" type="text">
                </div>
                <div class="col-12 mb-3">
                    <label class="label-input" for="buildingInput">
                        อาคาร/คอนโด
                    </label>
                    <input class="form-control" data-testid="buildingInput" formControlName="building"
                        id="buildingInput" type="text">
                </div>
                <div class="col-12 mb-3">
                    <label class="label-input" for="floorInput">
                        ชั้น
                    </label>
                    <input class="form-control" data-testid="floorInput" formControlName="floor" id="floorInput"
                        type="text">
                </div>
                <div class="col-12 mb-3">
                    <label class="label-input" for="villageNoInput">
                        หมูที่
                    </label>
                    <input class="form-control" data-testid="villageNoInput" formControlName="villageNo"
                        id="villageNoInput" type="text">
                </div>
                <div class="col-12 mb-3">
                    <label class="label-input" for="villageInput">
                        หมู่บ้าน
                    </label>
                    <input class="form-control" data-testid="villageInput" formControlName="village" id="villageInput"
                        type="text">
                </div>
                <div class="col-12 mb-3">
                    <label class="label-input" for="alleyInput">
                        ตรอก
                    </label>
                    <input class="form-control" data-testid="alleyInput" formControlName="alley" id="alleyInput"
                        type="text">
                </div>
                <div class="col-12 mb-3">
                    <label class="label-input" for="soiInput">
                        ซอย
                    </label>
                    <input class="form-control" data-testid="soiInput" formControlName="soi" id="soiInput" type="text">
                </div>
                <div class="col-12 mb-3">
                    <label class="label-input" for="streetInput">
                        ถนน
                    </label>
                    <input class="form-control" data-testid="streetInput" formControlName="street" id="streetInput"
                        type="text">
                </div>
                <div class="col-12 mb-3">
                    <label class="label-input required-field" for="zipcodeInput">
                        รหัสไปรษณีย์
                    </label>
                    <input class="form-control" data-testid="zipcodeInput" (keyup)="onKeyUpzipcode($event)"
                        mask="00000" formControlName="zipcode" id="zipcodeInput" type="text">
                </div>
                <div class="col-12 mb-3">
                    <label class="label-input required-field" for="subDistrictInput">
                        แขวง/ตำบล
                    </label>
                    <ng-select class="form-control" [clearable]="false" bindLabel="subdistrict.name"
                        id="subDistrictInput" data-testid="subDistrictInput" formControlName="subDistrict"
                        (change)="onChangeSubDistrict($event)" [items]="zipcodeList">
                    </ng-select>
                </div>
                <div class="col-12 mb-3">
                    <label class="label-input required-field" for="districtInput">
                        เขต/อำเภอ
                    </label>
                    <ng-select class="form-control" [clearable]="false" bindLabel="name" data-testid="districtInput"
                        formControlName="district" id="districtInput" [items]="districtList">
                    </ng-select>
                </div>
                <div class="col-12 mb-3">
                    <label class="label-input required-field" for="provinceInput">
                        จังหวัด
                    </label>
                    <ng-select class="form-control" [clearable]="false" bindLabel="name" data-testid="provinceInput"
                        formControlName="province" id="provinceInput" [items]="provinceList">
                    </ng-select>
                </div> -->
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <p style="color:rgba(34, 85, 206, 1)" *ngIf="pendingRequest.status === 1">รายการนี้ถูกอนุมัติไปแล้ว
                เมื่อวันที่
                {{ rowDescription.updateDate | transformDate : 'DD/MM/YYYY HH:mm:ss' : 'th' }}</p>
            <p style="color:rgba(214, 50, 38, 1);" *ngIf="pendingRequest.status === 2">รายการนี้ถูกปฏิเสธไปแล้ว
                เมื่อวันที่ {{ rowDescription.updateDate | transformDate : 'DD/MM/YYYY HH:mm:ss' : 'th' }}</p>
        </div>
        <hr class="hr-custom mb-3" />
        <div class="footer d-flex justify-content-center gap-3">
            <button class="custom-btn btn-fixed-size-1 btn-type-3 red" (click)="onReject()" data-testid="backButton"
                id="backButton" [disabled]="pendingRequest.status === 1 || pendingRequest.status === 2" title="ปฏิเสธ">
                ปฏิเสธ
            </button>
            <button class="custom-btn btn-fixed-size-1 btn-type-1" (click)="onApprove()" data-testid="nextButton"
                id="nextButton" [disabled]="pendingRequest.status === 1 || pendingRequest.status === 2" title="ถัดไป">
                อนุมัติ
            </button>
        </div>
    </form>
</ng-container>
<ng-container *ngIf="tempRows && !isShowDescription">
    <div class="datatable-container">
        <datatable [columns]="columns" [collectionSize]="collectionSize" [id]="'userDatatable'" [isLoading]="isLoading"
            [pageSize]="limitRow" [page]="pages" [rows]="rows" emptyMessage="ไม่มีข้อมูล"
            (onChangePageEvent)="onChangePage($event)" (onRowActionEvent)="onAction($event)" />
    </div>
</ng-container>
