<div class="device-container">
  <ng-container *ngIf="customerTypeId === '3'">
    <div class="mb-4">
      <button
        class="custom-btn btn-type-1"
        data-testid="addDeviceButton"
        id="addDeviceButton"
        title="เพิ่มอุปกรณ์ (ประเภท 9)"
        [disabled]="isLoading"
        (click)="onAddDevice()"
      >
        เพิ่มอุปกรณ์ (ประเภท 9)
      </button>
    </div>
  </ng-container>

  <div class="device-header-wrapper mb-3">
    <h2>ข้อมูล OBU และ รถยนต์</h2>
    <div class="navs-container">
      <ul
        ngbNav
        #nav="ngbNav"
        [(activeId)]="activeTab"
        (navChange)="onChangeNav()"
        class="nav-tabs mb-3"
      >
        <li [ngbNavItem]="'active'">
          <button ngbNavLink>กำลังเปิดใช้งาน ({{ activeRows.length }})</button>
          <ng-template ngbNavContent>
            <datatable
              [columns]="activeUsedColumns"
              [collectionSize]="activeRows.length"
              [id]="'deviceActiveDatatable'"
              [isLoading]="isLoading"
              [limitRow]="limitRow"
              [pages]="pages"
              [rows]="activeRows"
              emptyMessage="ไม่มีข้อมูล"
              (onChangePageEvent)="onChangePage($event)"
              (onRowActionEvent)="onAction($event)"
            />
          </ng-template>
        </li>
        <li [ngbNavItem]="'inactive'">
          <button ngbNavLink>ยังไม่ได้เปิดใช้งาน ({{ inactiveRows.length }})</button>
          <ng-template ngbNavContent>
            <datatable
              [columns]="inactiveUsedColumns"
              [collectionSize]="inactiveRows.length"
              [id]="'deviceInactiveDatatable'"
              [isLoading]="isLoading"
              [limitRow]="limitRow"
              [pages]="pages"
              [rows]="inactiveRows"
              emptyMessage="ไม่มีข้อมูล"
              (onChangePageEvent)="onChangePage($event)"
              (onRowActionEvent)="onAction($event)"
            />
          </ng-template>
        </li>
      </ul>
    </div>

  </div>
  <div [ngbNavOutlet]="nav" class="navs-content-container"></div>
</div>
