// Content

.content-container-header {
  padding: 1.5rem 0rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.content-title {
  color: var(--color-blue-exat);
}

.content-container-body {
  padding-top: 1.5rem;
}
