.ngx-datatable {
  border-radius: 14px;
  box-shadow: none !important;
}

.ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-template-wrap {
  color: var(--color-blue-exat);
  font-weight: 600;
  line-height: 20.93px;
  text-align: center;
}

.ngx-datatable .datatable-body .empty-row {
  text-align: center;
}

.ngx-datatable .datatable-header {
  border-bottom: 2px solid #060F39 !important;
}

// Footer

.datatable-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem 3.5rem;
  padding: 1.75rem 0rem;
  flex-wrap: wrap;
}

.datatable-footer .datatable-pagination .pagination {
  margin: 0rem;
  gap: 1.75rem;
}

.datatable-footer .datatable-pagination .pagination .page-item .page-link {
  border: none;
  background-color: transparent;
  color: #A1A1A1;
  box-shadow: none !important;
}

.datatable-footer .datatable-pagination .pagination .page-item.disabled .page-link {
  opacity: var(--disabled-opacity);
}

.datatable-footer .datatable-info {
  font-size: 14px;
}

.datatable-footer.datatable-info-white .datatable-info {
  color: var(--color-white);
}

.datatable-footer.datatable-info-white .datatable-pagination .pagination .page-item .page-link {
  color: var(--color-white);
}



