.form-group {
  margin-bottom: 0.75rem;
}

.form-button {
  padding: 0.75rem;
}

.label-input {
  color: #777777;
  margin-bottom: 0.75rem;

  &.back {
    color: #333333 !important;
  }
}

.form-control:focus {
  box-shadow: none !important;
}

.required-field:after {
  content:" *";
  color: red;
}
