// Form Control
.form-control {
  padding: var(--padding-input);
}

.form-control::placeholder {
  color: var(--placeholder-color);
}

.form-control:read-only {
  border-color: var(--border-color);
  background-color: #F6F6F6;
}

.input-with-icon {
  border: none;
  padding-left: 40px
}



