// Form Control
.form-control {
  padding: var(--padding-input);
}

.form-control::placeholder {
  color: var(--placeholder-color);
}

.form-control:read-only {
  background-color: #F6F6F6;
}

.input-with-icon-wrapper {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.input-with-icon-left {
  border: none;
  padding-left: 40px
}

.input-with-icon-right {
  border: none;
  padding-right: 40px
}

.input-with-icon-right-border {
  padding-right: 40px
}

.svg-search-icon {
  position: absolute;
  padding: 0rem 0.75rem;
}


