h1 {
  font-size: 24px;
  line-height: 35.88px;
}

h2 {
  font-size: 20px;
  line-height: 29.9px;
}

h3 {
  font-size: 16px;
  line-height: 23.92px;
}

h4 {
  font-size: 14px;
  line-height: 20.93px;
}

h5 {
  font-size: 24px;
  line-height: 14.95px;
}
