:root {
  --color-main: #2242a3;
  --color-white: #fff;

  --color-gradient: linear-gradient(0deg, rgba(36, 29, 80, 1), rgba(34, 85, 206, 1));

  --default-font-size: 1rem;
  --default-font-family: 'Kanit', sans-serif;
}
