:root {
  --color-blue-exat: #2255CE;
  --color-blue-1: #241D50;
  --color-blue-2: #2255CE;

  --color-blue-gradient: linear-gradient(0deg, var(--color-blue-1), var(--color-blue-exat));

  --default-font-size: 1rem;
  --default-font-family: 'Kanit', sans-serif;
}
