.datatable-content,
.empty-row {
  box-shadow: 0px 4px 4px 0px #00000040 !important;
  padding: 1rem 2.5rem;
  border-radius: 15px;
}

.datatable-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem 3.5rem;
  padding: 1.75rem 0rem;
  flex-wrap: wrap;
}

.datatable-info {
  font-size: 14px;
}

.empty-row {
  width: 100%;
  text-align: center;
}
