<div class="content-container container-xl p-0">
  <div class="device-header-wrapper mb-3">
      <h2 class="content-title">การรับใบกำกับภาษี</h2>
      <h3 class="content-title pt-3">การเปิดใช้งาน และ การตั้งค่า</h3>
  
      <div class="row">
          <div class="etax-item col-12 col-lg-4">
              <div class="form-group d-inline">
                  <label class="form-check-label pb-3" for="1">การรับเอกสารใบกำกับภาษีอัตโนมัติ</label>
                  <ng-select 
                      class="form-control"
                      [clearable]="false" 
                      bindLabel="label"
                      bindValue="id"
                      id="status"
                      data-testid="status" 
                      [(ngModel)]="status"
                      [items]="Usagestatus">
                  </ng-select>
              </div>
              <div class="label-input pt-3">รับเอกสารใบกำกับภาษีในรูปแบบ E-Tax </div>
              <div class="label-input  ">ผ่าน Email โดยอัตโนมัติ </div>
          </div>
      
          <div *ngIf="status === 2" class="etax-item col-12 col-lg-4">
              <div class="form-group d-inline">
                  <label class="form-check-label pb-3" for="1">ระดับการตั้งค่า</label>
                  <ng-select 
                      class="form-control"
                      [clearable]="false" 
                      bindLabel="label"
                      bindValue="id"
                      id="level"
                      data-testid="level" 
                      [(ngModel)]="level"
                      [items]="Settinglevel">
                  </ng-select>
              </div>
              <div class="label-input pt-3">การตั้งค่าหลายอีเมล รองรับในการตั้งค่าขั้นสูง</div>
          </div>

          <div *ngIf="status === 2" class="etax-item col-12 col-lg-4">
              <div class="form-group d-inline">
                  <label class="form-check-label pb-3" for="1">อีเมล</label>
                  <input
                      class="form-control"
                      data-testid="emailInput"
                      placeholder="example@mail.com"
                      formControlName="email"
                      id="emailInput"
                      type="text"
                      [readonly]="true"
                  >
              </div>
              <div class="label-input pt-3">การตั้งค่าหลายอีเมล รองรับในการตั้งค่าขั้นสูง</div>
              <div class="text-center" (click)="openModal()">
                <a class="etax-item" (click)="openModal()">เปลี่ยนอีเมล</a>
              </div>
          </div>
      </div>

      <div *ngIf="level === 2">
        <h3 class="content-title pt-3">ข้อมูลรายละเอียดการตั้งค่าขั้นสูง</h3>
      </div>
      

      <div *ngIf="level === 2"  class="row">
          <div class="etax-item col-12 col-lg-4">
              <div class="form-group d-inline">
                  <h4 class="fw-bold mb-3">การเติมเงินเข้าระบบ (ETC)</h4>
                  <div class="form-check form-switch mb-3">
                      <input class="form-check-input" type="checkbox" role="switch" id="1">
                      <label class="form-check-label" for="1">เปิดใช้งาน - รับใบกับกับภาษี E-Tax อัตโนมัติ</label>
                  </div>
                  <div class="form-group">
                      <label class="label-input" for="emailInput">
                      อีเมล
                      </label>
                      <input
                          class="form-control"
                          data-testid="emailInput"
                          placeholder="example@mail.com"
                          id="emailInput"
                          type="text"
                          [readonly]="true"
                      >
                  </div>
                  <div class="label-input mb-3">ระบุอีเมลเพื่อใช้รับใบกำกับภาษี E-Tax</div>
                  <div class="text-center"><a>เปลี่ยนอีเมล</a></div>
              </div>
          </div>
      
          <div class="etax-item col-12 col-lg-4">
              <div class="form-group d-inline">
                  <h4 class="fw-bold mb-3">การชำระค่าผ่านทาง (ETC)</h4>
                  <div class="form-check form-switch mb-3">
                      <input class="form-check-input" type="checkbox" role="switch" id="1">
                      <label class="form-check-label" for="1">เปิดใช้งาน - รับใบกับกับภาษี E-Tax อัตโนมัติ</label>
                  </div>
                  <div class="form-group">
                      <label class="label-input" for="emailInput">
                      อีเมล
                      </label>
                      <input
                          class="form-control"
                          data-testid="emailInput"
                          placeholder="example@mail.com"
                          id="emailInput"
                          type="text"
                          [readonly]="true"
                      >
                  </div>
                  <div class="label-input mb-3">ระบุอีเมลเพื่อใช้รับใบกำกับภาษี E-Tax</div>
                  <div class="text-center"><a>เปลี่ยนอีเมล</a></div>
              </div>
          </div>

          <div class="etax-item col-12 col-lg-4">
              <div class="form-group d-inline">
                  <h4 class="fw-bold mb-3">การเช่าใช้งาน</h4>
                  <div class="form-check form-switch mb-3">
                      <input class="form-check-input" type="checkbox" role="switch" id="1">
                      <label class="form-check-label" for="1">เปิดใช้งาน - รับใบกับกับภาษี E-Tax อัตโนมัติ</label>
                  </div>
                  <div class="form-group">
                      <label class="label-input" for="emailInput">
                      อีเมล
                      </label>
                      <input
                          class="form-control"
                          data-testid="emailInput"
                          placeholder="example@mail.com"
                          id="emailInput"
                          type="text"
                          [readonly]="true"
                      >
                  </div>
                  <div class="label-input mb-3">ระบุอีเมลเพื่อใช้รับใบกำกับภาษี E-Tax</div>
                  <div class="text-center"><a>เปลี่ยนอีเมล</a></div>
              </div>
          </div>
      </div>

      <div *ngIf="level === 2"  class="row">
          <div class="etax-item col-12 col-lg-4">
              <div class="form-group d-inline">
                  <h4 class="fw-bold mb-3">การชำระค่าผ่านทาง (ETC)</h4>
                  <div class="form-check form-switch mb-3">
                      <input class="form-check-input" type="checkbox" role="switch" id="1">
                      <label class="form-check-label" for="1">เปิดใช้งาน - รับใบกับกับภาษี E-Tax อัตโนมัติ</label>
                  </div>
                  <div class="form-group">
                      <label class="label-input" for="emailInput">
                      อีเมล
                      </label>
                      <input
                          class="form-control"
                          data-testid="emailInput"
                          placeholder="example@mail.com"
                          id="emailInput"
                          type="text"
                          [readonly]="true"
                      >
                  </div>
                  <div class="label-input mb-3">ระบุอีเมลเพื่อใช้รับใบกำกับภาษี E-Tax</div>
                  <div class="text-center"><a>เปลี่ยนอีเมล</a></div>
              </div>
          </div>
      
          <div class="etax-item col-12 col-lg-4">
              <div class="form-group d-inline">
                  <h4 class="fw-bold mb-3">อื้่นๆ</h4>
                  <div class="form-check form-switch mb-3">
                      <input class="form-check-input" type="checkbox" role="switch" id="1">
                      <label class="form-check-label" for="1">เปิดใช้งาน - รับใบกับกับภาษี E-Tax อัตโนมัติ</label>
                  </div>
                  <div class="form-group">
                      <label class="label-input" for="emailInput">
                      อีเมล
                      </label>
                      <input
                          class="form-control"
                          data-testid="emailInput"
                          placeholder="example@mail.com"
                          id="emailInput"
                          type="text"
                          [readonly]="true"
                      >
                  </div>
                  <div class="label-input mb-3">ระบุอีเมลเพื่อใช้รับใบกำกับภาษี E-Tax</div>
                  <div class="text-center"><a>เปลี่ยนอีเมล</a></div>
              </div>
          </div>
      </div>

  </div>
</div>
