<div class="content-container h-100">
    <div class="content-container-header">
        <div class="content-container-header-item">
            <h1 *ngIf="customerType === 1" class="content-title">เพิ่มผู้ใช้งาน - บุคคลทั่วไป</h1>
            <h1 *ngIf="customerType === 2" class="content-title">เพิ่มผู้ใช้งาน - นิติบุคคล / องค์กร</h1>
        </div>
    </div>
    <div class="content-wrapper" [style.margin-bottom.px]="footerHeight">
        <hr class="hr-custom mb-5" />
        <div class="body-wrapper">
            <h2 class="mb-5 text-center">เลือกประเภทการยืนยันตัวตน</h2>
            <div class="btn-container d-flex flex-column align-items-center gap-3">
                <button style="width: 50%;" class="custom-btn btn-type-1 mb-5" (click)="onNext(1)" data-testid="idCardBtn"
                    id="idCardBtn" title="บัตรประชาชน">
                    <icon-svg [color]="'#FFFFFF'" [size]="'m'" [path]="'id-card' | icon" />
                    บัตรประชาชน
                </button>
                <button style="width: 50%;" class="custom-btn btn-type-1 mb-5" (click)="onNext(3)" data-testid="passportBtn"
                    id="passportBtn" title="หนังสือเดินทาง">
                    <icon-svg [color]="'#FFFFFF'" [size]="'m'" [path]="'passport' | icon" />
                    หนังสือเดินทาง
                </button>
            </div>
        </div>
    </div>
    <div #footer class="footer">
        <hr class="hr-custom mb-3" />
        <div class="btn-footer d-flex justify-content-center gap-3">
            <button class="custom-btn btn-fixed-size-1 btn-type-3" data-testid="backButton" id="backButton" title="ย้อนกลับ"
            (click)="onBack()">
            ย้อนกลับ
        </button>
        </div>
    </div>
</div>