<div class="content-container h-100">
    <div class="content-container-header">
        <div class="content-container-header-item">
            <h1 *ngIf="customerType === 1" class="content-title">เพิ่มผู้ใช้งาน - บุคคลทั่วไป</h1>
            <h1 *ngIf="customerType === 2" class="content-title">เพิ่มผู้ใช้งาน - นิติบุคคล / องค์กร</h1>
        </div>
    </div>
    <div class="content-wrapper" [style.margin-bottom.px]="footerHeight">
        <hr class="hr-custom" />
        <div class="body-wrapper">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-sm-12 col-md-4 mb-3">
                        <h3 class="mb-3">ข้อมูลอาชีพ</h3>
                        <div class="col-12 mb-3">
                            <label class="label-input required-field" for="occupationInput">
                                อาชีพ
                            </label>
                            <input [ngClass]="{
                                'is-invalid':  form.get('occupation').errors?.['required'] && form.get('occupation').touched
                              }" class="form-control" data-testid="occupationInput" formControlName="occupation"
                                id="occupationInput" type="text">
                            <!-- <small *ngIf="form.get('occupation').errors?.['required'] && form.get('occupation').touched"
                                class="req-text">*โปรดระบุอาชีพ</small> -->
                        </div>
                        <div class="col-12 mb-3">
                            <label class="label-input required-field" for="companyNameInput">
                                ชื่อที่ทำงาน
                            </label>
                            <input [ngClass]="{
                                'is-invalid':  form.get('companyName').errors?.['required'] && form.get('companyName').touched
                              }" class="form-control" data-testid="companyNameInput" formControlName="companyName"
                                id="companyNameInput" type="text">
                            <!-- <small *ngIf="form.get('companyName').errors?.['required'] && form.get('companyName').touched"
                                class="req-text">*โปรดระบุชื่อที่ทำงาน</small> -->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8 mb-3">
                        <h3 class="mb-3">ที่อยู่ที่ทำงาน</h3>
                        <address [form]="form"></address>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div #footer class="footer">
        <hr class="hr-custom mb-3" />
        <div class="btn-footer d-flex justify-content-center gap-3">
            <button class="custom-btn btn-fixed-size-1 btn-type-3" data-testid="backButton" id="backButton"
                title="ย้อนกลับ" (click)="onBack()">
                ย้อนกลับ
            </button>
            <button class="custom-btn btn-fixed-size-1 btn-type-1" data-testid="nextButton" id="nextButton"
                title="ถัดไป" [disabled]="form.invalid" (click)="onNext()">
                ถัดไป
            </button>
        </div>
    </div>
</div>