<div class="wallet-container">
    <div class="wallet-header-wrapper mb-3">
        <h2>รายระเอียดกระเป๋าเงิน</h2>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 col-lg-6 d-flex align-items-end mb-3">
            <button class="custom-btn btn-type-1" (click)="onAddWallet()">เพิ่มกระเป๋าเงิน</button>
        </div>
        <div class="col-md-12 col-lg-6 mb-3">
            <label class="label-input text-nowrap" for="totalBalanceInput">
                ข้อมูลผู้ใช้งาน (OBU serial number, Card serial number)
            </label>
            <div class="input-box">
                <input
                  class="form-control"
                  id="searchInput"
                  data-testid="searchInput"
                  [(ngModel)]="search"
                  placeholder="กรุณาระบุ"
                  type="text"
                  (ngModelChange)="onChangeSearch()"
                />
                <div class="icon-search">
                    <icon-svg [color]="'#2255CE'" [path]="'assets/images/icons/search.svg'" [size]="'m'" />
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngFor="let row of walletList">
        <div *ngIf="row.walletTypeId === 1 || row.walletTypeId === 4"
            class="wallet-box">
            <h3 class="mb-3">กระเป๋าเติมเงิน (Prepaid)</h3>
            <div class="row mb-3">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label class="label-input text-nowrap" for="walletTotalInput">
                        หมายเลข
                    </label>
                    <div class="input-box">
                        <input ngxCopyPaste #cp="copy" class="form-control" data-testid="walletTotalInput"
                            id="walletTotalInput" type="text" [value]="row.walletId" readonly>
                        <div class="icon-search" (click)="cp.copy()">
                            <icon-svg class="user-search" [color]="'#2255CE'" [path]="'assets/images/icons/copy.svg'"
                                [size]="'m'" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label class="label-input text-nowrap" for="totalLoyaltyPointInput">
                        ประเภท
                    </label>
                    <input class="form-control" data-testid="totalLoyaltyPointInput" id="totalLoyaltyPointInput"
                        type="text" [value]="'กระเป๋าเติมเงิน (Prepaid)'" readonly />
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label class="label-input text-nowrap" for="totalBalanceInput">
                        จำนวนเงินคงเหลือ
                    </label>
                    <input currencyMask class="form-control" data-testid="totalBalanceInput" id="totalBalanceInput"
                        [options]="{ prefix: '', thousands: ',', decimal: '.', suffix: '' }" [type]="0" [value]="row.totalBalance"
                        readonly />
                </div>
            </div>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="row.isCollapsed">
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <label class="label-input text-nowrap" for="walletTotalInput">
                            วันที่ใช้งานล่าสุด
                        </label>
                        <input class="form-control" data-testid="walletTotalInput" id="walletTotalInput" type="text"
                            [value]="'31 กรกฏาคม 2566'" readonly>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <label class="label-input text-nowrap" for="totalLoyaltyPointInput">
                            คะแนนสะสม
                        </label>
                        <input currencyMask class="form-control" data-testid="totalLoyaltyPointInput"
                            id="totalLoyaltyPointInput"
                            [options]="{ prefix: '', thousands: ',', decimal: '.', suffix: '' }" [type]="0"
                            [value]="row.totalPoint" readonly />
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <label class="label-input text-nowrap" for="totalBalanceInput">
                            สถานะ
                        </label>
                        <input class="form-control" data-testid="totalBalanceInput" id="totalBalanceInput"
                            [value]="'Active - ใช้งาน'" readonly />
                    </div>
                </div>
                <datatable [columns]="activeUsedColumns" [collectionSize]="walletList.length"
                    [id]="'deviceActiveDatatable'" [isLoading]="isLoading" [limitRow]="limitRow" [pages]="pages"
                    [rows]="row.row" emptyMessage="No Data" (onChangePageEvent)="onChangePage($event)"
                    (onRowActionEvent)="onAction($event)" />

                <div class="row">
                    <p class="red-note-text col-md-12 col-lg-6 mb-3">หมายเหตุ: eWallet จะไม่สามารถถูกยกเลิกได้
                        หากยังมีอุปกรณ์ที่ผูกอยู่</p>
                    <div class="col-md-12 col-lg-6 mb-3 d-flex justify-content-md-start justify-content-lg-end gap-3">
                        <button class="custom-btn btn-type-1 red-outline">อายัดชั่วคราว</button>
                        <button class="custom-btn btn-type-1 red">ปิดกระเป๋า</button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button class="custom-btn btn-type-4" (click)="row.isCollapsed = !row.isCollapsed"
                    [attr.aria-expanded]="!row.isCollapsed" aria-controls="collapseExample"><span
                        *ngIf="row.isCollapsed">รายละเอียดเพิ่มเติม</span><span
                        *ngIf="!row.isCollapsed">ย่อรายละเอียด</span></button>
            </div>
        </div>

        <div *ngIf="row.walletTypeId === 3 || row.walletTypeId === 6" class="wallet-box">
            <h3 class="mb-3">กระเป๋ารายเดือน (Postpaid - Billing)</h3>
            <div class="row mb-3">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label class="label-input text-nowrap" for="walletTotalInput">
                        หมายเลข
                    </label>
                    <div class="input-box">
                        <input ngxCopyPaste #cp="copy" class="form-control" data-testid="walletTotalInput"
                            id="walletTotalInput" type="text" [value]="row.walletId" readonly>
                        <div class="icon-search" (click)="cp.copy()">
                            <icon-svg class="user-search" [color]="'#2255CE'" [path]="'assets/images/icons/copy.svg'"
                                [size]="'m'" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label class="label-input text-nowrap" for="totalLoyaltyPointInput">
                        ประเภท
                    </label>
                    <input class="form-control" data-testid="totalLoyaltyPointInput" id="totalLoyaltyPointInput"
                        type="text" [value]="'กระเป๋ารายเดือน (Postpaid - Billing)'" readonly />
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label class="label-input text-nowrap" for="totalBalanceInput">
                        จำนวนเงินคงเหลือ
                    </label>
                    <input currencyMask class="form-control" data-testid="totalBalanceInput" id="totalBalanceInput"
                        [options]="{ prefix: '', thousands: ',', decimal: '.', suffix: '' }" [type]="0" [value]="row.totalBalance"
                        readonly />
                </div>
            </div>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="row.isCollapsed">
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <label class="label-input text-nowrap" for="walletTotalInput">
                            วันที่ใช้งานล่าสุด
                        </label>
                        <input class="form-control" data-testid="walletTotalInput" id="walletTotalInput" type="text"
                            [value]="'31 กรกฏาคม 2566'" readonly>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <label class="label-input text-nowrap" for="totalLoyaltyPointInput">
                            คะแนนสะสม
                        </label>
                        <input currencyMask class="form-control" data-testid="totalLoyaltyPointInput"
                            id="totalLoyaltyPointInput"
                            [options]="{ prefix: '', thousands: ',', decimal: '.', suffix: '' }" [type]="0"
                            [value]="row.totalPoint" readonly />
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <label class="label-input text-nowrap" for="totalBalanceInput">
                            สถานะ
                        </label>
                        <input class="form-control" data-testid="totalBalanceInput" id="totalBalanceInput"
                            [value]="'Active - ใช้งาน'" readonly />
                    </div>
                </div>
                <datatable [columns]="activeUsedColumns" [collectionSize]="walletList.length"
                    [id]="'deviceActiveDatatable'" [isLoading]="isLoading" [limitRow]="limitRow" [pages]="pages"
                    [rows]="row.row" emptyMessage="No Data" (onChangePageEvent)="onChangePage($event)"
                    (onRowActionEvent)="onAction($event)" />

                <div class="row">
                    <p class="red-note-text col-md-12 col-lg-6 mb-3">หมายเหตุ: eWallet จะไม่สามารถถูกยกเลิกได้
                        หากยังมีอุปกรณ์ที่ผูกอยู่</p>
                    <div class="col-md-12 col-lg-6 mb-3 d-flex justify-content-md-start justify-content-lg-end gap-3">
                        <button class="custom-btn btn-type-1 red-outline">อายัดชั่วคราว</button>
                        <button class="custom-btn btn-type-1 red">ปิดกระเป๋า</button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button class="custom-btn btn-type-4" (click)="row.isCollapsed = !row.isCollapsed"
                    [attr.aria-expanded]="!row.isCollapsed" aria-controls="collapseExample"><span
                        *ngIf="row.isCollapsed">รายละเอียดเพิ่มเติม</span><span
                        *ngIf="!row.isCollapsed">ย่อรายละเอียด</span></button>
            </div>
        </div>

        <div *ngIf="row.walletTypeId === 2 || row.walletTypeId === 5"
            class="wallet-box">
            <h3 class="mb-3">กระเป๋าบัตรเครดิต (Direct credit)</h3>
            <div class="row mb-3">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label class="label-input text-nowrap" for="walletTotalInput">
                        หมายเลข
                    </label>
                    <div class="input-box">
                        <input ngxCopyPaste #cp="copy" class="form-control" data-testid="walletTotalInput"
                            id="walletTotalInput" type="text" [value]="row.walletId" readonly>
                        <div class="icon-search" (click)="cp.copy()">
                            <icon-svg class="user-search" [color]="'#2255CE'" [path]="'assets/images/icons/copy.svg'"
                                [size]="'m'" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label class="label-input text-nowrap" for="totalLoyaltyPointInput">
                        ประเภท
                    </label>
                    <input class="form-control" data-testid="totalLoyaltyPointInput" id="totalLoyaltyPointInput"
                        type="text" [value]="'กระเป๋าเครดิต (Direct credit)'" readonly />
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label class="label-input text-nowrap" for="totalBalanceInput">
                        จำนวนเงินคงเหลือ
                    </label>
                    <input currencyMask class="form-control" data-testid="totalBalanceInput" id="totalBalanceInput"
                        [options]="{ prefix: '', thousands: ',', decimal: '.', suffix: '' }" [type]="0" [value]="row.totalBalance"
                        readonly />
                </div>
            </div>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="row.isCollapsed">
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <label class="label-input text-nowrap" for="walletTotalInput">
                            วันที่ใช้งานล่าสุด
                        </label>
                        <input class="form-control" data-testid="walletTotalInput" id="walletTotalInput" type="text"
                            [value]="'31 กรกฏาคม 2566'" readonly>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <label class="label-input text-nowrap" for="totalLoyaltyPointInput">
                            คะแนนสะสม
                        </label>
                        <input currencyMask class="form-control" data-testid="totalLoyaltyPointInput"
                            id="totalLoyaltyPointInput"
                            [options]="{ prefix: '', thousands: ',', decimal: '.', suffix: '' }" [type]="0"
                            [value]="row.totalPoint" readonly />
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <label class="label-input text-nowrap" for="totalBalanceInput">
                            สถานะ
                        </label>
                        <input class="form-control" data-testid="totalBalanceInput" id="totalBalanceInput"
                            [value]="'Active - ใช้งาน'" readonly />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <label class="label-input text-nowrap" for="walletTotalInput">
                            บัตรเครดิต / เดบิต ที่ใช้งานกับกระเป๋าเงิน
                        </label>
                        <input class="form-control" data-testid="walletTotalInput" id="walletTotalInput" type="text"
                            [value]="'**** **** **** 4123'" readonly>
                    </div>
                </div>
                <datatable [columns]="activeUsedColumns" [collectionSize]="walletList.length"
                    [id]="'deviceActiveDatatable'" [isLoading]="isLoading" [limitRow]="limitRow" [pages]="pages"
                    [rows]="row.row" emptyMessage="No Data" (onChangePageEvent)="onChangePage($event)"
                    (onRowActionEvent)="onAction($event)" />

                <div class="row">
                    <p class="red-note-text col-md-12 col-lg-6 mb-3">หมายเหตุ: eWallet จะไม่สามารถถูกยกเลิกได้
                        หากยังมีอุปกรณ์ที่ผูกอยู่</p>
                    <div class="col-md-12 col-lg-6 mb-3 d-flex justify-content-md-start justify-content-lg-end gap-3">
                        <button class="custom-btn btn-type-1 red-outline">อายัดชั่วคราว</button>
                        <button class="custom-btn btn-type-1 red">ปิดกระเป๋า</button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button class="custom-btn btn-type-4" (click)="row.isCollapsed = !row.isCollapsed"
                    [attr.aria-expanded]="!row.isCollapsed" aria-controls="collapseExample"><span
                        *ngIf="row.isCollapsed">รายละเอียดเพิ่มเติม</span><span
                        *ngIf="!row.isCollapsed">ย่อรายละเอียด</span></button>
            </div>
        </div>

        <div *ngIf="row.walletTypeId === 0" class="wallet-box">
            <h3 class="mb-3">กระเป๋าเงินประเภท 9</h3>
            <div class="row mb-3">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label class="label-input text-nowrap" for="walletTotalInput">
                        หมายเลข
                    </label>
                    <div class="input-box">
                        <input ngxCopyPaste #cp="copy" class="form-control" data-testid="walletTotalInput"
                            id="walletTotalInput" type="text" [value]="row.walletId" readonly>
                        <div class="icon-search" (click)="cp.copy()">
                            <icon-svg class="user-search" [color]="'#2255CE'" [path]="'assets/images/icons/copy.svg'"
                                [size]="'m'" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label class="label-input text-nowrap" for="totalLoyaltyPointInput">
                        ประเภท
                    </label>
                    <input class="form-control" data-testid="totalLoyaltyPointInput" id="totalLoyaltyPointInput"
                        type="text" [value]="'กระเป๋าเงินประเภท 9'" readonly />
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label class="label-input text-nowrap" for="totalBalanceInput">
                        จำนวนเงินคงเหลือ
                    </label>
                    <input currencyMask class="form-control" data-testid="totalBalanceInput" id="totalBalanceInput"
                        [options]="{ prefix: '', thousands: ',', decimal: '.', suffix: '' }" [type]="0"
                        [value]="row.totalBalance" readonly />
                </div>
            </div>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="row.isCollapsed">
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <label class="label-input text-nowrap" for="walletTotalInput">
                            วันที่ใช้งานล่าสุด
                        </label>
                        <input class="form-control" data-testid="walletTotalInput" id="walletTotalInput" type="text"
                            [value]="'31 กรกฏาคม 2566'" readonly>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <label class="label-input text-nowrap" for="totalLoyaltyPointInput">
                            คะแนนสะสม
                        </label>
                        <input currencyMask class="form-control" data-testid="totalLoyaltyPointInput"
                            id="totalLoyaltyPointInput"
                            [options]="{ prefix: '', thousands: ',', decimal: '.', suffix: '' }" [type]="0"
                            [value]="row.totalPoint" readonly />
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <label class="label-input text-nowrap" for="totalBalanceInput">
                            สถานะ
                        </label>
                        <input class="form-control" data-testid="totalBalanceInput" id="totalBalanceInput"
                            [value]="row.walletStatus | walletStatus" readonly />
                    </div>
                </div>
                <datatable [columns]="activeUsedColumns" [collectionSize]="walletList.length"
                    [id]="'deviceActiveDatatable'" [isLoading]="isLoading" [limitRow]="limitRow" [pages]="pages"
                    [rows]="row.row" emptyMessage="No Data" (onChangePageEvent)="onChangePage($event)"
                    (onRowActionEvent)="onAction($event)" />

                <div class="row">
                    <p class="red-note-text col-md-12 col-lg-6 mb-3">หมายเหตุ: eWallet จะไม่สามารถถูกยกเลิกได้
                        หากยังมีอุปกรณ์ที่ผูกอยู่</p>
                    <div class="col-md-12 col-lg-6 mb-3 d-flex justify-content-md-start justify-content-lg-end gap-3">
                        <button class="custom-btn btn-type-1 red-outline">อายัดชั่วคราว</button>
                        <button class="custom-btn btn-type-1 red">ปิดกระเป๋า</button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button class="custom-btn btn-type-4" (click)="row.isCollapsed = !row.isCollapsed"
                    [attr.aria-expanded]="!row.isCollapsed" aria-controls="collapseExample"><span
                        *ngIf="row.isCollapsed">รายละเอียดเพิ่มเติม</span><span
                        *ngIf="!row.isCollapsed">ย่อรายละเอียด</span></button>
            </div>
        </div>
    </ng-container>
</div>
