<div class="content-container container-xl p-0">
    <div class="content-container-header">
        <div class="content-container-header-item">
            <h1 class="content-title">ข้อมูลผู้ใช้งาน</h1>
        </div>
    </div>
    <hr class="hr-custom" />
    <div class="content-container-body" [style.padding-top]="!isHiddenFillter ? '1.5rem' : '0'">
      <div *ngIf="!isHiddenFillter" class="col-4 mb-3">
        <label class="label-input" for="approvalSelect">
            การอนุมัติ
        </label>
        <ng-select 
            class="form-control"
            [clearable]="false" 
            bindLabel="label"
            bindValue="id"
            id="approvalSelect"
            data-testid="approvalSelect" 
            [(ngModel)]="approval"
            [items]="approvalList">
        </ng-select>
    </div>
    <div class="navs-container">
      <div class="d-flex" [style.display]="!isHiddenFillter ? 'flex' : 'none !important'">
        <ul
          ngbNav
          #nav="ngbNav"
          [(activeId)]="activeTab"
          (navChange)="onChangeNav($event)"
          class="nav-tabs nav-tabs-header"
        >
          <li [ngbNavItem]="'waiting-for-approval'">
            <button ngbNavLink>รอการอนุมัติ</button>
            <ng-template ngbNavContent>
              <approval-management-approval [setPendingStatus]="{type: approval, status: pendingStatus}" (hiddenFillterMenu)="handleHiddenFillterMenu($event)"></approval-management-approval>
            </ng-template>
          </li>
          <li [ngbNavItem]="'approval'">
            <button ngbNavLink>อนุมัติ</button>
            <ng-template ngbNavContent>
              <approval-management-approval [setPendingStatus]="{type: approval, status: pendingStatus}" (hiddenFillterMenu)="handleHiddenFillterMenu($event)"></approval-management-approval>
            </ng-template>
          </li>
          <li [ngbNavItem]="'reject'">
            <button ngbNavLink>ปฏิเสธ</button>
            <ng-template ngbNavContent>
              <approval-management-approval [setPendingStatus]="{type: approval, status: pendingStatus}" (hiddenFillterMenu)="handleHiddenFillterMenu($event)"></approval-management-approval>
            </ng-template>
          </li>
        </ul>
      </div>
        <div [ngbNavOutlet]="nav" class="navs-content-container" [style.padding-top]="!isHiddenFillter ? '2rem' : '0'"></div>
      </div>
    </div>
</div>