<div class="content-container h-100">
    <div class="content-container-header">
        <div class="content-container-header-item">
            <h1 *ngIf="customerType === 1" class="content-title">เพิ่มผู้ใช้งาน - บุคคลทั่วไป</h1>
            <h1 *ngIf="customerType === 2" class="content-title">เพิ่มผู้ใช้งาน - นิติบุคคล / องค์กร</h1>
        </div>
    </div>
    <div class="content-wrapper" [style.margin-bottom.px]="footerHeight">
        <hr class="hr-custom" />
        <div class="body-wrapper">
            <h3 *ngIf="customerType === 1" class="mb-3">ข้อมูลที่อยู่ตามบัตรประชาชน</h3>
            <h3 *ngIf="customerType === 2" class="mb-3">ข้อมูลที่อยู่บริษัท</h3>
            <address [form]="form"></address>
        </div>
    </div>
    <div #footer class="footer">
        <hr class="hr-custom mb-3" />
        <div class="btn-footer d-flex justify-content-center gap-3">
            <button class="custom-btn btn-fixed-size-1 btn-type-3" data-testid="backButton" id="backButton"
                title="ย้อนกลับ" (click)="onBack()">
                ย้อนกลับ
            </button>
            <button class="custom-btn btn-fixed-size-1 btn-type-1" data-testid="nextButton" id="nextButton"
                title="ถัดไป" [disabled]="form.invalid" (click)="onNext()">
                ถัดไป
            </button>
        </div>
    </div>
</div>