<div class="datepicker-container">
  <input
    bsDaterangepicker
    datePickerReadonly
    #dateRangePicker="bsDaterangepicker"
    [id]="id ? id : 'dateRangePicker'"
    [attr.data-testid]="id ? id : 'datePicker'"
    type="text"
    [placeholder]="placeholder"
    [disabled]="isDisabled"
    [outsideClick]="outsideClick"
    [placement]="placement"
    [bsConfig]="{
      containerClass: 'theme-blue',
      showWeekNumbers: false,
      adaptivePosition: true,
      rangeInputFormat: format ? format : 'DD/MM/YYYY',
      minDate: minDate,
      maxDate: maxDate,
      maxDateRange: maxDateRange,
      isDisabled: isDisabled
    }"
    class="form-control datepicker-custom"
    autocomplete="off"
    [ngClass]="{ 'is-invalid': invalid }"
    [(ngModel)]="date"
    (ngModelChange)="changeDate($event)"
  >
  <div class="datepicker-button-wrapper">
    <button
      *ngIf="date && clearable && !isDisabled"
      [attr.data-testid]="id ? 'clear'+(id | titlecase)+'Button' : 'clearDateRangePickerButton'"
      class="custom-btn btn-clear-calendar"
      [id]="id ? 'clear'+(id | titlecase)+'Button' : 'clearDateRangePickerButton'"
      title="ลบ"
      type="button"
      (click)="clearDate()"
    >
      <span aria-hidden="true" class="clear">×</span>
    </button>
    <button
      [attr.aria-expanded]="dateRangePicker.isOpen"
      [attr.data-testid]="id ? id+'Button' : 'dateRangePickerButton'"
      class="custom-btn btn-calendar"
      [disabled]="isDisabled"
      [id]="id ? id+'Button' : 'dateRangePickerButton'"
      title="เปิด"
      type="button"
      (click)="dateRangePicker.toggle()"
    >
      <img src="assets/images/icons/calendar.svg">
    </button>
  </div>
</div>
