<div class="search-container search-user-container h-100 "
  [ngClass]="tempSearch ? null : 'd-flex align-items-center justify-content-center'">
  <div class="search-user-content-wrapper " [ngClass]="tempSearch ? 'mb-5' : null" [@fadeInOutseach]>
    <ng-container *ngIf="tempSearch">
      <div class="mb-4">
        <button class="custom-btn btn-type-3" data-testid="backButton" id="backButton" title="กลับ" type="button"
          (click)="onBack()">
          กลับ
        </button>
      </div>
    </ng-container>

    <h2 class="mb-4" *ngIf="!tempSearch">ค้นหาข้อมูลผู้ใช้งาน</h2>
    <h2 class="mb-4" *ngIf="tempSearch">
      ค้นหาข้อมูลผู้ใช้งาน
      {{ form.get('searchType')?.value === 'personal' ? ' - บุคคลธรรมดา' : '' }}
      {{ form.get('searchType')?.value === 'corporate' ? ' - นิติบุคคล / องค์กร' : '' }}
      {{ form.get('searchType')?.value === 'international' ? ' - ชาวต่างชาติ' : '' }}
      {{ form.get('deviceType')?.value === 'obu' ? ' - หมายเลขอุปกรณ์' : '' }}
      {{ form.get('deviceType')?.value === 'smartCard' ? ' - หมายเลขบัตร Smart Card' : '' }}
    </h2>

    <form [formGroup]="form" class="form-wrapper" (ngSubmit)="onSearch()" *ngIf="!tempSearch">
      <div class="form-check mb-4">
        <input class="form-check-input" id="personalRadio" formControlName="searchType" type="radio" value="personal">
        <h3 class="form-check-label" for="personal">
          บุคคลธรรมดา
        </h3>
      </div>

      <div class="form-check mb-4">
        <input class="form-check-input" data-testid="corporateRadio" id="corporateRadio" formControlName="searchType"
          type="radio" value="corporate">
        <h3 class="form-check-label" for="corporateRadio">
          นิติบุคคล / องค์กร
        </h3>
      </div>

      <div class="form-check mb-4">
        <input class="form-check-input" data-testid="internationalRadio" id="internationalRadio"
          formControlName="searchType" type="radio" value="international">
        <h3 class="form-check-label" for="internationalRadio">
          ชาวต่างชาติ
        </h3>
      </div>

      <div class="form-check mb-4">
        <input class="form-check-input" id="deviceGroup" formControlName="searchType" type="radio" value="device">
        <h3 class="form-check-label" for="deviceGroup">
          หมายเลขอุปกรณ์ / หมายเลขบัตร Smart Card
        </h3>
      </div>

      <div class="ms-3" *ngIf="form.value.searchType === 'device' ">

        <div class="form-check mb-4">
          <input class="form-check-input" id="obuNumber" formControlName="deviceType" type="radio" value="obu">
          <h3 class="form-check-label" for="obuNumber">
            หมายเลขอุปกรณ์
          </h3>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" id="smartCardNumber" formControlName="deviceType" type="radio"
            value="smartCard">
          <h3 class="form-check-label" for="smartCardNumber">
            หมายเลขบัตร Smart Card
          </h3>
        </div>

      </div>


      <div class="mb-3"
        *ngIf="form.value.searchType === 'personal' || form.value.searchType === 'corporate' || form.value.searchType === 'international'">
        <label class="label-input"
          *ngIf="form.value.searchType === 'personal' || form.value.searchType === 'corporate'">เลขประจำตัวผู้เสียภาษี</label>
        <label class="label-input" *ngIf="form.value.searchType === 'international'">หมายเลขหนังสือเดินทาง</label>
        <div class="input-with-icon-wrapper">
          <icon-svg class="svg-search-icon" [color]="'#2255CE'" [size]="'l'" [path]="'search' | icon" />
          <input id="identificationId" class="form-control input-with-icon-right" data-testid="identificationIdInput"
            formControlName="identificationId" id="identificationIdInput" type="text" placeholder="กรุณาระบุ">
        </div>
      </div>

      <div class="mb-3" *ngIf="form.value.searchType === 'personal' || form.value.searchType === 'international'">
        <label class="label-input">ชื่อ</label>
        <div class="input-with-icon-wrapper">
          <icon-svg class="svg-search-icon" [color]="'#2255CE'" [size]="'l'" [path]="'search' | icon" />
          <input id="firstName" class="form-control input-with-icon-right" type="text" placeholder="กรุณาระบุ"
            formControlName="firstName">
        </div>
      </div>

      <div class="mb-3" *ngIf="form.value.searchType === 'personal' || form.value.searchType === 'international'">
        <label class="label-input">นามสกุล</label>
        <div class="input-with-icon-wrapper">
          <icon-svg class="svg-search-icon" [color]="'#2255CE'" [size]="'l'" [path]="'search' | icon" />
          <input id="lastName" class="form-control input-with-icon-right" type="text" placeholder="กรุณาระบุ"
            formControlName="lastName">
        </div>
      </div>

      <div class="mb-3" *ngIf="form.value.searchType === 'personal' || form.value.searchType === 'corporate'">
        <label class="label-input">ชื่อบริษัท / องค์กร</label>
        <div class="input-with-icon-wrapper">
          <icon-svg class="svg-search-icon" [color]="'#2255CE'" [size]="'l'" [path]="'search' | icon" />
          <input id="corporateName" class="form-control input-with-icon-right" type="text"
            placeholder="กรุณาระบุ" formControlName="corporateName">
        </div>
      </div>

      <div class="mb-3"
        *ngIf="form.value.searchType === 'personal' || form.value.searchType === 'corporate' || form.value.searchType === 'international'">
        <label class="label-input">เบอร์ติดต่อ</label>
        <div class="input-with-icon-wrapper">
          <icon-svg class="svg-search-icon" [color]="'#2255CE'" [size]="'l'" [path]="'search' | icon" />
          <input id="mobilePhone" class="form-control input-with-icon-right" type="text" placeholder="กรุณาระบุ"
            formControlName="mobilePhone">
        </div>
      </div>

      <div class="mb-3" *ngIf="form.value.searchType === 'device'">
        <label class="label-input">กรุณาระบุ</label>
        <div class="input-with-icon-wrapper">
          <icon-svg class="svg-search-icon" [color]="'#2255CE'" [size]="'l'" [path]="'search' | icon" />
          <input id="faremediaValue" class="form-control input-with-icon-right" type="text"
            placeholder="กรุณาระบุ" formControlName="faremediaValue">
        </div>
      </div>

      <ng-container *ngIf="!tempSearch">
        <div class="button-wrapper">
          <!-- <button class="custom-btn btn-type-2 mb-3 mt-4" data-testid="searchButton"
            [disabled]="!form.controls['identificationIdInput'].value || isLoading" id="searchButton" title="ค้นหา" type="submit"
            (click)="onSearch()">
            ค้นหา
          </button> -->
          <button class="custom-btn btn-type-2 mb-3 mt-4" data-testid="searchButton" id="searchButton" title="ค้นหา"
          [disabled]="isLoading" id="searchButton" 
            type="submit" (click)="onSearch()">
            ค้นหา
          </button>
          <button class="custom-btn btn-back" data-testid="backButton" id="backButton" title="ย้อนกลับ"
            (click)="onBackToHome()">
            กลับ
          </button>
        </div>
      </ng-container>

    </form>
  </div>


  <ng-container *ngIf="tempSearch && !isLoading">
    <hr class="hr-custom light mb-5" />
    <div class="search-user-datatable-wrapper" [@fadeInOutTable]>
      <datatable [columns]="columns" 
        [customDatatableFooterClass]="'datatable-info-white'" 
        [id]="'userDatatable'" 
        [isLoading]="isLoading"
        [collectionSize]="collectionSize"
        [pageSize]="pageSize" 
        [page]="page" 
        [totalPages]="totalPages"
        [rows]="rows" 
        emptyMessage="ไม่มีข้อมูล"
        (onChangePageEvent)="onChangePage($event)" (onRowActionEvent)="onAction($event)" />
    </div>
  </ng-container>

</div>