<div class="content-container container-xl p-0">
    <div class="content-container-header">
        <div class="content-container-header-item">
            <h1 class="content-title">ข้อมูลผู้ใช้งาน</h1>
        </div>
        <div class="content-container-header-item">
            <button class="custom-btn btn-type-3" data-testid="clearButton" id="clearButton" title="ล้างการค้นหา">
                ล้างการค้นหา
            </button>
        </div>
    </div>
    <div class="user-type-container">
        test
    </div>
</div>