<div class="content-container container-xl p-0">
  <div class="content-container-header">
    <div class="content-container-header-item d-flex gap-3 w-100 justify-content-between">
      <h1 class="content-title">ลงทะเบียนบัตรทดสอบ</h1>
      <button class="custom-btn btn-type-3" (click)="onBack()">ย้อนกลับ</button>
    </div>
  </div>
  <hr class="hr-custom" />
  <form [formGroup]="form" class="d-flex align-items-center gap-3 mb-5">
    <div class="form-group">
      <label class="label-input text-nowrap" for="searchInput">
        ข้อมูลหมายเลขอุปกรณ์
      </label>
      <div class="form-group flex-row d-flex gap-3">
        <div class="input-with-icon-wrapper">
          <input class="form-control input-icon-right" id="searchInput" data-testid="searchInput"
            formControlName="search" placeholder="กรุณาระบุหมายเลขอุปกรณ์" type="text" />
          <icon-svg class="svg-search-icon" [color]="'#2255CE'" [path]="'assets/images/icons/search.svg'"
            [size]="'l'" />
        </div>
        <button class="custom-btn search-btn" data-testid="searchButton" id="searchButton" title="ค้นหา" type="submit"
          [disabled]="form.invalid||isOpenDetail" (click)="onSearchFaremediaWithWalletId()">
          <icon-svg class="svg-icon" [color]="'#FFFFFF'" [size]="'20px'" [path]="'search' | icon" />
        </button>
        <button
          style="border: none;background: none;"
          *ngIf="isSearch" (click)="clearSearch()">
          <icon-svg class="svg-icon" [color]="'red'" [size]="'20px'" [path]="'assets/images/icons/close.svg'" />
        </button>
      </div>
      <small class="form-text text-muted">*จะมีข้อมูลแสดงก็ต่อเมื่อเคยลงทะเบียนเป็นบัตรทดสอบแล้ว</small>
    </div>



  </form>
  <div class="content-container-body" [style.padding-top]="!isHiddenFillter ? '1.5rem' : '0'">
    <ng-container>

      <div class="datatable-container d-flex" *ngIf="!isOpenDetail && isSearch" style="flex-direction: column;;">
        <datatable [columns]="columnsSearch" [collectionSize]="collectionSizeSearch" [id]="'userDatatable'"
          [isLoading]="isLoading" [pageSize]="limitRow" [page]="pages" [rows]="filterSearchRows"
          (onRowActionEvent)="onActive($event)" emptyMessage="ไม่มีข้อมูล"
          (onChangePageEvent)="onChangePageSearch($event)" />
        <div class="d-flex justify-content-end">
          <button class="custom-btn btn-type-1" type="submit" style="max-width: 300px;"
            [disabled]="changeStatus.length === 0" (click)="onChangeStatus()" *ngIf="collectionSizeSearch > 0">
            บันทึก
          </button>
        </div>
      </div>

      <div class="datatable-container" *ngIf="isOpenDetail">
        <datatable [columns]="columnsDetail" [collectionSize]="collectionSizeDetail" [id]="'userDatatable'"
          [isLoading]="isLoading" [pageSize]="limitRow" [page]="pages" [rows]="detailRows"
          (onRowActionEvent)="onActive($event)" emptyMessage="ไม่มีข้อมูล"
          (onChangePageEvent)="onChagePageFaremediaInfoList($event)" />
      </div>

      <ng-template #defaultTemplate>
        <div class="d-flex justify-content-end align-items-center">
          <button class="custom-btn btn-type-1" type="submit" (click)="RegisterFormModal()">
            ลงทะเบียนบัตรทดสอบ
          </button>
        </div>
        <datatable [columns]="columns" [collectionSize]="collectionSize" [id]="'userDatatable'" [isLoading]="isLoading"
          [pageSize]="limitRow" [page]="pages" [rows]="rows" (onRowActionEvent)="onActive($event)"
          emptyMessage="ไม่มีข้อมูล" (onChangePageEvent)="onChangePageInfo($event)" />
      </ng-template>

      <ng-container *ngIf="!isOpenDetail && !isSearch">
        <ng-container *ngTemplateOutlet="defaultTemplate"></ng-container>
      </ng-container>

    </ng-container>
  </div>

</div>