<div class="content-container container-xl p-0">
    <div class="content-container-header">
        <div class="content-container-header-item">
            <h1 class="content-title">ทะเบียนบัตรทดสอบ</h1>
        </div>
    </div>
    <hr class="hr-custom" />
    <div class="content-container-body" [style.padding-top]="!isHiddenFillter ? '1.5rem' : '0'">
        <div class="d-flex justify-content-end align-items-center">
            <button class="custom-btn btn-type-1" type="submit" title="Login">
                ลงทะเบียนบัตรทดสอบ
            </button>
        </div>
        <ng-container>
            <div class="datatable-container">
                <datatable [columns]="columns" [collectionSize]="collectionSize" [id]="'userDatatable'"
                    [isLoading]="isLoading" [pageSize]="limitRow" [page]="pages" [rows]="rows" (onRowActionEvent)="onActive($event)"
                    emptyMessage="ไม่มีข้อมูล" />
            </div>
            <!-- <div class="datatable-container">
                <datatable [columns]="columns" [collectionSize]="collectionSize" [id]="'userDatatable'" [isLoading]="isLoading"
                    [pageSize]="limitRow" [page]="pages" [rows]="rows" emptyMessage="ไม่มีข้อมูล"
                    (onChangePageEvent)="onChangePage($event)" (onRowActionEvent)="onAction($event)" />
            </div> -->
        </ng-container>
    </div>
</div>