<div style="position: absolute; top: 70px; left: 0;">
    <p>step: {{ step }}</p>
</div>
<div *ngIf="transactionId" [ngSwitch]="step">
    <term-condition *ngSwitchCase="1" [transactionId]="transactionId" (nextStep)="onNextStep()"
        (backStep)="onBackStep()">
    </term-condition>
    <email-otp-request *ngSwitchCase="2" [transactionId]="transactionId" [form]="emailOtpRequest"
        (nextStep)="onNextRequestOtpEmailStep($event)" (backStep)="onBackStep()">
    </email-otp-request>
    <confirm-otp *ngSwitchCase="3" [transactionId]="transactionId" [verifyOtpType]="'email'"
        [verifyOtpRequest]="otpEmailResponse" (nextStep)="onNextStep()" (backStep)="onBackStep()">
    </confirm-otp>
    <mobile-otp-request *ngSwitchCase="4" [transactionId]="transactionId" [form]="mobileOtpRequest" (nextStep)="onNextRequestOtpEmailStep($event)"
        (backStep)="onBackStep()">
    </mobile-otp-request>
    <confirm-otp *ngSwitchCase="5" [transactionId]="transactionId" [verifyOtpType]="'mobile'"
        [verifyOtpRequest]="otpEmailResponse" (nextStep)="onNextStep()" (backStep)="onBackStep()">
    </confirm-otp>
    <contact-person *ngSwitchCase="6" [transactionId]="transactionId" (nextStep)="onNextStep()"
        (backStep)="onBackStep()">
    </contact-person>
    <juristic-info *ngSwitchCase="7" [transactionId]="transactionId" (nextStep)="onNextJuristicInfo($event)"
        (backStep)="onBackStep()">
    </juristic-info>
    <company-address *ngSwitchCase="8" [transactionId]="transactionId" [form]="companyAddressform"
        [juristicInfo]="juristicInfo" (nextStep)="onNextStep()" (backStep)="onBackStep()">
    </company-address>
    <etax-address *ngSwitchCase="9" [transactionId]="transactionId" [form]="etaxAddressform"
        [companyAddressForm]="companyAddressform" (nextStep)="onNextStep()" (backStep)="onBackStep()">
    </etax-address>
    <juristic-attach-document *ngSwitchCase="10" [transactionId]="transactionId" (nextStep)="onNextStep()"
        (backStep)="onBackStep()">
    </juristic-attach-document>
    <choose-channel-otp *ngSwitchCase="11" [transactionId]="transactionId" [emailOtpRequest]="emailOtpRequest" [mobileOtpRequest]="mobileOtpRequest" (nextStep)="onNextStep()"
        (backStep)="onBackStep()">
    </choose-channel-otp>
</div>