<div class="content-container h-100">
    <div class="content-container-header">
        <div class="content-container-header-item">
            <h1 *ngIf="customerType === 1" class="content-title">เพิ่มผู้ใช้งาน - บุคคลทั่วไป</h1>
            <h1 *ngIf="customerType === 2" class="content-title">เพิ่มผู้ใช้งาน - นิติบุคคล / องค์กร</h1>
        </div>
    </div>
    <div class="content-wrapper" [style.margin-bottom.px]="footerHeight">
        <hr class="hr-custom" />
        <div class="body-wrapper">
            <h3 class="mb-3">ข้อมูลที่อยู่สำหรับการขอใบกำกับภาษี</h3>
            <form [formGroup]="form">
                <div *ngIf="customerType === 1" class="row">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="isEtaxAddressSame"
                            id="sameIdCardAddressRadio" formControlName="isEtaxAddressSame" value="1"
                            (change)="onChangeSameAddress($event)">
                        <label class="label-input" for="sameIdCardAddressRadio">
                            เหมือนที่อยู่ตามบัตรประชาชน
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="isEtaxAddressSame"
                            id="sameCurrentAddressRadio" formControlName="isEtaxAddressSame" value="2"
                            (change)="onChangeSameAddress($event)">
                        <label class="label-input" for="sameCurrentAddressRadio">
                            เหมือนที่อยู่ปัจจุบัน
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="isEtaxAddressSame" id="sameWorkAddressRadio"
                            formControlName="isEtaxAddressSame" value="3" (change)="onChangeSameAddress($event)">
                        <label class="label-input" for="sameWorkAddressRadio">
                            เหมือนที่อยู่ที่ทำงาน
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="isEtaxAddressSame" id="customAddressRadio"
                            formControlName="isEtaxAddressSame" value="4" (change)="onChangeSameAddress($event)">
                        <label class="label-input" for="customAddressRadio">
                            กำหนดเอง
                        </label>
                    </div>
                </div>
                <div *ngIf="customerType === 2" class="row">
                    <div class="col-sm-12 col-md-6 mb-3">
                        <div class="form-check">
                            <label class="form-check-label" for="sameWorkAddressRadio">
                                เหมือนที่อยู่บริษัท
                              </label>
                            <input class="form-check-input" type="checkbox" (change)="onChangeSameWorkAddress($event)" id="sameWorkAddressRadio" formControlName="isSameWorkAddress">
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-3">
                        <div class="col-12 mb-3">
                            <label class="label-input required-field" for="addressNoInput">
                                เลขที่
                            </label>
                            <input [ngClass]="{
                                'is-invalid':  form.get('addressNo')?.errors?.['required'] && form.get('addressNo')?.touched
                              }" class="form-control" data-testid="addressNoInput" formControlName="addressNo"
                                id="addressNoInput" type="text">
                        </div>
                        <div class="col-12 mb-3">
                            <label class="label-input" for="buildingInput">
                                อาคาร/คอนโด
                            </label>
                            <input class="form-control" data-testid="buildingInput" formControlName="building"
                                id="buildingInput" type="text">
                        </div>
                        <div class="col-12 mb-3">
                            <label class="label-input" for="floorInput">
                                ชั้น
                            </label>
                            <input class="form-control" data-testid="floorInput" formControlName="floor" id="floorInput"
                                type="text">
                        </div>
                        <div class="col-12 mb-3">
                            <label class="label-input" for="villageNoInput">
                                หมูที่
                            </label>
                            <input class="form-control" data-testid="villageNoInput" formControlName="villageNo"
                                id="villageNoInput" type="text">
                        </div>
                        <div class="col-12 mb-3">
                            <label class="label-input" for="villageInput">
                                หมู่บ้าน
                            </label>
                            <input class="form-control" data-testid="villageInput" formControlName="village"
                                id="villageInput" type="text">
                        </div>
                        <div class="col-12 mb-3">
                            <label class="label-input" for="alleyInput">
                                ตรอก
                            </label>
                            <input class="form-control" data-testid="alleyInput" formControlName="alley" id="alleyInput"
                                type="text">
                        </div>
                        <div class="col-12 mb-3">
                            <label class="label-input" for="soiInput">
                                ซอย
                            </label>
                            <input class="form-control" data-testid="soiInput" formControlName="soi" id="soiInput"
                                type="text">
                        </div>
                        <div class="col-12 mb-3">
                            <label class="label-input" for="streetInput">
                                ถนน
                            </label>
                            <input class="form-control" data-testid="streetInput" formControlName="street"
                                id="streetInput" type="text">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-3">
                        <div class="col-12 mb-3">
                            <label class="label-input required-field" for="postalCodeInput">
                                รหัสไปรษณีย์
                            </label>
                            <input [ngClass]="{
                                'is-invalid':  form.get('postalCode')?.errors?.['required'] && form.get('postalCode')?.touched
                              }" class="form-control" data-testid="postalCodeInput" (keyup)="onKeyUpPostalCode($event)"
                                mask="00000" formControlName="postalCode" id="postalCodeInput" type="text">
                        </div>
                        <div class="col-12 mb-3">
                            <label class="label-input required-field" for="subDistrictInput">
                                แขวง/ตำบล
                            </label>
                            <ng-select [ngClass]="{
                                'is-invalid':  form.get('subDistrict')?.errors?.['required'] && form.get('subDistrict')?.touched
                              }" class="form-control" [clearable]="false" bindLabel="subdistrict.name"
                                id="subDistrictInput" data-testid="subDistrictInput" formControlName="subDistrict"
                                (change)="onChangeSubDistrict($event)" [items]="postalCodeList">
                            </ng-select>
                        </div>
                        <div class="col-12 mb-3">
                            <label class="label-input required-field" for="districtInput">
                                เขต/อำเภอ
                            </label>
                            <ng-select [ngClass]="{
                                'is-invalid':  form.get('district')?.errors?.['required'] && form.get('district')?.touched
                              }" class="form-control" [clearable]="false" bindLabel="name" data-testid="districtInput"
                                formControlName="district" id="districtInput" [items]="districtList">
                            </ng-select>
                        </div>
                        <div class="col-12 mb-3">
                            <label class="label-input required-field" for="provinceInput">
                                จังหวัด
                            </label>
                            <ng-select [ngClass]="{
                                'is-invalid':  form.get('province')?.errors?.['required'] && form.get('province')?.touched
                              }" class="form-control" [clearable]="false" bindLabel="name" data-testid="provinceInput"
                                formControlName="province" id="provinceInput" [items]="provinceList">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div #footer class="footer">
        <hr class="hr-custom mb-3" />
        <div class="btn-footer d-flex justify-content-center gap-3">
            <button class="custom-btn btn-fixed-size-1 btn-type-3" data-testid="backButton" id="backButton"
                title="ย้อนกลับ" (click)="onBack()">
                ย้อนกลับ
            </button>
            <button class="custom-btn btn-fixed-size-1 btn-type-1" [disabled]="form.valid || !form.controls['subDistrict'].value" data-testid="nextButton" id="nextButton"
                title="ถัดไป" (click)="onNext()">
                ถัดไป
            </button>
        </div>
    </div>
</div>