<div class="content-container h-100">
    <div class="content-container-header">
        <div class="content-container-header-item">
            <h1 *ngIf="customerType === 1" class="content-title">เพิ่มผู้ใช้งาน - บุคคลทั่วไป</h1>
            <h1 *ngIf="customerType === 2" class="content-title">เพิ่มผู้ใช้งาน - นิติบุคคล / องค์กร</h1>
        </div>
    </div>
    <div class="content-wrapper" [style.margin-bottom.px]="footerHeight">
        <hr class="hr-custom" />
        <div class="body-wrapper">
            <h3 class="mb-3">ข้อมูลที่อยู่สำหรับการขอใบกำกับภาษี</h3>
            <form [formGroup]="form">
                <div *ngIf="customerType === 1" class="row">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="isEtaxAddressSame"
                            id="sameIdCardAddressRadio" formControlName="isEtaxAddressSame" value="1"
                            (change)="onChangeSameAddress($event)">
                        <label class="label-input" for="sameIdCardAddressRadio">
                            เหมือนที่อยู่ตามบัตรประชาชน
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="isEtaxAddressSame"
                            id="sameCurrentAddressRadio" formControlName="isEtaxAddressSame" value="2"
                            (change)="onChangeSameAddress($event)">
                        <label class="label-input" for="sameCurrentAddressRadio">
                            เหมือนที่อยู่ปัจจุบัน
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="isEtaxAddressSame" id="sameWorkAddressRadio"
                            formControlName="isEtaxAddressSame" value="3" (change)="onChangeSameAddress($event)">
                        <label class="label-input" for="sameWorkAddressRadio">
                            เหมือนที่อยู่ที่ทำงาน
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="isEtaxAddressSame" id="customAddressRadio"
                            formControlName="isEtaxAddressSame" value="4" (change)="onChangeSameAddress($event)">
                        <label class="label-input" for="customAddressRadio">
                            กำหนดเอง
                        </label>
                    </div>
                </div>
                <div *ngIf="customerType === 2" class="row">
                    <div class="col-sm-12 col-md-6 mb-3">
                        <div class="form-check">
                            <label class="form-check-label" for="sameWorkAddressRadio">
                                เหมือนที่อยู่บริษัท
                              </label>
                            <input class="form-check-input" type="checkbox" (change)="onChangeSameWorkAddress($event)" id="sameWorkAddressRadio" formControlName="isSameWorkAddress">
                          </div>
                    </div>
                </div>
                <address [form]="form"></address>
            </form>
        </div>
    </div>
    <div #footer class="footer">
        <hr class="hr-custom mb-3" />
        <div class="btn-footer d-flex justify-content-center gap-3">
            <button class="custom-btn btn-fixed-size-1 btn-type-3" data-testid="backButton" id="backButton"
                title="ย้อนกลับ" (click)="onBack()">
                ย้อนกลับ
            </button>
            <button class="custom-btn btn-fixed-size-1 btn-type-1" data-testid="nextButton" id="nextButton"
                title="ถัดไป" [disabled]="form.invalid" (click)="onNext()">
                ถัดไป
            </button>
        </div>
    </div>
</div>