<div class="content-container container-xl p-0">
  <div class="content-container-header">
    <div class="content-container-header-item">
      <h1 class="content-title">ข้อมูลผู้ใช้งาน555</h1>
    </div>
    <div class="content-container-header-item">
      <button
        class="custom-btn btn-type-3"
        data-testid="clearButton"
        id="clearButton"
        title="ล้างการค้นหา"
        (click)="onClear()"
      >
        ล้างการค้นหา
      </button>
    </div>
  </div>
  <hr class="hr-custom"/>
  <div class="content-container-body">
    <ng-container *ngIf="!isLoading && customer && customerTypeId && customerId">
      <div class="user-type-container">
        <icon-svg
          [size]="'57.14px'"
          [color]="customer | customerType: 'color-code'"
          [path]="(customer | customerType: 'icon') | icon"
        />
        <div class="user-type-info-wrapper">
          <h3 [style.color]="customer | customerType: 'color-code'">{{ customer.title + ' ' + customer.firstName + ' ' + customer.lastName }}</h3>
          <span
            class="custom-badge customer-badge"
            [style.color]="customer | customerType: 'color-code'"
          >{{ customer | customerType: 'name' }}</span>
        </div>
      </div>
      <div class="total-container">
        <div class="row">
          <div class="col-12 col-lg-4">
            <label
              class="label-input text-nowrap"
              for="walletTotalInput"
            >
              จำนวนกระเป๋าทั้งหมด
            </label>
            <input
              class="form-control"
              data-testid="walletTotalInput"
              id="walletTotalInput"
              type="text"
              [(ngModel)]="walletTotal"
              readonly
            >
          </div>
          <div class="col-12 col-lg-4">
            <label
              class="label-input text-nowrap"
              for="totalLoyaltyPointInput"
            >
              คะแนนสะสมทั้งหมด
            </label>
            <input
              currencyMask
              class="form-control"
              data-testid="totalLoyaltyPointInput"
              id="totalLoyaltyPointInput"
              [options]="{ prefix: '', thousands: ',', decimal: '.', suffix: '' }"
              type="tel"
              [(ngModel)]="totalLoyaltyPoint"
              readonly
            />
          </div>
          <div class="col-12 col-lg-4">
            <label
              class="label-input text-nowrap"
              for="totalBalanceInput"
            >
              ยอดเงินคงเหลือทั้งหมด
            </label>
            <input
              currencyMask
              class="form-control"
              data-testid="totalBalanceInput"
              id="totalBalanceInput"
              [options]="{ prefix: '', thousands: ',', decimal: '.', suffix: '' }"
              type="tel"
              [(ngModel)]="totalBalance"
              readonly
            />
          </div>
        </div>
      </div>

      <div class="navs-container">
        <ul
          ngbNav
          #nav="ngbNav"
          [(activeId)]="activeTab"
          (navChange)="onChangeNav($event)"
          class="nav-tabs nav-tabs-header"
        >
          <li [ngbNavItem]="'general-info'">
            <button ngbNavLink>ข้อมูลทั่วไป</button>
            <ng-template ngbNavContent>
              <general-info [customerId]="customerId" [customerTypeId]="customerTypeId"/>
            </ng-template>
          </li>
          <li [ngbNavItem]="'wallet-info'">
            <button ngbNavLink>ข้อมูลกระเป๋าเงิน</button>
            <ng-template ngbNavContent>
              <wallet-info [customerId]="customerId" [customerTypeId]="customerTypeId" [customer]="customer"/>
            </ng-template>
          </li>
          <li [ngbNavItem]="'loyalty-point-info'">
            <button ngbNavLink>ข้อมูลคะแนน</button>
            <ng-template ngbNavContent>
              <loyalty-point-info [customerId]="customerId" [customerTypeId]="customerTypeId"/>
            </ng-template>
          </li>
          <li [ngbNavItem]="'device-list'">
            <button ngbNavLink>ข้อมูลอุปกรณ์</button>
            <ng-template ngbNavContent>
              <device-list [customerId]="customerId" [customerTypeId]="customerTypeId"/>
            </ng-template>
          </li>
          <li [ngbNavItem]="'e-tax'">
            <button ngbNavLink>การรับใบกำกับภาษี</button>
            <ng-template ngbNavContent>
              <e-tax [customerId]="customerId" [customerTypeId]="customerTypeId"/>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="navs-content-container"></div>
      </div>
    </ng-container>
  </div>
</div>
