
<div class="login-container">
    <h1>Login</h1>
    <h4>Welcome to EXAT admin system</h4>
    <h4>ยินดีต้อนรับสู่ระบบแอดมินของการทางพิเศษแห่งประเทศไทย</h4>
  </div>
<form [formGroup]="form">
  <div class="form-group">
    <h3>เลขบัตรประชาชน / เลขนิติบุคคล /<br> เลขหนังสือราชการ</h3>
      <div class="input-with-icon-wrapper">
        <icon-svg
          class="svg-icon"
          [color]="'#2255CE'"
          [size]="'m'"
          [path]="'assets/images/icons/profile.svg'"
        />
        <input
          aria-describedby="addon-wrapping"
          aria-label="Username"
          class="form-control input-with-icon-left"
          data-testid="userName"
          formControlName="username"
          id="userName"
          type="text"
          placeholder="Username"  >
      </div>
  </div>
  <div class="form-group">
    <h3 for="password-mobile">Password</h3>
      <div class="input-with-icon-wrapper" >
        <icon-svg
          class="svg-icon"
          [color]="'#2255CE'"
          [size]="'m'"
          [path]="'assets/images/icons/password.svg'"
        />
        <input
          aria-describedby="addon-wrapping"
          aria-label="Password"
          class="form-control input-with-icon-left"
          data-testid="password"
          formControlName="password"
          id="password"
          placeholder="Password"
          type="password"
          >
      </div>

  </div>
</form>
  <div class="button-wrapper">
    <button
      class="custom-btn btn-type-1"
      (click)="onLogin()"
      [disabled]="form.invalid"
      type="submit"
      title="Login"
    >
      <h4>เข้าสู่ระบบ</h4>
    </button>
  </div>




