.svg-icon {
  position: absolute;
  left: 8px;
  z-index: 132;
}

.login-container {
  color: var(--color-white);
  padding-bottom: 1rem;
}

h3 {
  color: white;
  padding-bottom: 0.5rem;
}

.form-button {
  margin-bottom: 0px;
}
