<!-- <p>activity-faremedia works!</p> -->
<div class="content-container container-xl p-0">
  <div class="content-container-header">
    <div class="content-container-header-item">
      <h1 class="content-title">{{ title }}</h1>
    </div>
    <!-- <div class="content-container-header-item">
      <button class="custom-btn btn-type-3" data-testid="clearButton" id="clearButton" title="ล้างการค้นหา"
        (click)="onClear()">
        ล้างการค้นหา
      </button>
    </div> -->
  </div>
  <hr class="hr-custom" />
  <div class="content-container-body">
    <form [formGroup]="form" class="d-block d-sm-flex gap-3 align-items-end mb-3">
      <div class="row g-2 g-sm-3 form-wrapper">
        <div class="col-12 col-sm-6">
          <label class="label-input text-nowrap" for="startDateDatepicker">
            วันที่ (จาก)
          </label>
          <date-picker class="datepicker-input" [clearable]="true" format="D MMMM YYYY" formControlName="startDate"
            [id]="'startDateDatePicker'" [invalid]="submitted && form.controls['startDate'].errors ? true : false"
            locale="th" [placeholder]="'กรุณาระบุ'" [placement]="'bottom'"></date-picker>
        </div>
        <div class="col-12 col-sm-6">
          <label class="label-input text-nowrap" for="endDateDatepicker">
            วันที่ (ถึง)
          </label>
          <date-picker class="datepicker-input" [clearable]="true" format="D MMMM YYYY" formControlName="endDate"
            [id]="'endDateDatePicker'" [minDate]="form.get('startDate')?.value"
            [invalid]="submitted && form.controls['endDate'].errors ? true : false" locale="th"
            [placeholder]="'กรุณาระบุ'" [placement]="'bottom'"></date-picker>
        </div>
      </div>
      <!-- <div class="button-wrapper">
        <button class="custom-btn search-btn" data-testid="searchButton" id="searchButton" title="ค้นหา" type="submit"
          [disabled]="form.invalid" (click)="onSearch()">
          <icon-svg class="svg-icon" [color]="'#FFFFFF'" [size]="'20px'" [path]="'search' | icon" />
        </button>
      </div> -->
    </form>
    <ng-container>
      <div class="col-12 mb-3">
        <h3>เอกสารแนบ</h3>
        <label class="label-input">
          ประวัติอุปกรณ์
        </label>
        <button style="width: 100%" class="custom-btn btn-type-3" data-testid="downloadImageButton"
          id="downloadImageButton" title="ดาวน์โหลด" [disabled]="form.invalid || isLoading" (click)="onDownloadAttachment()">
          <icon-svg [color]="'#2255CE'" [size]="'m'" [path]="'download' | icon" />
          ดาวน์โหลดเอกสาร
        </button>
      </div>
    </ng-container>
  </div>
</div>
