<div [ngSwitch]="step">
    <div class="modal-body mt-3" *ngSwitchCase="stepEnum.SENT_OTP">
        <div class="header-label text-center mb-3">
            <h2>กรุณาระบุอีเมล สำหรับการขอรับรหัสผ่าน OTP</h2>
        </div>
        <div class="d-flex justify-content-center mb-5">
            <div class="col-10">
                <label class="label-input required-field" for="emailInput">
                    อีเมล
                </label>
                <input class="form-control" data-testid="emailInput" [formControl]="email"
                    placeholder="example@mail.com" id="emailInput" type="text">
                <div class="text-center mt-2">
                    <span class="error-message text-danger" *ngIf="email.invalid && email.touched">
                        กรุณาระบุอีเมลให้ถูกต้อง
                    </span>
                    <span class="error-message text-danger" *ngIf="errorMessage != undefined">
                        {{errorMessage}}
                    </span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center gap-3">
            <button class="custom-btn btn-type-1 outline" (click)="onDismisModal()">ปิด</button>
            <button class="custom-btn btn-type-1" [disabled]="this.email.invalid" (click)="onSentOtp()"
                *ngIf="isLoading==false">ยืนยัน</button>
            <button class="custom-btn btn-type-1" type="button" disabled *ngIf="isLoading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </div>
    </div>



    <div class="modal-body mt-3" *ngSwitchCase="stepEnum.CONFIRM_OTP">
        <div class="position-relative ">
            <button type="button"
                class="btn btn-outline-dark btn-sm position-absolute top-0 start-0" (click)="onBackStep()">ย้อนกลับ</button>
            <div class="header-label text-center mb-3">
                <h2>กรุณายืนยันรหัส OTP</h2>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-4">
            <div class="col-10 text-center"> 
                <p style="color: #777777">
                    รหัสยืนยัน OTP <br>
                    ได้ถูกส่งไปที่อีเมล {{email.value}} <br> 
                    Ref code : {{otpData.ref_code}}
                </p>
                <ng-otp-input  #ngOtpInput [config]="ngOtpConfig" [formCtrl]="otpCtrl" class="mb-2"></ng-otp-input>
                <div class="mt-3">
                    <a class="etax-link mouse" (click)="onSentOtpAgain()" *ngIf="otpDelay==0">ส่งอีเมลอีกครั้ง</a>
                    <span for="" *ngIf="otpDelay>0">ส่งอีเมลอีกครั้ง ({{otpDelay}})</span>
                    <span for="" *ngIf="otpDelay==-1">ส่งอีเมลอีกครั้ง</span>
                </div>
                <span class="error-message text-danger" *ngIf="errorMessage != undefined">
                    {{errorMessage}}
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-center gap-3">
            <button class="custom-btn btn-type-1 outline" (click)="onDismisModal()">ปิด</button>
            <button class="custom-btn btn-type-1" [disabled]="this.otpCtrl.invalid"
                *ngIf="isLoading==false" (click)="postSentOtpVerify()">ยืนยัน</button>
            <button class="custom-btn btn-type-1" type="button" disabled *ngIf="isLoading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </div>
    </div>
</div>