<div class="datepicker-container">
  <input
    bsDatepicker
    datePickerReadonly
    #datePicker="bsDatepicker"
    [id]="id ? id : 'datePicker'"
    [attr.data-testid]="id ? id : 'datePicker'"
    type="text"
    [placeholder]="placeholder"
    [disabled]="isDisabled"
    [bsConfig]="{
      adaptivePosition: true,
      dateInputFormat: format ? format : 'DD/MM/YYYY',
      containerClass: 'theme-blue',
      showWeekNumbers: false,
      minDate: minDate,
      maxDate: maxDate,
      isDisabled: isDisabled
    }"
    [outsideClick]="outsideClick"
    [placement]="placement"
    class="form-control datepicker-custom"
    autocomplete="off"
    [ngClass]="{ 'is-invalid': invalid }"
    [(ngModel)]="date"
    (ngModelChange)="changeDate($event)"
  >
  <div class="datepicker-button-wrapper">
    <button
      *ngIf="date && clearable && !isDisabled"
      [attr.data-testid]="id ? 'clear'+(id | titlecase)+'Button' : 'clearDatePickerButton'"
      class="custom-btn btn-clear-calendar"
      [id]="id ? 'clear'+(id | titlecase)+'Button' : 'clearDatePickerButton'"
      title="ลบ"
      type="button"
      (click)="clearDate()"
    >
      <span aria-hidden="true" class="clear">×</span>
    </button>
    <button
      [attr.aria-expanded]="datePicker.isOpen"
      [attr.data-testid]="id ? id+'Button' : 'datePickerButton'"
      class="custom-btn btn-calendar"
      [disabled]="isDisabled"
      [id]="id ? id+'Button' : 'datePickerButton'"
      title="เปิด"
      type="button"
      (click)="datePicker.toggle()"
    >
      <img src="assets/images/icons/calendar.svg">
    </button>
  </div>
</div>
