<div class="content-container container-xl p-0">
    <div class="content-container-header">
      <div class="content-container-header-item">
        <h1 class="content-title">{{ title }}</h1>
      </div>
      <div class="content-container-header-item">
        <button
          class="custom-btn btn-type-3"
          data-testid="clearButton"
          id="clearButton"
          title="ล้างการค้นหา"
          (click)="onClear()"
        >
          ล้างการค้นหา
        </button>
      </div>
    </div>
    <hr class="hr-custom"/>
    <div class="content-container-body">
      <ng-container *ngIf="!isLoading && customer">
        <div class="user-type-container">
          <icon-svg
            [size]="'57.14px'"
            [color]="customer | customerType: 'color-code'"
            [path]="(customer | customerType: 'icon') | icon"
          />
          <div class="user-type-info-wrapper">
            <h3>{{ customer.title + ' ' + customer.firstName + ' ' + customer.lastName }}</h3>
            <span
              class="custom-badge customer-badge"
              [style.color]="customer | customerType: 'color-code'"
            >{{ customer | customerType: 'name' }}</span>
          </div>
        </div>
      </ng-container>
      <form [formGroup]="form" class="d-block d-sm-flex gap-3 align-items-end">
        <div class="row g-2 g-sm-3 form-wrapper">
          <div class="col-12 col-sm-4">
            <label
              class="label-input text-nowrap"
              for="startDateDatepicker"
            >
              วันที่ (จาก)
            </label>
            <date-picker
              class="datepicker-input"
              [clearable]="true"
              format="D MMMM YYYY"
              formControlName="startDate"
              [id]="'startDateDatePicker'"
              [invalid]="submitted && form.controls['startDate'].errors ? true : false"
              locale="th"
              [placeholder]="'กรุณาระบุ'"
              [placement]="'bottom'"
            ></date-picker>
          </div>
          <div class="col-12 col-sm-4">
            <label
              class="label-input text-nowrap"
              for="endDateDatepicker"
            >
              วันที่ (ถึง)
            </label>
            <date-picker
              class="datepicker-input"
              [clearable]="true"
              format="D MMMM YYYY"
              formControlName="endDate"
              [id]="'endDateDatePicker'"
              [minDate]="form.get('startDate')?.value"
              [invalid]="submitted && form.controls['endDate'].errors ? true : false"
              locale="th"
              [placeholder]="'กรุณาระบุ'"
              [placement]="'bottom'"
            ></date-picker>
          </div>
          <div class="col-12 col-sm-4">
            <label
              class="label-input text-nowrap"
              for="walletSelect"
            >
              กระเป๋าเงิน
            </label>
            <ng-select
              class="form-control"
              [clearable]="false"
              bindLabel="walletName"
              bindValue="walletId"
              data-testid="walletSelect"
              formControlName="walletId"
              [placeholder]="'กรุณาระบุ'"
              id="walletSelect"
              [items]="wallets"
            ></ng-select>
          </div>
        </div>
        <div class="button-wrapper">
          <button
            class="custom-btn search-btn"
            data-testid="searchButton"
            id="searchButton"
            title="ค้นหา"
            type="submit"
            [disabled]="form.invalid"
            (click)="onSearch()"
          >
          <icon-svg
            class="svg-icon"
            [color]="'#FFFFFF'"
            [size]="'20px'"
            [path]="'search' | icon"
          />
          </button>
        </div>
      </form>
      <ng-container *ngIf="tempSearch">
        <div class="navs-container pt-5">
          <app-transfer-info
          [tempSearch]="tempSearch"
          (onLoading)="onLoading($event)"
          ></app-transfer-info>
        </div>
      </ng-container>
    </div>
  </div>
  