<div class="content-container container-xl p-0">
    <div class="content-container-header">
        <div class="content-container-header-item" *ngIf="searchType == ''">
            <h2 class="content-title">ข้อมูลผู้ใช้งาน</h2>
        </div>
        <div class="content-container-header-item">
            <button class="custom-btn btn-type-3" data-testid="backButton" id="clearButton" title="back"
                (click)="handleOnBack()">
                ย้อนกลับ
            </button>
        </div>
    </div>
    <ng-container>
        <div class="user-type-container mb-5" *ngIf="searchType == ''">
            <icon-svg [color]="'#2255CE'" [path]="'assets/images/icons/user_type_user.svg'" [size]="'57.14px'" />
            <div class="user-type-info-wrapper">
                <h3>{{ customerName }}</h3>
                <div class="d-flex">
                    <span class="custom-badge customer-badge" [style.color]="'color-code'">หน่วยงาน</span>
                </div>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-between align-items-center">
            <div class="wallet-header-wrapper">
                <h3>รายละเอียดกระเป๋าเงิน (เลขข้างรถ)</h3>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <button class="custom-btn btn-type-1" (click)="onAddWallet()">เพิ่มกระเป๋าเงิน</button>
                </div>
            </div>
        </div>
        <ng-container *ngIf="searchType == ''">
            <datatable [columns]="columns" [collectionSize]="collectionSize" [id]="'customerDatatable'"
                [isLoading]="isLoading" [pageSize]="limitRow" [page]="pages" [rows]="rows"
                (onRowActionEvent)="onActive($event)" emptyMessage="ไม่มีข้อมูล"
                (onChangePageEvent)="onChangePage($event)" />
        </ng-container>
        <ng-container *ngIf="searchType != ''">
            <datatable [columns]="columnsSelectPlateNo" [collectionSize]="collectionSize" [id]="'customerDatatable'"
                [isLoading]="isLoading" [pageSize]="limitRow" [page]="pages" [rows]="rows"
                (onRowActionEvent)="onActive($event)" emptyMessage="ไม่มีข้อมูล"
                (onChangePageEvent)="onChangePage($event)" />
        </ng-container>
    </ng-container>
</div>