<div class="content-container container-xl p-0">
    <div class="content-container-header">
        <div class="content-container-header-item">
            <h1 class="content-title">
                ระบบการให้คะแนน
            </h1>
        </div>
    </div>

    <hr class="hr-custom" />

    <div class="col-4 mb-3">
        <h2 class="content-title">
            การให้คะแนนพื้นฐาน
        </h2>
    </div>

    <div class="navs-container">
        <datatable
        [columns]="columns"
        [collectionSize]="collectionSize"
        [id]="'userDatatable'"
        [isLoading]="isLoading"
        [limitRow]="limitRow"
        [pages]="pages"
        [rows]="rows"
        emptyMessage="ไม่มีข้อมูล"
        (onRowActionEvent)="onAction($event)">
    </datatable>
    </div>

    <hr class="hr-custom" />

    <div class="navs-container">
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
            <h2 class="content-title mb-3 mb-md-0">
                การให้คะแนนพิเศษ
            </h2>
            <button 
                class="custom-btn btn-fixed-size-1 btn-type-1 ml-auto" 
                data-testid="nextButton" 
                id="nextButton" 
                title="เพิ่มเงื่อนไข">
                เพิ่มเงื่อนไข
            </button>
        </div>
    </div>
    
    
    <div class="navs-container">
        <datatable
        [columns]="columns1"
        [collectionSize]="collectionSize"
        [id]="'userDatatable'"
        [isLoading]="isLoading"
        [limitRow]="limitRow"
        [pages]="pages"
        [rows]="rows1"
        emptyMessage="ไม่มีข้อมูล"
        (onRowActionEvent)="onAction($event)">
    </datatable>
    
    </div>
</div>