@font-face {
  font-family: "Kanit";
  src: url("./Kanit/Kanit-Regular.ttf") format("truetype");
  font-weight: 400;
  preload: auto;
}

@font-face {
  font-family: "Kanit";
  src: url("./Kanit/Kanit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  preload: auto;
}
