<div class="content-container container-xl p-0">
    <div class="content-container-header">
        <div class="content-container-header-item">
            <h1 class="content-title">ระแบบแจ้งค่ารักษาอุปกรณ์ - รายการ</h1>
        </div>
    </div>
    <hr class="hr-custom" />
    <div class="content-container-body">
        <form [formGroup]="form" class="d-block d-sm-flex gap-3 align-items-end">
            <div class="row g-2 g-sm-3 form-wrapper">
                <div class="col-12 col-md-4">
                    <label class="label-input text-nowrap" for="dateDatePicker">
                        วันที่ที่ต้องการออกใบแจ้งหนี้
                    </label>
                    <date-picker class="datepicker-input" [clearable]="true" format="D MMMM YYYY"
                        formControlName="date" [id]="'dateDatePicker'"
                        [invalid]="submitted && form.controls['date'].errors ? true : false" locale="th"
                        [placeholder]="'กรุณาระบุ'" [placement]="'bottom'"></date-picker>
                </div>
                <div class="col-12 col-md-4">
                    <label class="label-input text-nowrap" for="walletSelect">
                        ข้อมูลผู้ใช้งาน (เลขบัตรประชาชน, เลขหนังสือเดินทาง)
                    </label>
                    <div class="input-box">
                        <input
                          class="form-control"
                          id="searchInput"
                          data-testid="searchInput"
                          formControlName="search"
                          placeholder="กรุณาระบุข้อมูล"
                          type="text"
                        />
                        <div class="icon-search">
                            <icon-svg [color]="'#2255CE'" [path]="'assets/images/icons/search.svg'" [size]="'m'" />
                        </div>
                    </div>
                    <!-- <ng-select class="form-control" [clearable]="false" bindLabel="walletName" bindValue="walletId"
                        data-testid="walletSelect" formControlName="checkpoint" [placeholder]="'กรุณาระบุ'"
                        id="walletSelect" [items]="[]"></ng-select> -->
                </div>
            </div>
            <div class="button-wrapper">
                <button class="custom-btn search-btn" data-testid="searchButton" id="searchButton" title="ค้นหา"
                    type="submit" [disabled]="form.invalid" (click)="onSearch()">
                    <icon-svg class="svg-icon" [color]="'#FFFFFF'" [size]="'20px'" [path]="'search' | icon" />
                </button>
            </div>
        </form>
        <div class="navs-container">
            <div class="d-flex justify-content-between">
                <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" (navChange)="onChangeNav($event)"
                class="nav-tabs nav-tabs-header">
                <li [ngbNavItem]="'maintenance-costs'">
                    <button ngbNavLink>แจ้งค่ารักษาอุปกรณ์</button>
                    <ng-template ngbNavContent>
                        <!-- <cancel-device-waiting-for-approval></cancel-device-waiting-for-approval> -->
                    </ng-template>
                </li>
                <li [ngbNavItem]="'maintenance-device-close'">
                    <button ngbNavLink>แจ้งปิดอุปกรณ์</button>
                    <ng-template ngbNavContent>
                        <!-- <cancel-device-approval></cancel-device-approval> -->
                    </ng-template>
                </li>
            </ul>
            <button class="custom-btn btn-type-1" type="submit" title="Login">
                Export to excel
            </button>
            </div>
            <div [ngbNavOutlet]="nav" class="navs-content-container"></div>
        </div>
    </div>
</div>