<div class="content-container container-xl p-0">
  <div class="content-container-header">
    <div class="content-container-header-item">
      <h1 class="content-title">{{ title }}</h1>
    </div>
    <div class="content-container-header-item">
      <button class="custom-btn btn-type-3" data-testid="clearButton" id="clearButton" title="ล้างการค้นหา"
        (click)="onClear()">
        ล้างการค้นหา
      </button>
    </div>
  </div>
  <hr class="hr-custom" />
  <div class="content-container-body">
    <ng-container *ngIf="!isLoading && customer">
      <div class="user-type-container">
        <icon-svg [size]="'57.14px'" [color]="customer | customerType: 'color-code'"
          [path]="(customer | customerType: 'icon') | icon" />
        <div class="user-type-info-wrapper">
          <h3>{{ customer.title + ' ' + customer.firstName + ' ' + customer.lastName }}</h3>
          <span class="custom-badge customer-badge" [style.color]="customer | customerType: 'color-code'">{{ customer |
            customerType: 'name' }}</span>
        </div>
      </div>
    </ng-container>
    <form [formGroup]="form" class="d-block d-sm-flex gap-3 align-items-end">
      <div class="row g-2 g-sm-3 form-wrapper">
        <div class="col-12 col-sm-4">
          <label class="label-input text-nowrap" for="startDateDatepicker">
            วันที่ (จาก)
          </label>
          <date-picker class="datepicker-input" [clearable]="true" format="D MMMM YYYY" formControlName="startDate"
            [id]="'startDateDatePicker'" [invalid]="submitted && form.controls['startDate'].errors ? true : false"
            locale="th" [placeholder]="'กรุณาระบุ'" [placement]="'bottom'"
            [maxDate]="form.get('endDate')?.value || maxDate"></date-picker>
        </div>
        <div class="col-12 col-sm-4">
          <label class="label-input text-nowrap" for="endDateDatepicker">
            วันที่ (ถึง)
          </label>
          <date-picker class="datepicker-input" [clearable]="true" format="D MMMM YYYY" formControlName="endDate"
            [id]="'endDateDatePicker'" [invalid]="submitted && form.controls['endDate'].errors ? true : false"
            locale="th" [placeholder]="'กรุณาระบุ'" [placement]="'bottom'"
            [minDate]="form.get('startDate')?.value" [maxDate]="maxDate"></date-picker>
        </div>
        <div class="col-12 col-sm-4">
          <label class="label-input text-nowrap" for="walletSelect">
            กระเป๋าเงิน
          </label>
          <ng-select class="form-control" [clearable]="false" bindLabel="name" bindValue="id"
            data-testid="walletSelect" formControlName="walletId" [placeholder]="'กรุณาระบุ'" id="walletSelect"
            [items]="wallets"></ng-select>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="custom-btn search-btn" data-testid="searchButton" id="searchButton" [disabled]="form.invalid" title="ค้นหา" type="submit"
          (click)="onSearch()">
          <icon-svg class="svg-icon" [color]="'#FFFFFF'" [size]="'20px'" [path]="'search' | icon" />
        </button>
      </div>
    </form>
    <ng-container *ngIf="tempSearch && !isLoadingSearch">
      <div class="datatable-container">
        <!-- <datatable
          [columns]="columns"
          [collectionSize]="collectionSize"
          [customDatatableContentClass]="'datatable-no-box-shadow datatable-border-solid'"
          [externalPaging]="true"
          [id]="'transactionDatatable'"
          [isLoading]="isLoading"
          [pageSize]="limitRow"
          [page]="pages"
          [rows]="rows"
          emptyMessage="ไม่มีข้อมูล"
          (onChangePageEvent)="onChangePage($event)"
          (onRowActionEvent)="onAction($event)"
        /> -->

        <ng-container *ngIf="rows && rows.length > 0; else emptyEl; ">
          <div class="datatable-content datatable-no-box-shadow datatable-border-solid">
            <ngx-datatable #myTable class="material expandable" [rows]="rows" [rowHeight]="'auto'"
              [headerHeight]="$any('auto')" [groupRowsBy]="'group'" [columnMode]="columnMode.force" [scrollbarH]="true"
              [limit]="limitRow" [groupExpansionDefault]="true" [count]="collectionSize" [externalPaging]="true"
              [offset]="pages - 1">
              <!-- Group Header Template -->
              <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader (toggle)="onDetailToggle($event)">
                <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                  <div class="d-flex justify-content-between" style="width: 100%; padding-left:5px;"
                    (click)="toggleExpandGroup(group)">
                    <a class="toggle-group-header" [class.datatable-icon-right-custom]="!expanded"
                      [class.datatable-icon-down-custom]="expanded" title="Expand/Collapse Group">
                      <span>{{ group.key}}</span>
                    </a>
                    <span>จำนวน {{ sumAmount(group.value) }} บาท</span>
                  </div>
                </ng-template>
              </ngx-datatable-group-header>
              <ngx-datatable-column prop="transactionDate" [sortable]="false" [headerClass]="'text-break text-center'"
                [cellClass]="'text-break text-center'">
                <ng-template ngx-datatable-header-template>
                  <span>วันที่ และ เวลา</span>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  <ng-container>
                    {{ row.transactionDate ? ( row.transactionDate | transformDate : 'DD/MM/BBBB HH:mm:ss' : 'th') : "-"
                    }}
                  </ng-container>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="createDate" [sortable]="false" [headerClass]="'text-break text-center'"
              [cellClass]="'text-break text-center'">
              <ng-template ngx-datatable-header-template>
                <span>วันที่ และ เวลา ที่ชำระเงินจริง</span>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                <ng-container>
                  {{ row.createDate ? ( row.createDate | transformDate : 'DD/MM/BBBB HH:mm:ss' : 'th') : "-"
                  }}
                </ng-container>
              </ng-template>
            </ngx-datatable-column>
              <ngx-datatable-column name="สายทางเข้า" prop="entryHq" [sortable]="false" [headerClass]="'text-break text-center'"
              [cellClass]="'text-break text-center'"></ngx-datatable-column>
              <ngx-datatable-column name="สายทางออก" prop="exitHq" [sortable]="false" [headerClass]="'text-break text-center'"
              [cellClass]="'text-break text-center'"></ngx-datatable-column>
              <ngx-datatable-column name="อาคารด่านเข้า" prop="entryPlaza" [sortable]="false" [headerClass]="'text-break text-center'"
              [cellClass]="'text-break text-center'"></ngx-datatable-column>
              <ngx-datatable-column name="อาคารด่านออก" prop="exitPlaza" [sortable]="false" [headerClass]="'text-break text-center'"
              [cellClass]="'text-break text-center'"></ngx-datatable-column>
              <ngx-datatable-column name="OBU serial no." prop="obuPan" [sortable]="false" [headerClass]="'text-break text-center'"
              [cellClass]="'text-break text-center'"></ngx-datatable-column>
              <ngx-datatable-column name="จำนวนเงิน" prop="amount" [sortable]="false" [headerClass]="'text-break text-center'"
                [cellClass]="'text-break text-center'">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  <span>{{ value * -1 }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="สถานะ" prop="isCancelled" [sortable]="false" [headerClass]="'text-break text-center'"
                [cellClass]="'text-break text-center'">
                <ng-template ngx-datatable-cell-template let-value="value">
                  <ng-container *ngIf="value; else textFalseEl;">
                    <span [ngClass]="'text-red-exat' ? 'text-red-exat' : null">
                      ยกเลิกแล้ว
                    </span>
                  </ng-container>
                  <ng-template #textFalseEl>
                    <span>-</span>
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="รายละเอียด" prop="transactionDate" [sortable]="false" [headerClass]="'text-break text-center'"
                [cellClass]="'text-break text-center'">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-rowIndex="rowIndex">
                  <button [attr.data-testid]="'description' + rowIndex + 'Button'" class="custome-btn btn-icon"
                    [id]="'description' + rowIndex + 'Button'" type="button" [title]="'รายละเอียด'"
                    (click)="onAction({ index: rowIndex, type: 'action', row: row, action: 'description' })">
                    <icon-svg size="l" [color]="'#2255CE'" [path]="'list' | icon" />
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>

          <div class="datatable-footer">
            <div class="datatable-total">
              total {{ collectionSize }}
            </div>
            <div class="datatable-pagination-wrapper">
              <div id="datatableInfo" data-testid="datatableInfo" class="datatable-info">Page {{ pages }} of {{
                collectionSize | getTotalPage: limitRow }}
              </div>
              <div>
                <ngb-pagination class="datatable-pagination" id="datatablePagination" data-testid="datatablePagination"
                  [collectionSize]="collectionSize" [(page)]="pages" [pageSize]="limitRow"
                  (pageChange)="onChangePage($event)">
                  <ng-template ngbPaginationPages let-page let-pages="pages"></ng-template>
                </ngb-pagination>
              </div>
            </div>

          </div>
        </ng-container>
        <ng-template #emptyEl>
          <div class="empty-row mb-3">ไม่มีข้อมูล</div>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>
