<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ระบบบริหารจัดการข้อมูลผู้ใช้ทาง</a>
        <button
            aria-controls="navbarText" 
            aria-expanded="false" 
            aria-label="Toggle navigation" 
            class="navbar-toggler"
            data-bs-toggle="collapse" 
            data-bs-target="#navbarText" 
            type="button" >
            
            
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <img class="img-exat-nav" src="assets/images/logo/nav-exat.png" alt="">
                </li>
                
            </ul>
            <div class="navbar-text">
                สวัสดี, คุณ ทดสอบ อีแสตมป์ดิวตี้
                
            <icon-svg 
            class="user-search" 
            [color]="'blue'"
            [path]="'assets/images/icons/user-search.svg'"
            [size]="'l'"  />
                
            </div>
        </div>
    </div>
</nav>
