<div class="device-header-wrapper mt-3">
  <div class="navs-container">
    <datatable [columns]="getBillWaitingPaymentColumns" [collectionSize]="getBillWaitingPaymentRows.length"
      [id]="'billWaitingPaymentTable'" [isLoading]="isLoading" [pageSize]="limitRow" [page]="pages"
      [rows]="getBillWaitingPaymentRows" emptyMessage="ไม่มีข้อมูล" (onChangePageEvent)="onChangePage($event)"
      (onRowActionEvent)="onAction($event)">
    </datatable>
  </div>
  <input type="button" (click)="printPDF()">
</div>