<div class="content-container container-xl p-0">
    <div class="content-container-header">
        <h1 class="content-title">ระบบการให้คะแนน</h1>
        <!-- <div class="content-container-header-item">
            <h1 *ngIf="!isAdd" class="content-title">
                ระบบการให้คะแนน
            </h1>
            <h1 *ngIf="isAdd && !isEditCondition && addEarningType === 1" class="content-title">
                เพิ่มเงื่อนไขการให้คะแนนพิเศษ
            </h1>
            <h1 *ngIf="isAdd && !isEditCondition && addEarningType === 2" class="content-title">
                เพิ่ม Road show
            </h1>
            <h1 *ngIf="isAdd && isEditCondition && !isBaseCampaign" class="content-title">
                แก้ไขเงื่อนไขการให้คะแนนพิเศษ
            </h1>
            <h1 *ngIf="isAdd && isEditCondition && isBaseCampaign" class="content-title">
                แก้ไขเงื่อนไขการให้คะแนนพื้นฐาน
            </h1>
        </div> -->
    </div>
    <hr class="hr-custom mb-3" />
    <p>isAddSpecial: {{ isAddSpecial }}</p>
    <p>isAddRoadShow: {{ isAddRoadShow }}</p>
    <p>isEditRoadShow: {{ isEditRoadShow }}</p>
    <p>isDescriptionRoadShow: {{ isDescriptionRoadShow }}</p>
    <button *ngIf="isAddRoadShow || isDescriptionRoadShow" class="custom-btn btn-type-1 mb-3" data-testid="backButton"
        id="backButton" title="กลับ" type="button" (click)="onBack()">
        กลับ
    </button>
    <!-- <section *ngIf="!isAdd">
        <div class="col-4 mb-3">
            <h2 class="content-title">
                การให้คะแนนพื้นฐาน
            </h2>
        </div>
        <div class="navs-container">
            <datatable [columns]="baseRatingColumns" [collectionSize]="collectionSize" [id]="'userDatatable'"
                [isLoading]="isLoading" [pageSize]="limitRow" [page]="pages" [rows]="baseRatingRows"
                emptyMessage="ไม่มีข้อมูล" (onRowActionEvent)="onAction($event)" [footer]="false">
            </datatable>
        </div><br>
        <hr class="hr-custom mb-3" />
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-3">
            <h2 class="content-title mb-3 mb-md-0">
                การให้คะแนนพิเศษ
            </h2>
            <button class="custom-btn btn-fixed-size-1 btn-type-1 ml-auto" data-testid="nextButton" id="nextButton"
                title="เพิ่ม" (click)="onAddCondition(1)">
                เพิ่ม
            </button>
        </div>
        <datatable [columns]="specialRatingColumns" [collectionSize]="collectionSize1" [id]="'userDatatable'"
            [isLoading]="isLoading" [pageSize]="limitRow1" [page]="pages1" [rows]="specialRatingRows"
            emptyMessage="ไม่มีข้อมูล" (onRowActionEvent)="onAction($event)"
            (onChangePageEvent)="onChangePageSpecial($event)">
        </datatable>
        <hr class="hr-custom mb-3" />
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-3">
            <h2 class="content-title mb-3 mb-md-0">
                การให้คะแนนแบบ Road Show
            </h2>
            <button class="custom-btn btn-fixed-size-1 btn-type-1 ml-auto" data-testid="nextButton" id="nextButton"
                title="เพิ่ม" (click)="onAddCondition(2)">
                เพิ่ม
            </button>
        </div>
        <datatable [columns]="roadShowColumns" [collectionSize]="roadShowcollectionSize" [id]="'userDatatable'"
            [isLoading]="isRoadShowLoading" [pageSize]="roadShowlimit" [page]="roadShowpages" [rows]="roadShowList"
            emptyMessage="ไม่มีข้อมูล" (onRowActionEvent)="onActionRoadShow($event)"
            (onChangePageEvent)="onChangePageSpecial($event)">
        </datatable>
    </section>
    <section *ngIf="isAdd && addEarningType === 1">
        <form [formGroup]="form">
            <div class="pt-4">

                <h3 class="content-title" *ngIf="!isBaseCampaign">
                    รายละเอียดกิจกรรม
                </h3>

                <div class="row pt-3" *ngIf="!isBaseCampaign">
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="col-12 mb-3">
                            <label class="label-input required-field" for="campaignName">
                                ชื่อกิจกรรม
                            </label>
                            <input class="form-control" formControlName="campaignName" id="campaignName" type="text"
                                placeholder="กรุณาระบุ">
                        </div>
                    </div>

                </div>

                <h3 class="content-title">
                    รายละเอียดคะแนน
                </h3>

                <div class="row pt-3" *ngIf="!isBaseCampaign">
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="form-group d-inline">
                            <label class="label-input mb-2 required-field">ตัวแปรการคำนวนคะแนน</label>
                            <ng-select class="form-control mb-2" [clearable]="false" bindLabel="name" bindValue="key"
                                id="conditionPoint" data-testid="conditionPoint" formControlName="conditionPoint"
                                [items]="CalculatedVariables" placeholder="กรุณาระบุ">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-3">
                        <label class="label-input mb-2 required-field" for="calculatePoint">
                            ตัวเลขการคำนวนคะแนน
                        </label>
                        <input class="form-control" data-testid="calculatePoint" formControlName="calculatePoint"
                            id="calculatePoint" type="number" placeholder="กรุณาระบุ">
                    </div>
                    <h3 class="pb-3">
                        รายละเอียดการคำนวน :
                        <span class="label-input">กรุณาระบุ ตัวแปรการคำนวนคะแนน และ ตัวเลขการคำนวนคะแนน</span>
                    </h3>
                </div>

                <div class="row pt-3" *ngIf="isBaseCampaign">
                    <div class="col-12 col-lg-4 mb-3">
                        <label class="label-input mb-2 required-field" for="everyThaiBath">
                            ทุกจำนวนเงินบาท
                        </label>
                        <input class="form-control" data-testid="everyThaiBath" formControlName="everyThaiBath"
                            id="everyThaiBath" type="number" placeholder="กรุณาระบุ">
                    </div>
                    <div class="col-12 col-lg-4 mb-3">
                        <label class="label-input mb-2 required-field" for="takePoint">
                            จำนวน Point ที่ได้รับ
                        </label>
                        <input class="form-control" data-testid="takePoint" formControlName="takePoint" id="takePoint"
                            type="number" placeholder="กรุณาระบุ">
                    </div>
                </div>

                <h3 class="content-title pt-3">
                    ประเภทที่ร่วมรายการ
                </h3>

                <div class="row pt-3">
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="form-group d-inline">
                            <label class="label-input mb-2 required-field">ประเภทรถ</label>
                            <ng-select class="form-control mb-2" [items]="CarType" [multiple]="true" bindLabel="name"
                                bindValue="key" id="selectisCarType" data-testid="selectisCarType"
                                placeholder="กรุณาระบุ" [closeOnSelect]="false" [searchable]="false"
                                formControlName="carType">
                                <ng-template ng-header-tmp>
                                    <div style="margin: 3px 3px;">
                                        <input (click)="selectAll('carType')" [checked]="getStatusSelectAll('carType')"
                                            id="selectAllCarType" type="checkbox">
                                        <label style="margin-left: 3px;" for="selectAllCarType">เลือกทั้งหมด</label>
                                    </div>
                                </ng-template>
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value">
                                        <span>เลือก ({{items.length}})</span>
                                    </div>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                    <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                                        [ngModelOptions]="{ standalone : true }">
                                    {{item.name}}
                                </ng-template>
                            </ng-select>

                        </div>
                    </div>

                    <div class="col-12 col-lg-4 mb-3" *ngIf="!isBaseCampaign">
                        <div class="form-group d-inline">
                            <label class="label-input mb-2 required-field">ประเภทผู้ใช้</label>
                            <ng-select class="form-control mb-2" [items]="UserType" [multiple]="true" bindLabel="name"
                                bindValue="key" id="selectisCustomerType" data-testid="selectisCustomerType"
                                placeholder="กรุณาระบุ" [closeOnSelect]="false" [searchable]="false"
                                formControlName="customerType">
                                <ng-template ng-header-tmp>
                                    <div style="margin: 3px 3px;">
                                        <input (click)="selectAll('customerType')"
                                            [checked]="getStatusSelectAll('customerType')" id="selectAllcustomerType"
                                            type="checkbox">
                                        <label style="margin-left: 3px;"
                                            for="selectAllcustomerType">เลือกทั้งหมด</label>
                                    </div>
                                </ng-template>
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value">
                                        <span>เลือก ({{items.length}})</span>
                                    </div>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                    <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                                        [ngModelOptions]="{ standalone : true }" /> {{item.name}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>

                </div>

                <h3 class="content-title pt-3">
                    รายละเอียดกิจกรรม
                </h3>

                <div class="row pt-3">
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="form-group d-inline">
                            <label class="label-input mb-2 required-field">สายทาง</label>
                            <ng-select class="form-control mb-2" [items]="route" [multiple]="true" bindLabel="name"
                                id="selectRoute" data-testid="selectRoute" placeholder="กรุณาระบุ"
                                [closeOnSelect]="false" [searchable]="false" formControlName="route"
                                (ngModelChange)="onSelectRoute($event)">
                                <ng-template ng-header-tmp>
                                    <div style="margin: 3px 3px;">
                                        <input (click)="selectAll('route')" [checked]="getStatusSelectAll('route')"
                                            id="selectAllRoute" type="checkbox">
                                        <label style="margin-left: 3px;" for="selectAllRoute">เลือกทั้งหมด</label>
                                    </div>
                                </ng-template>
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value">
                                        <span>เลือก ({{items.length}})</span>
                                    </div>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                    <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                                        [ngModelOptions]="{ standalone : true }">
                                    {{item.name}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="form-group d-inline">
                            <label class="label-input mb-2 required-field">อาคารด่าน</label>
                            <ng-select class="form-control mb-2" [items]="expressBuilding" [multiple]="true"
                                bindLabel="tollName" bindValue="tollCode" groupBy="group" id="selectExpressBuilding"
                                data-testid="selectExpressBuilding" placeholder="กรุณาระบุ" [searchable]="false"
                                [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="false"
                                formControlName="expressBuilding">
                                <ng-template ng-header-tmp>
                                    <div style="margin: 3px 3px;">
                                        <input (click)="selectAll('tollBuilding')"
                                            [checked]="getStatusSelectAll('tollBuilding')" id="selectAllRoute"
                                            type="checkbox">
                                        <label style="margin-left: 3px;" for="selectAllRoute">เลือกทั้งหมด</label>
                                    </div>
                                </ng-template>
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value">
                                        <span>เลือก ({{items.length}})</span>
                                    </div>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                    <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                                        [ngModelOptions]="{ standalone : true }" /> {{item.tollName}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </div>

                <h3 class="content-title pt-3" *ngIf="!isBaseCampaign">
                    ตั้งเวลาแคมเปญ
                </h3>

                <div class="row pt-3" *ngIf="!isBaseCampaign">
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="form-group d-inline">
                            <label class="label-input mb-2 required-field">
                                เวลาเริ่มต้น
                            </label>
                            <date-picker class="datepicker-input" [clearable]="false" format="D MMMM YYYY, HH:mm"
                                formControlName="startdate" [id]="'birthDateDatePicke'" locale="th"
                                [placeholder]="'วันที่ เดือน ปี เวลา'" [placement]="'bottom'"
                                [isDisabled]="isBaseCampaign" [minDate]="today" [maxDate]="form.value.enddate"
                                [timePicker]="true"></date-picker>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="form-group d-inline">
                            <label class="label-input mb-2 required-field">
                                เวลาสิ้นสุด
                            </label>
                            <date-picker class="datepicker-input" [clearable]="false" format="D MMMM YYYY, HH:mm"
                                formControlName="enddate" [id]="'birthDateDatePicke'" locale="th"
                                [placeholder]="'วันที่ เดือน ปี เวลา'" [placement]="'bottom'"
                                [isDisabled]="isBaseCampaign" [minDate]="form.value.startdate || today"
                                [timePicker]="true"></date-picker>
                        </div>
                    </div>
                </div>

                <h3 class="content-title pt-3" *ngIf="!isBaseCampaign">
                    ช่วงเวลาที่ให้คะแนนพิเศษ
                </h3>

                <div class="row pt-3" *ngIf="!isBaseCampaign">
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="form-group d-inline">
                            <label class="label-input mb-2">
                                ช่วงเวลาคะแนนพิเศษเริ่มต้น
                            </label>
                            <input class="form-control" id="timeStart" data-testid="timeStart"
                                formControlName="timeStart" type="time" placeholder="เวลา" onclick="this.showPicker()"
                                onfocus="this.value=''">
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="form-group d-inline">
                            <label class="label-input mb-2">
                                ช่วงเวลาคะแนนพิเศษสิ้นสุด
                            </label>
                            <input class="form-control" id="timeEnd" data-testid="timeEnd" formControlName="timeEnd"
                                type="time" placeholder="เวลา" onclick="this.showPicker()" onfocus="this.value=''">
                        </div>
                    </div>
                </div>

                <h3 class="content-title mb-3 required-field pt-3" *ngIf="!isBaseCampaign">
                    การเผยแพร่ และ ทำแบบร่าง
                </h3>

                <div class="col-12 mb-3" *ngIf="!isBaseCampaign">
                    <div class="form-check mb-4">
                        <input class="form-check-input" data-testid="draftRadio" id="draftRadio"
                            formControlName="publishing" type="radio" [value]="false">
                        <label class="form-check-label" for="draftRadio">
                            บันทึกแบบร่าง
                        </label>
                    </div>
                    <div class="form-check mb-4">
                        <input class="form-check-input" data-testid="publishRadio" id="publishRadio"
                            formControlName="publishing" type="radio" [value]="true">
                        <label class="form-check-label" for="publishRadio">
                            เผยแพร่ทันที / เผยแพร่แบบอัตโนมัติเมื่อถึงเวลา
                        </label>
                    </div>
                </div>
                <hr class="hr-custom mb-3" />

                <div class="footer d-flex justify-content-center gap-3">
                    <button (click)="onBack()" class="custom-btn btn-fixed-size-1 btn-type-3" data-testid="backButton"
                        id="backButton" title="ย้อนกลับ" type="button">
                        ย้อนกลับ
                    </button>
                    <button (click)="onSubmit()" class="custom-btn btn-fixed-size-1 btn-type-1" data-testid="nextButton"
                        id="nextButton" title="ถัดไป" [disabled]="form.invalid" type="button">
                        บันทึก
                    </button>
                </div>
            </div>
        </form>
    </section> -->
    <!-- <p>{{ isDescriptionRoadShow }}</p>
    <p>{{ isAddRoadShow }}</p> -->
    <section>
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-3">
            <h2 class="content-title mb-3 mb-md-0">
                การให้คะแนนพื้นฐาน
            </h2>
            <button class="custom-btn btn-fixed-size-1 btn-type-1 ml-auto" data-testid="nextButton" id="nextButton"
                title="เพิ่ม" (click)="onAddBase()">
                เพิ่ม
            </button>
        </div>
        <datatable [columns]="baseColumns" [collectionSize]="baseCollectionSize" [id]="'baseDatatable'"
            [isLoading]="isBaseLoading" [pageSize]="baseLimit" [page]="basePages" [rows]="baseList"
            emptyMessage="ไม่มีข้อมูล" (onRowActionEvent)="onActionBase($event)" [footer]="false">
        </datatable>
        <hr class="hr-custom mt-3 mb-3" />
    </section>
    <section *ngIf="!isAddSpecial && !isAddRoadShow && !isDescriptionRoadShow">
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-3">
            <h2 class="content-title mb-3 mb-md-0">
                การให้คะแนนพิเศษ
            </h2>
            <button class="custom-btn btn-fixed-size-1 btn-type-1 ml-auto" data-testid="nextButton" id="nextButton"
                title="เพิ่ม" (click)="onAddSpecial()">
                เพิ่ม
            </button>
        </div>
        <datatable [columns]="specialColumns" [collectionSize]="specialCollectionSize" [id]="'specialDatatable'"
            [isLoading]="isSpecialLoading" [pageSize]="specialLimit" [page]="specialPages" [rows]="specialList"
            emptyMessage="ไม่มีข้อมูล" (onRowActionEvent)="onActionSpecial($event)"
            (onChangePageEvent)="onChangePagesSpecial($event)">
        </datatable>
    </section>
    <section *ngIf="isAddSpecial">
        <form [formGroup]="roadShowForm" (ngSubmit)="onSubmitRoadShow()">
            <h3 class="content-title mb-3">
                รายละเอียด
            </h3>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="col-12 mb-3">
                        <label class="label-input required-field" for="limitAccount">
                            รูปแบบการให้คะแนน
                        </label>
                        <ng-select class="form-control" [clearable]="false" bindLabel="label" bindValue="id"
                            data-testid="limitTypeSelect" id="limitTypeSelect" placeholder="กรุณาระบุ"
                            formControlName="limitAccountType" [items]="[]"></ng-select>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3">

                </div>
            </div>
            <h3 class="content-title mb-3">
                รายละเอียดคะแนน
            </h3>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="col-12 mb-3">
                        <label class="label-input mb-2 required-field">ตัวแปรการคำนวนคะแนน</label>
                        <ng-select class="form-control mb-2" [clearable]="false" bindLabel="label" bindValue="id"
                            id="selectisEtaxActive" data-testid="selectisEtaxActive" formControlName="isEtaxActive"
                            [items]="[]" placeholder="กรุณาระบุ">
                        </ng-select>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <div class="col-12 mb-3">
                        <label class="label-input mb-2 required-field" for="firstName">
                            ชื่อกิจกรรม
                        </label>
                        <input class="form-control" data-testid="lastName" formControlName="lastName" id="lastName"
                            type="text" placeholder="กรุณาระบุ">
                    </div>
                </div>
                <h3 class="pb-3">
                    รายละเอียดการคำนวน :
                    <span class="label-input">กรุณาระบุ ตัวแปรการคำนวนคะแนน และ ตัวเลขการคำนวนคะแนน</span>
                </h3>
            </div>
            <h3 class="content-title mb-3">
                ประเภทที่ร่วมรายการ
            </h3>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="col-12 mb-3">
                        <label class="label-input mb-2 required-field">ประเภทรถ</label>
                        <ng-select class="form-control mb-2" [clearable]="false" bindLabel="label" bindValue="id"
                            id="selectisEtaxActive" data-testid="selectisEtaxActive" formControlName="isEtaxActive"
                            [items]="[]" placeholder="กรุณาระบุ">
                        </ng-select>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <div class="col-12 mb-3">
                        <label class="label-input mb-2 required-field" for="firstName">
                            ระดับผู้ใช้
                        </label>
                        <ng-select class="form-control mb-2" [clearable]="false" bindLabel="label" bindValue="id"
                            id="selectisEtaxActive" data-testid="selectisEtaxActive" formControlName="isEtaxActive"
                            [items]="[]" placeholder="กรุณาระบุ">
                        </ng-select>
                    </div>
                </div>
            </div>
            <h3 class="content-title mb-3">
                รายละเอียดการจำกัด
            </h3>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="col-12 mb-3">
                        <label class="label-input mb-2 required-field">สายทาง</label>
                        <ng-select class="form-control mb-2" [clearable]="false" bindLabel="label" bindValue="id"
                            id="selectisEtaxActive" data-testid="selectisEtaxActive" formControlName="isEtaxActive"
                            [items]="[]" placeholder="กรุณาระบุ">
                        </ng-select>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <div class="col-12 mb-3">
                        <label class="label-input mb-2 required-field" for="firstName">
                            อาคารด่าน
                        </label>
                        <ng-select class="form-control mb-2" [clearable]="false" bindLabel="label" bindValue="id"
                            id="selectisEtaxActive" data-testid="selectisEtaxActive" formControlName="isEtaxActive"
                            [items]="[]" placeholder="กรุณาระบุ">
                        </ng-select>
                    </div>
                </div>
            </div>
            <h3 class="content-title mb-3">
                ตั้งเวลาแคมเปญ
            </h3>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="col-12 mb-3">
                        <label class="label-input required-field" for="startDatePicker">
                            เวลาเริ่มต้นแคมเปญ
                        </label>
                        <date-picker class="datepicker-input" [clearable]="true" format="D MMMM YYYY"
                            formControlName="startDate" [id]="'startDatePicker'" locale="th" [placeholder]="'กรุณาระบุ'"
                            [placement]="'bottom'"></date-picker>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="label-input required-field" for="startTimeInput">
                            ช่วงเวลาที่ให้คะแนนพิเศษ ที่เริ่ม
                        </label>
                        <div class="input-with-icon-wrapper">
                            <icon-svg class="svg-search-icon" [color]="'#2255CE'" [size]="'l'" [path]="'time' | icon" />
                            <input class="form-control input-with-icon-right-border" data-testid="startTimeInput"
                                formControlName="fromPeriod" id="startTimeInput" mask="00:00"
                                [dropSpecialCharacters]="false" placeholder="กรุณาระบุ" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <div class="col-12 mb-3">
                        <label class="label-input required-field" for="expiryDatePicker">
                            เวลาสิ้นสุดแคมเปญ
                        </label>
                        <date-picker class="datepicker-input" [clearable]="true" format="D MMMM YYYY"
                            formControlName="expiryDate" [id]="'expiryDatePicker'" locale="th"
                            [placeholder]="'กรุณาระบุ'" [placement]="'bottom'"></date-picker>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="label-input required-field" for="expiryTimeInput">
                            ช่วงเวลาที่ให้คะแนนพิเศษ สิ้นสุด
                        </label>
                        <div class="input-with-icon-wrapper">
                            <icon-svg class="svg-search-icon" [color]="'#2255CE'" [size]="'l'" [path]="'time' | icon" />
                            <input class="form-control input-with-icon-right-border" data-testid="expiryTimeInput"
                                formControlName="toPeriod" id="expiryTimeInput" mask="00:00"
                                [dropSpecialCharacters]="false" placeholder="กรุณาระบุ" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="content-title mb-3">
                การเผยแพร่ และ ทำแบบร่าง
            </h3>
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="form-check mb-4">
                        <input class="form-check-input" data-testid="draftRadio" id="draftRadio"
                            formControlName="publishing" type="radio" [value]="false">
                        <label class="form-check-label" for="draftRadio">
                            บันทึกแบบร่าง
                        </label>
                    </div>
                    <div class="form-check mb-4">
                        <input class="form-check-input" data-testid="publishRadio" id="publishRadio"
                            formControlName="publishing" type="radio" [value]="true">
                        <label class="form-check-label" for="publishRadio">
                            เผยแพร่ทันที / เผยแพร่แบบอัตโนมัติเมื่อถึงเวลา
                        </label>
                    </div>
                </div>
            </div>
            <hr class="hr-custom mb-3" />
            <div class="footer d-flex justify-content-center gap-3">
                <button class="custom-btn btn-fixed-size-1 btn-type-3" type="button" (click)="onBack()"
                    data-testid="cancelButton" id="cancelButton" title="ยกเลิก">
                    ยกเลิก
                </button>
                <button class="custom-btn btn-fixed-size-1 btn-type-1" type="submit" data-testid="submitButton"
                    id="submitButton" title="บันทึก" [disabled]="specialForm.invalid">
                    บันทึก
                </button>
                <!-- <button class="custom-btn btn-fixed-size-1 btn-type-1" type="button"
                    (click)="onEdit()" data-testid="editButton" id="editButton" title="แก้ไข"
                    [disabled]="form.invalid">
                    แก้ไข
                </button> -->
            </div>
        </form>
    </section>
    <section *ngIf="!isAddSpecial && !isAddRoadShow && !isDescriptionRoadShow">
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-3">
            <h2 class="content-title mb-3 mb-md-0">
                การให้คะแนนแบบ Road Show
            </h2>
            <button class="custom-btn btn-fixed-size-1 btn-type-1 ml-auto" data-testid="nextButton" id="nextButton"
                title="เพิ่ม" (click)="onAddRoadShow()">
                เพิ่ม
            </button>
        </div>
        <datatable [columns]="roadShowColumns" [collectionSize]="roadShowcollectionSize" [id]="'userDatatable'"
            [isLoading]="isRoadShowLoading" [pageSize]="roadShowLimit" [page]="roadShowPages" [rows]="roadShowList"
            emptyMessage="ไม่มีข้อมูล" (onRowActionEvent)="onActionRoadShow($event)"
            (onChangePageEvent)="onChangePagesRoadShow($event)">
        </datatable>
    </section>
    <section *ngIf="isAddRoadShow || isEditRoadShow">
        <form [formGroup]="roadShowForm" (ngSubmit)="onSubmitRoadShow()">
            <h3 class="content-title mb-3">
                รายละเอียด
            </h3>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="col-12 mb-3">
                        <label class="label-input required-field" for="campaignNameInput">
                            ชื่อกิจกรรม
                        </label>
                        <input class="form-control" formControlName="campaignName" id="campaignNameInput" type="text"
                            placeholder="กรุณาระบุ">
                    </div>
                </div>
            </div>
            <h3 class="content-title mb-3">
                รายละเอียดคะแนน
            </h3>
            <div class="row">
                <!-- <div class="col-12 col-lg-6">
                    <div class="col-12 mb-3">
                        <label class="label-input required-field" for="roadShowNameInput">
                            ตัวแปรการคำนวนคะแนน
                        </label>
                        <ng-select class="form-control" [clearable]="false" bindLabel="label" bindValue="id"
                            data-testid="stockLocationSelect" id="stockLocationSelect" placeholder="กรุณาระบุ"
                            formControlName="customerGroups" [items]="[]"></ng-select>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="col-12 mb-3">
                        <label class="label-input required-field" for="roadShowNameInput">
                            ตัวเลขการคำนวนคะแนน
                        </label>
                        <input class="form-control" formControlName="customerGroups" id="roadShowNameInput" type="text"
                            placeholder="กรุณาระบุ">
                    </div>
                </div>
                <p>รายละเอียดการคำนวน: <span class="label-input">กรุณาระบุ ตัวแปรการคำนวนคะแนน และ
                        ตัวเลขการคำนวนคะแนน</span></p> -->
                <div class="col-12 col-lg-6">
                    <div class="col-12 mb-3">
                        <label class="label-input required-field" for="takePointInput">
                            คะแนนที่ได้รับ
                        </label>
                        <input class="form-control" formControlName="takePoint" id="takePointInput" type="text"
                            placeholder="กรุณาระบุ">
                    </div>
                </div>
            </div>
            <h3 class="content-title mb-3">
                ประเภทที่ร่วมรายการ
            </h3>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="col-12 mb-3">
                        <label class="label-input required-field" for="customerGroupsSelect">
                            ระดับผู้ใช้
                        </label>
                        <ng-select class="form-control mb-2" [items]="customerGroupsList" [multiple]="true"
                            bindLabel="name" bindValue="key" id="customerGroupsSelect"
                            data-testid="customerGroupsSelect" placeholder="กรุณาระบุ" [closeOnSelect]="false"
                            [searchable]="false" formControlName="customerGroups" [loading]="isCustomerGroupsLoading">
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value">
                                    <span>เลือก ({{items.length}})</span>
                                </div>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                                    [ngModelOptions]="{ standalone : true }">
                                {{item.name}}
                            </ng-template>
                        </ng-select>
                        <!-- <ng-select class="form-control" [clearable]="false" bindLabel="name" bindValue="key"
                            data-testid="customerGroupsSelect" id="customerGroupsSelect" placeholder="กรุณาระบุ"
                            formControlName="customerGroups" [loading]="iscustomerGroupsLoading"
                            [items]="customerGroupsList"></ng-select> -->
                    </div>
                </div>
            </div>
            <h3 class="content-title mb-3">
                ตั้งเวลาแคมเปญ
            </h3>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="col-12 mb-3">
                        <label class="label-input required-field" for="fromDatePicker">
                            เวลาเริ่มต้น
                        </label>
                        <date-picker class="datepicker-input" [clearable]="true" format="D MMMM YYYY"
                            formControlName="fromDate" [id]="'fromDatePicker'" locale="th" [placeholder]="'กรุณาระบุ'"
                            [placement]="'bottom'"></date-picker>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="label-input required-field" for="fromPeriodInput">
                            ช่วงเวลา ที่เริ่ม
                        </label>
                        <input class="form-control" data-testid="fromPeriodInput" formControlName="fromPeriod"
                            id="fromPeriodInput" placeholder="กรุณาระบุ" type="text" mask="00:00"
                            [dropSpecialCharacters]="false">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="col-12 mb-3">
                        <label class="label-input required-field" for="toDatePicker">
                            เวลาสิ้นสุด
                        </label>
                        <date-picker class="datepicker-input" [clearable]="true" format="D MMMM YYYY"
                            formControlName="toDate" [id]="'toPeriodPicker'" locale="th" [placeholder]="'กรุณาระบุ'"
                            [placement]="'bottom'"></date-picker>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="label-input required-field" for="toPeriodInput">
                            ช่วงเวลา สิ้นสุด
                        </label>
                        <input class="form-control" data-testid="toPeriodInput" formControlName="toPeriod"
                            id="toPeriodInput" placeholder="กรุณาระบุ" type="text" mask="00:00"
                            [dropSpecialCharacters]="false">
                    </div>
                </div>
            </div>
            <h3 class="content-title mb-3">
                การเผยแพร่ และ ทำแบบร่าง
            </h3>
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="form-check mb-4">
                        <input class="form-check-input" data-testid="draftRadio" id="draftRadio"
                            formControlName="publishing" type="radio" [value]="false">
                        <label class="form-check-label" for="draftRadio">
                            บันทึกแบบร่าง
                        </label>
                    </div>
                    <div class="form-check mb-4">
                        <input class="form-check-input" data-testid="publishRadio" id="publishRadio"
                            formControlName="publishing" type="radio" [value]="true">
                        <label class="form-check-label" for="publishRadio">
                            เผยแพร่ทันที / เผยแพร่แบบอัตโนมัติเมื่อถึงเวลา
                        </label>
                    </div>
                </div>
            </div>
            <hr class="hr-custom mb-3" />
            <div class="footer d-flex justify-content-center gap-3">
                <button class="custom-btn btn-fixed-size-1 btn-type-3" type="button" (click)="onBack()"
                    data-testid="cancelButton" id="cancelButton" title="ยกเลิก">
                    ยกเลิก
                </button>
                <button *ngIf="isAddRoadShow" class="custom-btn btn-fixed-size-1 btn-type-1" type="submit"
                    data-testid="submitButton" id="submitButton" title="บันทึก">
                    บันทึก
                </button>
                <button *ngIf="isEditRoadShow" class="custom-btn btn-fixed-size-1 btn-type-1" type="button"
                    (click)="onEditRoadShow()" data-testid="EditButton" id="EditButton" title="แก้ไข">
                    แก้ไข
                </button>
            </div>
        </form>
    </section>
    <section *ngIf="isDescriptionRoadShow && !isAddRoadShow && !isEditRoadShow">
        <p>***หมายเหตุ: ผู้ใช้ในรายชื่อจะได้รับคะแนนที่ตั้งค่าไว้ในเวลาสิ้นสุดกิจกรรมที่กำหนดไว้</p>
        <h2 class="content-title mb-3 mb-md-0">
            ตั้งค่า Road Show
        </h2>
        <datatable [columns]="settingRoadShowColumns" [collectionSize]="settingRoadShowcollectionSize"
            [id]="'settingRoadShowDatatable'" [isLoading]="isSettingRoadShowLoading" [pageSize]="settingRoadShowLimit"
            [page]="settingRoadShowPages" [rows]="settingRoadShowList" emptyMessage="ไม่มีข้อมูล"
            (onRowActionEvent)="onActionSettingRoadShow($event)" [footer]="false">
        </datatable>
        <hr class="hr-custom mt-3 mb-3" />
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-3">
            <h2 class="content-title mb-3 mb-md-0">
                การให้คะแนนพิเศษ
            </h2>
            <button class="custom-btn btn-fixed-size-1 btn-type-1 ml-auto" data-testid="nextButton" id="nextButton"
                title="เพิ่มผู้ได้รับคะแนน" (click)="onAddEarnByCustomerId()">
                เพิ่ม ผู้ได้รับคะแนน
            </button>
        </div>
        <datatable [columns]="bonusPointColumns" [collectionSize]="bonusPointCollectionSize"
            [id]="'bonusPointDatatable'" [isLoading]="bonusPointLoading" [pageSize]="bonusPointLimit"
            [page]="bonusPointPages" [rows]="bonusPointList" emptyMessage="ไม่มีข้อมูล">
        </datatable>
    </section>
</div>