<div class="content-container container-xl p-0">
    <div class="content-container-header">
        <div class="content-container-header-item">
            <h1 *ngIf="!isShowDescription" class="content-title">
                ระบบการให้คะแนน
            </h1>
            <h1 *ngIf="isShowDescription && !isEditCondition" class="content-title">
                เพิ่มเงื่อนไขการให้คะแนนพิเศษ
            </h1>
            <h1 *ngIf="isShowDescription && isEditCondition && !isBaseCampaign" class="content-title">
                แก้ไขเงื่อนไขการให้คะแนนพิเศษ
            </h1>
            <h1 *ngIf="isShowDescription && isEditCondition && isBaseCampaign" class="content-title">
                แก้ไขเงื่อนไขการให้คะแนนพื้นฐาน
            </h1>
        </div>
    </div>
    <hr class="hr-custom mb-3" />
    <!-- <button *ngIf="isShowDescription" class="custom-btn btn-type-1" data-testid="backButton" id="backButton"
        title="กลับ" type="button" (click)="onBack()">
        กลับ
    </button> -->
    <section *ngIf="!isShowDescription">
        <div class="col-4 mb-3">
            <h2 class="content-title">
                การให้คะแนนพื้นฐาน
            </h2>
        </div>
        <div class="navs-container">
            <datatable [columns]="basicRatingColumns" [collectionSize]="collectionSize" [id]="'userDatatable'"
                [isLoading]="isLoading" [pageSize]="limitRow" [page]="pages" [rows]="basicRatingRows"
                emptyMessage="ไม่มีข้อมูล" (onRowActionEvent)="onAction($event)" [footer]="false">
            </datatable>
        </div><br>
        <hr class="hr-custom mb-3" />
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-3">
            <h2 class="content-title mb-3 mb-md-0">
                การให้คะแนนพิเศษ
            </h2>
            <button class="custom-btn btn-fixed-size-1 btn-type-1 ml-auto" data-testid="nextButton" id="nextButton"
                title="เพิ่มเงื่อนไข" (click)="onAddCondition()">
                เพิ่มเงื่อนไข
            </button>
        </div>
        <datatable [columns]="specialRatingColumns" [collectionSize]="collectionSize1" [id]="'userDatatable'"
            [isLoading]="isLoading" [pageSize]="limitRow1" [page]="pages1" [rows]="specialRatingRows"
            emptyMessage="ไม่มีข้อมูล" (onRowActionEvent)="onAction($event)" (onChangePageEvent)="onChangePageSpecial($event)">
        </datatable>
    </section>
    <section *ngIf="isShowDescription">
        <form [formGroup]="form">
          <!-- <div class="row pt-3"> -->

            <h3 class="content-title" *ngIf="!isBaseCampaign">
                รายละเอียดกิจกรรม
            </h3>

            <div class="row pt-3" *ngIf="!isBaseCampaign">
              <div class="col-12 col-lg-4 mb-3">
                  <div class="col-12 mb-3">
                      <label class="label-input required-field" for="campaignName">
                          ชื่อกิจกรรม
                      </label>
                      <input class="form-control" formControlName="campaignName" id="campaignName" type="text"
                          placeholder="กรุณาระบุ">
                  </div>
              </div>

            </div>

            <h3 class="content-title">
                รายละเอียดคะแนน
            </h3>

            <div class="row pt-3" *ngIf="!isBaseCampaign">
                <div class="col-12 col-lg-4 mb-3">
                    <div class="form-group d-inline">
                        <label class="text-description mb-2 required-field">ตัวแปรการคำนวนคะแนน</label>
                        <ng-select class="form-control mb-2" [clearable]="false" bindLabel="name" bindValue="key"
                            id="conditionPoint" data-testid="conditionPoint" formControlName="conditionPoint"
                            [items]="CalculatedVariables" placeholder="กรุณาระบุ">
                        </ng-select>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mb-3">
                    <label class="text-description mb-2 required-field" for="calculatePoint">
                      ตัวเลขการคำนวนคะแนน
                    </label>
                    <input class="form-control" data-testid="calculatePoint" formControlName="calculatePoint" id="calculatePoint"
                        type="number" placeholder="กรุณาระบุ">
                </div>
                <h3 class="pb-3">
                    รายละเอียดการคำนวน :
                    <span class="text-description">กรุณาระบุ ตัวแปรการคำนวนคะแนน และ ตัวเลขการคำนวนคะแนน</span>
                </h3>
            </div>

            <div class="row pt-3" *ngIf="isBaseCampaign">
                <div class="col-12 col-lg-4 mb-3">
                    <label class="text-description mb-2 required-field" for="everyThaiBath">
                      ทุกจำนวนเงินบาท
                    </label>
                    <input class="form-control" data-testid="everyThaiBath" formControlName="everyThaiBath" id="everyThaiBath"
                      type="number" placeholder="กรุณาระบุ">
                </div>
                <div class="col-12 col-lg-4 mb-3">
                    <label class="text-description mb-2 required-field" for="takePoint">
                      จำนวน Point ที่ได้รับ
                    </label>
                    <input class="form-control" data-testid="takePoint" formControlName="takePoint" id="takePoint"
                      type="number" placeholder="กรุณาระบุ">
                </div>
            </div>

            <h3 class="content-title pt-3">
                ประเภทที่ร่วมรายการ
            </h3>

            <div class="row pt-3">
                <div class="col-12 col-lg-4 mb-3">
                    <div class="form-group d-inline">
                        <label class="text-description mb-2 required-field">ประเภทรถ</label>
                        <ng-select class="form-control mb-2" [items]="CarType" [multiple]="true" bindLabel="name"
                            bindValue="name" id="selectisCarType" data-testid="selectisCarType" placeholder="กรุณาระบุ"
                            [closeOnSelect]="false" [searchable]="false" formControlName="carType">
                            <ng-template ng-header-tmp>
                                <div style="margin: 3px 3px;">
                                    <input (click)="selectAll('carType')" [checked]="getStatusSelectAll('carType')"
                                        id="selectAllCarType" type="checkbox">
                                    <label style="margin-left: 3px;" for="selectAllCarType">เลือกทั้งหมด</label>
                                </div>
                            </ng-template>
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value">
                                    <span>เลือก ({{items.length}})</span>
                                </div>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                                    [ngModelOptions]="{ standalone : true }">
                                {{item.name}}
                            </ng-template>
                        </ng-select>

                    </div>
                </div>

                <div class="col-12 col-lg-4 mb-3" *ngIf="!isBaseCampaign">
                    <div class="form-group d-inline">
                        <label class="text-description mb-2 required-field">ประเภทผู้ใช้</label>
                        <ng-select class="form-control mb-2" [items]="UserType" [multiple]="true" bindLabel="name"
                            bindValue="name" id="selectisCustomerType" data-testid="selectisCustomerType"
                            placeholder="กรุณาระบุ" [closeOnSelect]="false" [searchable]="false"
                            formControlName="customerType">
                            <ng-template ng-header-tmp>
                              <div style="margin: 3px 3px;">
                                  <input (click)="selectAll('customerType')" [checked]="getStatusSelectAll('customerType')"
                                      id="selectAllcustomerType" type="checkbox">
                                  <label style="margin-left: 3px;" for="selectAllcustomerType">เลือกทั้งหมด</label>
                              </div>
                            </ng-template>
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value">
                                    <span>เลือก ({{items.length}})</span>
                                </div>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                                    [ngModelOptions]="{ standalone : true }" /> {{item.name}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>

            </div>

            <h3 class="content-title pt-3">
                รายละเอียดกิจกรรม
            </h3>

            <div class="row pt-3">
                <div class="col-12 col-lg-4 mb-3">
                    <div class="form-group d-inline">
                        <label class="text-description mb-2 required-field">สายทาง</label>
                        <ng-select class="form-control mb-2" [items]="route" [multiple]="true" bindLabel="name"
                            bindValue="name" id="selectRoute" data-testid="selectRoute" placeholder="กรุณาระบุ"
                            [closeOnSelect]="false" [searchable]="false" formControlName="route" (ngModelChange)="onSelectRoute($event)">
                            <ng-template ng-header-tmp>
                                <div style="margin: 3px 3px;">
                                    <input (click)="selectAll('route')" [checked]="getStatusSelectAll('route')"
                                        id="selectAllRoute" type="checkbox">
                                    <label style="margin-left: 3px;" for="selectAllRoute">เลือกทั้งหมด</label>
                                </div>
                            </ng-template>
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value">
                                    <span>เลือก ({{items.length}})</span>
                                </div>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                                    [ngModelOptions]="{ standalone : true }">
                                {{item.name}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mb-3">
                    <div class="form-group d-inline">
                        <label class="text-description mb-2 required-field">อาคารด่าน</label>
                        <ng-select class="form-control mb-2" [items]="expressBuilding" [multiple]="true" bindLabel="name" bindValue="name"
                            groupBy="group" id="selectExpressBuilding" data-testid="selectExpressBuilding"
                            placeholder="กรุณาระบุ" [searchable]="false" [selectableGroup]="true"
                            [selectableGroupAsModel]="false" [closeOnSelect]="false"
                            formControlName="expressBuilding">
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value">
                                    <span>เลือก ({{items.length}})</span>
                                </div>
                            </ng-template>
                            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                                    [ngModelOptions]="{ standalone : true }" /> {{item.group}}
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected"
                                    [ngModelOptions]="{ standalone : true }" /> {{item.name}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
            </div>

            <h3 class="content-title pt-3" *ngIf="!isBaseCampaign">
                ตั้งเวลาแคมเปญ
            </h3>

            <div class="row pt-3" *ngIf="!isBaseCampaign">
                <div class="col-12 col-lg-4 mb-3">
                    <div class="form-group d-inline">
                        <label class="text-description mb-2 required-field">
                            เวลาเริ่มต้น
                        </label>
                        <date-picker class="datepicker-input" [clearable]="false" format="D MMMM YYYY, HH:mm"
                            formControlName="startdate" [id]="'birthDateDatePicke'" locale="th"
                            [placeholder]="'วันที่ เดือน ปี เวลา'" [placement]="'bottom'" [isDisabled]="isBaseCampaign"
                            [minDate]="today" [timePicker]="true"></date-picker>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mb-3">
                    <div class="form-group d-inline">
                        <label class="text-description mb-2 required-field">
                            เวลาสิ้นสุด
                        </label>
                        <date-picker class="datepicker-input" [clearable]="false" format="D MMMM YYYY, HH:mm"
                            formControlName="enddate" [id]="'birthDateDatePicke'" locale="th"
                            [placeholder]="'วันที่ เดือน ปี เวลา'" [placement]="'bottom'" [isDisabled]="isBaseCampaign"
                            [minDate]="form.value.startdate || today" [timePicker]="true"></date-picker>
                    </div>
                </div>
            </div>

            <h3 class="content-title mb-3 required-field" *ngIf="!isBaseCampaign">
                การเผยแพร่ และ ทำแบบร่าง
            </h3>

            <div class="col-12 mb-3" *ngIf="!isBaseCampaign">
                <div class="form-check mb-4">
                    <input class="form-check-input" data-testid="draftRadio" id="draftRadio"
                        formControlName="publishing" type="radio" [value]="false">
                    <label class="form-check-label" for="draftRadio">
                        บันทึกแบบร่าง
                    </label>
                </div>
                <div class="form-check mb-4">
                    <input class="form-check-input" data-testid="publishRadio" id="publishRadio"
                        formControlName="publishing" type="radio" [value]="true">
                    <label class="form-check-label" for="publishRadio">
                        เผยแพร่ทันที / เผยแพร่แบบอัตโนมัติเมื่อถึงเวลา
                    </label>
                </div>
            </div>
            <hr class="hr-custom mb-3" />

            <div class="footer d-flex justify-content-center gap-3">
                <button (click)="onBack()" class="custom-btn btn-fixed-size-1 btn-type-3" data-testid="backButton" id="backButton"
                    title="ย้อนกลับ">
                    ย้อนกลับ
                </button>
                <button (click)="onSubmit()" class="custom-btn btn-fixed-size-1 btn-type-1" data-testid="nextButton" id="nextButton"
                    title="ถัดไป" [disabled]="form.invalid">
                    บันทึก
                </button>
            </div>
          <!-- </div> -->
        </form>
    </section>
</div>
