<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="main-container">
        <div class="header-container">
            <h1 class="content-title">เพิ่มข้อมูลบริษัท - นิติบุคคล / องค์กร</h1>
            <hr class="hr-grey">
        </div>
        <div class="body-container">
            <h3 class="mb-3 text-center">ช่องทางการรับผล การเพิ่มผู้ใช้งานบัญชีนิติบุคคล</h3>
            <div class="form-check text-center">
                <input type="radio" id="email" formControlName="channelOtp" value="email">
                <label class="ps-2" for="email">อีเมล ({{ emailOtpRequest.get('email')?.value }})</label>
            </div>
            <div class="form-check text-center">
                <input type="radio" id="sms" formControlName="channelOtp" value="sms">
                <label class="ps-2" for="sms">เบอร์โทรศัพท์ ({{ mobileOtpRequest.get('mobile')?.value }})</label>
            </div>

        </div>
        <div class="footer-container">
            <hr class="hr-grey mb-3">
            <div class="btn-footer d-flex justify-content-center gap-3">
                <button type="button" class="custom-btn btn-fixed-size-1 btn-type-3"
                    (click)="onBack()">ย้อนกลับ</button>
                <button type="submit" class="custom-btn btn-fixed-size-1 btn-type-1"
                    [disabled]="form.invalid">ยืนยัน</button>
            </div>
        </div>
    </div>
</form>