<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="main-container">
        <div class="header-container">
            <h3 class="content-title">เพิ่มข้อมูลบริษัท - นิติบุคคล / องค์กร</h3>
            <hr class="hr-grey">
        </div>
        <div class="body-container">
            <h3 class="mb-3">ข้อมูลที่อยู่บริษัท</h3>
            <address [form]="form"></address>
        </div>
        <div class="footer-container">
            <hr class="hr-grey mb-3">
            <div class="btn-footer d-flex justify-content-center gap-3">
                <button type="button" class="custom-btn btn-fixed-size-1 btn-type-3"
                    (click)="onBack()">ย้อนกลับ</button>
                <button type="submit" class="custom-btn btn-fixed-size-1 btn-type-1"
                    [disabled]="form.invalid">ยืนยัน</button>
            </div>
        </div>
    </div>
</form>