/* You can add global styles to this file, and also import other style files */

/* Importing Assets file. */
@font-face {
  font-family: "Kanit";
  src: url("assets/font/Kanit/Kanit-Regular.ttf") format("truetype");
}

@import 'assets/scss/variables';
@import 'assets/scss/reset';
@import 'assets/scss/typography';
@import 'assets/scss/form';
@import 'assets/scss/component';
@import 'assets/scss/button';
@import 'assets/scss/input';
@import 'assets/scss/container';
@import 'assets/scss/badge';
@import 'assets/scss/datatable';


html,
body {
  height: 100%;
}

html body {
  margin: 0;
  font-family: var(--default-font-family), sans-serif;
  font-size: var(--default-font-size);
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.loading-modal {
  .modal-content {
    width: 150px;
    margin: auto;
    background-color: transparent;
    border: none;
  }
}

.info-modal {
  .modal-content {
    width: 300px;
    margin: auto;
    animation-name: show-modal;
    animation-duration: 0.5s;
    border-radius: 25px !important;
    border: none;
  }

  .modal-content .modal-body {
    padding: 2rem;
    border-radius: 25px !important;
    border: double 5px transparent;
    background-image: linear-gradient(white, white), linear-gradient(118.54deg, #2255CE 9.91%, rgba(255, 255, 255, 0) 43.42%, rgba(255, 255, 255, 0) 58.26%, #231D4F 98.43%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}

.cancel-car-modal {
  .modal-content {
    animation-name: show-modal;
    animation-duration: 0.5s;
    .modal-header {
      border-bottom: none !important;
      padding-bottom: 0 !important;
    }
  }
}

.suspend-modal{
  .modal-content{
    width: 300px;
  }
}

@keyframes show-modal {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }

  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }

  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.ngx-datatable.material {
  .datatable-body .datatable-row-wrapper {
    margin-top: 1rem;
  }

  .datatable-group-header {
    background-color: #E8EEFA !important;
    border: none !important;
    padding: 0.75rem;
  }

  .datatable-scroll {
    display: inherit !important;
  }
}

.datatable-icon-right-custom::before {
  content: url('assets/images/icons/down.svg') !important;
}

.datatable-icon-down-custom::before {
  content: url('assets/images/icons/down.svg') !important;
}

.custom-input-otp {
  width: 36px !important;
  height: 36px !important;
  border-radius: 8px !important;
  border: solid 1px #CCCCCC !important;

  &:hover,
  &:focus,
  &:active {
      border: solid 1px #CCCCCC !important;
      box-shadow: none !important;
      outline: none !important;
  }
}