/* You can add global styles to this file, and also import other style files */

/* Importing Assets file. */
@import 'assets/scss/variables';
@import 'assets/scss/reset';
@import 'assets/scss/typography';
@import 'assets/scss/component';
@import 'assets/scss/button';
@import 'assets/scss/input';
@import 'assets/scss/container';
@import 'assets/scss/badge';

html, body {
  height: 100%;
}

html body {
  margin: 0;
  font-family: var(--default-font-family), sans-serif;
  font-size: var(--default-font-size);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
