<div class="modal-header">
    <div class="header-label">
        <strong>รายละเอียดงาน อายัต/ถอนอายัต บัตร</strong>
    </div>
</div>
<div class="suspend-form">
    <form (ngSubmit)="onSubmit()" #leaveForm="ngForm">
        <div class="suspend-form-date">
            <div>
                <label for="transactionDate">เลขที่รายการ:</label>
                <span id="transactionDate">{{ currentDate }}</span>
              </div>

              <div>
                <label for="transactionNumber">วันที่สร้างรายการ:</label>
                <span id="transactionNumber">{{ currentNumber }}</span>
              </div>
        </div>

        <div class="option-suspend">
            <div>
                <label for="reason">Reason:</label>
                <select style="width: 250px;" id="reason" [(ngModel)]="request.reason" name="reason">
                    <option value="บัตรที่สูญหายหรือถูกทำลาย">บัตรที่สูญหายหรือถูกทำลาย</option>
                    //option
                </select>
            </div>

            <div>
                <label for="requestType">ประเภทการตั้งค่า:</label>
                <select style=" width: 250px;" id="requestType" [(ngModel)]="request.requestType" name="requestType">
                    <option value="อายัด">อายัด</option>
                    //option
                </select>
            </div>
        </div>
        <div>
            <label for="details">รายละเอียด:</label>
            <textarea id="details" [(ngModel)]="request.details" name="details"></textarea>
        </div>

        <div class="input-checkbox" style="display: flex; justify-content: space-between;">
            <div>
                <label>
                    <input type="checkbox" [(ngModel)]="request.cancelOnBehalf" name="cancelOnBehalf">
                    กรณีแจ้งยกเลิกแทนผู้อื่น
                </label>
            </div>

            <div style="margin-right: 20px;">
                <label>
                    <input type="checkbox" [(ngModel)]="request.notifyViaSystem" name="notifyViaSystem">
                    ผู้แจ้งยินยอมให้ระบบเก็บข้อมูล
                </label>
            </div>
        </div>
        <div class="input-form">
            <div>
                <label for="fullName">ชื่อ-สกุล:</label>
                <input id="fullName" [(ngModel)]="request.fullName" name="fullName">
            </div>

            <div>
                <label for="position">ตำแหน่ง:</label>
                <input id="position" [(ngModel)]="request.position" name="position">
            </div>

            <div>
                <label for="relationship">ความสัมพันธ์:</label>
                <input id="relationship" [(ngModel)]="request.relationship" name="relationship">
            </div>

            <div>
                <label for="idNumber">เลขบัตรประชาชน:</label>
                <input id="idNumber" [(ngModel)]="request.idNumber" name="idNumber">
            </div>

            <button type="submit">ยืนยันรายการ</button>
            <button type="button" (click)="onClose()">ยกเลิก</button>
        </div>
    </form>
</div>
