<div class="content-container container-xl p-0">
    <div class="content-container-header">
        <div class="content-container-header-item">
            <h1 class="content-title">การอนุมัติยกเลิกการใช้งานอุปกรณ์ Easy pass (OBU)</h1>
        </div>
    </div>
    <hr class="hr-custom" />
    <div class="content-container-body" [style.padding-top]="!isHiddenFillter ? '1.5rem' : '0'">
        <form *ngIf="!isHiddenFillter" [formGroup]="form" class="d-block d-sm-flex gap-3 align-items-end">
            <div class="row g-2 g-sm-3 form-wrapper">
                <div class="col-12 col-md-4">
                    <label class="label-input text-nowrap" for="startDateDatepicker">
                        วันที่ (จาก)
                    </label>
                    <date-picker class="datepicker-input" [clearable]="true" format="D MMMM YYYY"
                        formControlName="startDate" [id]="'startDateDatePicker'"
                        [invalid]="submitted && form.controls['startDate'].errors ? true : false" locale="th"
                        [placeholder]="'กรุณาระบุ'" [placement]="'bottom'"
                        [maxDate]="form.get('endDate')?.value || maxDate"></date-picker>
                </div>
                <div class="col-12 col-md-4">
                    <label class="label-input text-nowrap" for="endDateDatepicker">
                        วันที่ (ถึง)
                    </label>
                    <date-picker class="datepicker-input" [clearable]="true" format="D MMMM YYYY"
                        formControlName="endDate" [id]="'endDateDatePicker'"
                        [minDate]="form.get('startDate')?.value" [maxDate]="maxDate"
                        [invalid]="submitted && form.controls['endDate'].errors ? true : false" locale="th"
                        [placeholder]="'กรุณาระบุ'" [placement]="'bottom'"></date-picker>
                </div>
                <div class="col-12 col-md-4">
                    <label class="label-input text-nowrap" for="walletSelect">
                        อาคารด่าน
                    </label>
                    <ng-select class="form-control" [clearable]="false" bindLabel="walletName" bindValue="walletId"
                        data-testid="walletSelect" formControlName="checkpoint" [placeholder]="'กรุณาระบุ'"
                        id="walletSelect" [items]="[]"></ng-select>
                </div>
            </div>
            <div class="button-wrapper">
                <button class="custom-btn search-btn" data-testid="searchButton" id="searchButton" title="ค้นหา"
                    type="submit" [disabled]="form.invalid" (click)="onSearch()">
                    <icon-svg class="svg-icon" [color]="'#FFFFFF'" [size]="'20px'" [path]="'search' | icon" />
                </button>
            </div>
        </form>
        <div class="navs-container">
            <div class="d-flex justify-content-between" [style.display]="!isHiddenFillter ? 'flex' : 'none !important'">
                <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" (navChange)="onChangeNav($event)"
                class="nav-tabs nav-tabs-header">
                <li [ngbNavItem]="'waiting-for-approval'">
                    <button >กำลังรอ</button>
                    <ng-template ngbNavContent>
                        <cancel-device-waiting-for-approval (hiddenFillterMenu)="handleHiddenFillterMenu($event)"></cancel-device-waiting-for-approval>
                    </ng-template>
                </li>
                <li [ngbNavItem]="'approval'">
                    <button >อนุมัติ</button>
                    <ng-template ngbNavContent>
                        <cancel-device-approval (hiddenFillterMenu)="handleHiddenFillterMenu($event)"></cancel-device-approval>
                    </ng-template>
                </li>
                <li [ngbNavItem]="'reject'">
                    <button >ปฏิเสธ</button>
                    <ng-template ngbNavContent>
                        <cancel-device-reject></cancel-device-reject>
                    </ng-template>
                </li>
            </ul>
            <button (click)="RegisterFormModal()" class="custom-btn btn-type-1" type="submit" title="Login">
                Export to excel
            </button>
            </div>
            <div  [ngbNavOutlet]="nav" class="navs-content-container" [style.padding-top]="!isHiddenFillter ? '2rem' : '0'"></div>
        </div>
    </div>
</div>
