<div class="d-flex align-items-center justify-content-center h-100">
  <div class="menu-option-content-wrapper" >
    <h2>กรุณาเลือกหัวข้อการใช้งาน</h2>
    <div class="menu-wrapper">
      <button
        class="btn btn-type-2"
        data-testid="searchUserButton"
        id="searchUserButton"
        title="ค้นหาข้อมูลผู้ใช้งาน"
        (click)="searchUser()"
      >
        <h4>
          <icon-svg
            [color]="'white'"
            [path]="'assets/images/icons/user-search.svg'"
            [size]="'l'"
          />ค้นหาข้อมูลผู้ใช้งาน
        </h4>
      </button>
      <button
        class="btn btn-type-2"
        data-testid="addUserButton"
        id="addUserButton"
        title="เพิ่มผู้ใช้งานใหม่"
        (click)="addUser()"
      >
          <h4>
            <icon-svg
              [color]="'white'"
              [path]="'assets/images/icons/add.svg'"
              [size]="'l'"
            />เพิ่มผู้ใช้งานใหม่
          </h4>
      </button>
      <button
        *ngIf="user?.role ==='superadmin'"
        class="btn btn-type-2"
        data-testid="managementButton"
        id="managementButton"
        title="จัดการข้อมูลหลังบ้าน"
        (click)="management()"
      >
        <h4>
          <icon-svg
            [color]="'white'"
            [path]="'assets/images/icons/setting.svg'"
            [size]="'l'"
          />จัดการข้อมูลหลังบ้าน
        </h4>
      </button>
    </div>

</div>
