<div class="superadmin">
    <div>
        <h2>กรุณาเลือกหัวข้อการใช้งาน</h2>
    </div>

    <div 
    class="button">

        <icon-svg 
            class="user-search" 
            [color]="'white'"
            [path]="'assets/images/icons/user-search.svg'"
            [size]="'l'"  />
        
        <button class="btn btn-type-2" >
            <h4>ค้นหาข้อมูลผู้ใช้งาน</h4>
          </button>

    </div>
    
  
    <div 
    class="button">

        <icon-svg 
            class="add" 
            [color]="'white'"
            [path]="'assets/images/icons/add.svg'" 
            [size]="'l'"  />

        <button class="btn btn-type-2" >
            <h4>เพิ่มผู้ใช้งานใหม่</h4>
        </button>

    </div>


    <div 
    class="button">
    
        <icon-svg 
            class="setting" 
            [color]="'white'"
            [path]="'assets/images/icons/setting.svg'"  
            [size]="'l'"  />
            
        <button class="btn btn-type-2" >
            <h4>จัดการข้อมูลหลังบ้าน</h4>
        </button>
    </div>
 
</div>