<div class="content-container h-100">
    <div class="content-container-header">
        <div class="content-container-header-item">
            <h1 *ngIf="customerType === 1" class="content-title">เพิ่มผู้ใช้งาน - บุคคลทั่วไป</h1>
            <h1 *ngIf="customerType === 2" class="content-title">เพิ่มผู้ใช้งาน - นิติบุคคล / องค์กร</h1>
        </div>
    </div>
    <div class="content-wrapper" [style.margin-bottom.px]="footerHeight">
        <hr class="hr-custom" />
        <div class="body-wrapper">
            <h3 *ngIf="step === 2" class="mb-3 text-center">กรุณาระบุอีเมล สำหรับการขอรับรหัสผ่าน OTP</h3>
            <h3 *ngIf="step === 4" class="mb-3 text-center">กรุณากรอกหมายเลขโทรศัพท์มือถือ สำหรับการขอรับรหัสผ่าน OTP
            </h3>
            <form class="d-flex justify-content-center" [formGroup]="form" (ngSubmit)="onNext()">
                <div *ngIf="step === 2" class="col-12 col-md-6 col-lg-4">
                    <label class="label-input back required-field" for="emailInput">
                        กรุณาระบุอีเมล สำหรับการขอรับรหัสผ่าน OTP
                    </label>
                    <input [ngClass]="{
                        'is-invalid': 
                          form.get('email')?.errors?.['required'] && form.get('email')?.touched || 
                          form.get('email')?.errors?.['pattern'] && form.get('email')?.touched
                      }" class="form-control" data-testid="emailInput" placeholder="example@mail.com"
                        formControlName="email" id="emailInput" type="text" [autofocus]="true">
                    <span style="color: #777777">ระบุอีเมล</span>
                </div>
                <div *ngIf="step === 4" class="col-12 col-md-6 col-lg-4">
                    <label class="label-input required-field" for="mobilePhoneInput">
                        เบอร์โทรศัพท์
                    </label>
                    <input [ngClass]="{
                        'is-invalid': 
                          form.get('mobilePhone')?.errors?.['required'] && form.get('mobilePhone')?.touched || 
                          form.get('mobilePhone')?.errors?.['minlength'] && form.get('mobilePhone')?.touched
                      }" class="form-control" data-testid="mobilePhoneInput" placeholder="081 000 0000"
                        mask="000 000 0000" formControlName="mobilePhone" id="mobilePhoneInput" type="text"
                        [autofocus]="true">
                    <span>กรอกหมายเลขโทรศัพท์ 10 หลัก</span>
                </div>
            </form>
        </div>
    </div>
    <div #footer class="footer">
        <hr class="hr-custom mb-3" />
        <div class="btn-footer d-flex justify-content-center gap-3">
            <button class="custom-btn btn-fixed-size-1 btn-type-3" data-testid="backButton" id="backButton"
                title="ย้อนกลับ" (click)="onBack()">
                ย้อนกลับ
            </button>
            <button class="custom-btn btn-fixed-size-1 btn-type-1" data-testid="nextButton" id="nextButton"
                title="ถัดไป" [disabled]="form.invalid" (click)="onNext()">
                ถัดไป
            </button>
        </div>
    </div>
</div>